- if user_signed_in? and current_user.is_admin?
  - content_for :admin_menu do
    li= link_to 'Edit Editor Pick', edit_editor_pick_path(editor_pick)
- if editor_pick.product.active and editor_pick.product.status == Product::STATUS[:approved]
  .pick-controls
    .prev-pick class=(editor_pick.previous.nil? ? 'disabled' : 'enabled')
      - if editor_pick.previous.present?
        = link_to "", editor_pick_path(editor_pick.previous), class: "jcarousel prev"
    .next-pick class=(editor_pick.next.nil? ? 'disabled' : 'enabled')
      - if editor_pick.next.present?
        = link_to "", editor_pick_path(editor_pick.next), class: "jcarousel next"
= link_to image_tag(editor_pick.image.url(:large), class: "editor-pick-img"),  editor_pick.product, class: "img-container"

  

- if editor_pick.product.active and editor_pick.product.status == Product::STATUS[:approved]
  .pick-index 
    span.index = @editor_picks.index(editor_pick) + 1
    span.of OF
    span.total = @editor_picks.count
    - unless editor_pick.description.blank?
      span.lowercase = " - "
      span.description = editor_pick.description
- elsif current_user_is_admin?
  p 
    ' PRODUCT STATUS: 
    span style="color:red" INACTIVE 

.view-editor-pick
  = link_to "VIEW THIS ITEM",  editor_pick.product

  br
  - if current_user_is_admin?    
    = link_to 'Update This Editor Pick', edit_editor_pick_path(editor_pick)
    br
    = link_to 'Delete This Editor Pick', editor_pick_path(editor_pick), confirm: 'are you sure?', :method => :delete

