- title "Editor Pick"
- meta_description "Editor Pick description."
- meta_keywords "Editor Pick"
= form_for(@editor_pick, url: editor_pick_path, multipart: true) do |f|
  - if @editor_pick.errors.any?
    #error_explanation
      h2
        = pluralize(@editor_pick.errors.count, "error")
        |  prohibited this editor pick from being saved:
      ul
        - @editor_pick.errors.full_messages.each do |msg|
          li= msg

  br
  .field
    = f.label :product_id, "Product  ID"
    = f.select :product_id, Product.all.collect{|c| [c.name, c.id] }
  .cl
  .field
    = f.label :description, "description"
    = f.text_field :description
  .cl

  .field
    - if @editor_pick.image(:large).nil?
      h2 Image Not Set
    - else
      h2 Current Image
      = image_tag @editor_pick.image(:large)
  .cl

  .field
    - if @editor_pick.thumbnail(:thumb).nil?
      h2 Thumbnail Not Set
    - else
      h2 Current Thumbnail
      = image_tag @editor_pick.thumbnail(:thumb)
  .cl
  .field  
    = f.label :image
    = f.file_field :image
  .cl
  .field
    = f.label :thumbnail
    = f.file_field :thumbnail
  .cl
  br
  .buttons
    = f.submit "Save", class: "button dark"
.cl