- title "Editor Picks"
- meta_description "Editor Picks description."
- meta_keywords "Editor Picks"
- if user_signed_in? and current_user.is_admin?
  - content_for :admin_menu do
    li 
      = link_to "Create a new editor pick", new_editor_pick_path

ul#editor-pick.big-editor-picks-slider
  - @editor_picks.each do |editor_pick|
    li
      = render partial: "editor_pick", locals: { editor_pick: editor_pick }

  / .pick-controls

  /     .prev-pick 
  /       = link_to "<<", editor_pick_path(@editor_pick.previous), class: @editor_pick.previous.nil? ? 'disabled' : 'enabled'

  /     .pick-index 
  /       = @editor_picks.index(@editor_pick) + 1
  /       |  of 
  /       = @editor_picks.count
      
  /     .prev-pick 
  /       = link_to ">>", editor_pick_path(@editor_pick.next), class: @editor_pick.next.nil? ? 'disabled' : 'enabled'
