h1 New Editor Pick

= form_for(@editor_pick, url: editor_picks_path, multipart: true) do |f|
  - if @editor_pick.errors.any?
    #error_explanation
      h2
        = pluralize(@editor_pick.errors.count, "error")
        |  prohibited this editor pick from being saved:
      ul
        - @editor_pick.errors.full_messages.each do |msg|
          li= msg

  .field
    = f.label :product_id, "Product  ID"
    = f.select :product_id, Product.all.collect{|c| [c.name, c.id] }
  .cl

  .field
    = f.label :image
    = f.file_field :image
  .cl

  .field
    = f.label :thumbnail
    = f.file_field :thumbnail
  .cl

  .buttons
    = f.submit "Save", class: "button dark"
.cl  