- if user_signed_in? and current_user.is_admin?
  - content_for :admin_menu do
    li 
      = link_to "Create a new editor pick", new_editor_pick_path

- cache "views_editor_picks_#{@editor_pick.id}_#{@editor_pick.updated_at}" do
  #editor-pick
    = render partial: "editor_pick", locals: { editor_pick: @editor_pick }