.registration
  h2 Resend confirmation instructions
  .registration_form
    = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      
      p.instruction Please enter your email below. We will send you instruction to this mail box shortly.

      .field
        = f.label :email
        = f.email_field :email
      .cl
      .field
        = f.submit "Submit", class: "button dark"
      .cl