- title "Cart"
- meta_description "cart description."
- meta_keywords "cart"
.cart  
  .page-title
    h3 SHOPPING BAG
    p#cart-continue-shopping
      a href=(continue_shopping_path)
        | Continue Shopping        
    .cl &nbsp;

  - unless @cart.empty?
    = form_tag cart_path(1), method: :put, id: :cart_form do
  		table
  		  tr
  		    th width="190"
  		    	h6 ITEM
  		    th width="220" 
  		    	h6 DESCRIPTION
  		    th width="120" 
  		    	h6 PRICE
  		    th width="120" 
  		    	h6 QTY
  		    th width="134" 
  		    	h6 TOTAL
  		    th width="120"

  		  - @items.each do |item|
  		    tr class="item_entry" data-item-id="#{item.id}"
  		      td = link_to (image_tag item.product.primary_image ? item.product.primary_image.attachment.url(:small) : "default_picture.png"), product_path(item.product)
  		      td
  		      	.name
  		      		= link_to item.product.name, product_path(item.product)
  		      	.designer
  		      		= link_to "By #{item.product.designer.designer_name}", designer_path(item.product.designer)
  		      	.size
  		      		= link_to "#{item.size.us_value}", product_path(item.product)
  		      td.cart_item_price = number_to_currency item.product.price_with_shipping, separator: '.'
  		      td.cart_quantity_input_wrapper = text_field :cart, "#{item.id}", value: @cart["#{item.id}"], style: "width:40px;text-align:center;", data_available_quantity: item.quantity, data_price: item.product.price_with_shipping
  		      td.cart_item_total = number_to_currency item.product.price_with_shipping*@cart["#{item.id}"].to_i, separator: '.'
  		      td.cart_remove_action_wrapper
  		      	= check_box :remove, "#{item.id}"
  		      	span.remove Remove
  		.cart_total
  			= "ORDER SUBTOTAL "
  			span.cart_subtotal #{number_to_currency @items.collect{|i| i.product.price_with_shipping*@cart["#{i.id}"].to_i }.sum, separator: '.'}
  		.cl

  		.cart_buttons
  			= submit_tag "Update Cart", class: "button dark update_cart"			
  			/= link_to "Continue Shopping", continue_shopping_path, class: "button dark continue_shopping", style: "display:none"

    = form_tag checkout_url( protocol: 'https'), method: :post do
      .cart_buttons
        = submit_tag "Checkout", class: "button gray", id: "checkout-button"
  - else
  	| Shop around and come back later

- content_for(:javascript_includes) do
  javascript:
    $(function(){ cart_quantity_to_dropdown(); })
