.cart-popup
  h3 SHOPPING BAG
  
  - if @cart.present?
    ul#cart-items
      
      = form_tag shopping_bag_path(1), method: :put, id: 'cart-popup-form' do
        - @items.each do |item|
          li.cart-item data-item-id=item.id data-item-quantity=@cart[item.id.to_s]
            .picture = link_to (image_tag item.product.primary_image ? item.product.primary_image.attachment.url(:cart_popup) : "default_picture.png"), product_path(item.product)
            .name = link_to item.product.name, product_path(item.product)
            span.by = "by "
            span.designer-name = link_to "#{item.product.designer.designer_name}", designer_path(item.product.designer)
            .size = link_to "#{item.size.us_value}", product_path(item.product)
            .quantity = "QUANTITY #{@cart[item.id.to_s]}"
            .subtotal = "Subtotal #{number_to_currency item.product.price_with_shipping * @cart[item.id.to_s].to_i, separator: '.'}"
            a.remove-item href="#" x
            .remove-item-checkbox = check_box :remove, "#{item.id}", style: 'display:none;'
            div = text_field :cart, "#{item.id}", value: @cart["#{item.id}"], style: 'display:none;'
      = link_to "VIEW SHOPPING BAG", '/shopping_bag', class: 'view-shopping-bag'
      .checkout-form = form_tag checkout_url( protocol: 'https'), method: :post do
        = submit_tag "Checkout", class: "button gray", id: "popup-checkout-button"
      .cl

  - else
    .empty-cart-message
      | your shopping bag is empty
  

