- attachment =  entity.homepage_image.is_a?(FileAttachment) ? entity.homepage_image.attachment : entity.homepage_image
- img = attachment ? (image_tag 'black-bg.png', {'data-src' => attachment.url}) : ""

- if entity.is_a?(HomePageEntity)
  == img
- elsif entity.is_a?(User)
  .img-wrapper
    = link_to designer_path(entity) do
      span.background
      span.phrase
        = HomePageEntity::HOMEPAGE_PHRASES.sample
    == img
- else
  .img-wrapper
    = link_to polymorphic_path(entity) do
      span.background
      span.phrase
        = HomePageEntity::HOMEPAGE_PHRASES.sample
    == img