- content_for :javascript_includes do
  javascript:
    $(function(){
      $( "#hompage_images_sortable" ).sortable({
        update: function( event, ui ) {
          var order = {}; 
          $('#hompage_images_sortable li').each( function(e) {
            var id    = $(this).data('homepage_entity_id');
            var index = $(this).index() + 1;
            order[id] = index;
          });
          $.post("#{admin_home_page_index_url}", {homepage_entities_order: order}, function(){

          })
        },
        start: function(e, ui){
          ui.placeholder.height(ui.item.height());
        },
        revert: true
      })
    })

br
h2 Home Page Entities Admin
br

div
  = form_for HomePageEntity.new do |f|
    = f.file_field :homepage_image
    br
    = f.submit
br
ul#hompage_images_sortable
  - @entities.each do |entity|
    li.ui-state-default data-homepage_entity_id="#{entity.id}"
      div.right  = link_to 'Remove From Home Page', entity, :confirm => 'Are you sure?', :method => :delete

      div.left
        | Entity: 
        = entity.entity ? entity.entity.class.name : "Home Page Element"
        = entity.entity ? " - #{entity.entity.name}" : ""
        br
        - if entity.entity and entity.entity.homepage_image 
          = image_tag  entity.entity.homepage_image.is_a?(FileAttachment) ? entity.entity.homepage_image.attachment.url : entity.entity.homepage_image.url, height: 50  
        - else
          = image_tag entity.homepage_image, height: 50 
      div.left
        - formentity = entity.entity ? entity.entity : entity
        = form_for formentity do |f|
          - if entity.entity and entity.entity.homepage_image.is_a?(FileAttachment)
            = f.fields_for :homepage_image do |file|
              = file.file_field :attachment
          - else
            = f.file_field :homepage_image
          br
          br
          = f.submit
      .cl
  .cl