- content_for :admin_menu do
  li
    = link_to "Home Page Admin", admin_home_page_index_path
- content_for :ready_styles do
  css:
    .shell_homepage {width: 1300px!important;}
- cache "views_home_page_entities" do
  #entities_area
    - @entities.each_with_index do |home_entity, index|
      - entity = (home_entity.entity ? home_entity.entity : home_entity)
      - if entity.homepage_image and ((entity.homepage_image.is_a?(FileAttachment) and !entity.homepage_image.attachment.url.include?("/original/missing.png")) or (!entity.homepage_image.is_a?(FileAttachment) and !entity.homepage_image.url.include?("/original/missing.png")))
          .block
            .element style="height:#{home_entity.height}px;width:240px;"
              = render partial: "home_page_entities", locals: { entity: entity}
.clr
  
    