= f.label :country_id, class: 'required'
= f.select (defined? designer and designer) ? :designer_country_id : :country_id, Country.all.sort_by(&:name).collect{|c| [c.name, c.id] }, { include_blank: true }