= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = hidden_field_tag :view, params[:view]


  .left
    .field
      = f.label :fname
      = f.text_field :fname
    .cl
    .field
      = f.label :lname
      = f.text_field :lname
    .cl

    .field
      = f.label :email
      = f.email_field :email
    .cl

    .field
      = label "change_password", "Change Password"
      = check_box_tag "change_password"
    .cl

    .change_password style="display:none"
      .field
        = f.label :password
        = f.password_field :password
      .cl
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      .cl


  .right
    .field
      = f.label :gender
      .gender
        = f.radio_button :gender, User::GENDER[:male]
        = f.label :gender_2, "Male"
        = f.radio_button :gender, User::GENDER[:female]
        = f.label :gender_1, "Female"
    .cl
    .field.dob
      = f.label :dob
      = f.date_select :dob, :order => [:day, :month, :year], :start_year => 1930, :end_year => Date.today.year, :include_blank => true
    .cl

  .cl

  / .email_preferences
  /   h5 Email Preferences
  /   ul
  /     - User::EMAIL_PREFERENCES.each do |key, value|
  /       li
  /         = hidden_field_tag "user[email_preferences][#{key}]", "0"
  /         = check_box_tag "user[email_preferences][#{key}]", "1", resource.email_preferences["#{key}"] == "1"
  /         = label_tag "user[email_preferences][#{key}]", value


  .buttons= f.submit "Save", class: "button dark"
.cl