h2
  | Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  div
    = f.label :email
    br/
    = f.email_field :email
  div
    = f.label :password
    i (leave blank if you dont want to change it)
    br/
    = f.password_field :password
  div
    = f.label :password_confirmation
    br/
    = f.password_field :password_confirmation
  div
    = f.label :current_password
    i (we need your current password to confirm your changes)
    br/
    = f.password_field :current_password

  div
    = f.label :fname
    br/
    = f.text_field :fname
  div
    = f.label :lname
    br/
    = f.text_field :lname
  div
    = f.label :address1
    br/
    = f.text_field :address1        
  div
    = f.label :address2
    br/
    = f.text_field :address2
  div
    = f.label :zipcode
    br/
    = f.text_field :zipcode
  div
    = f.label :city
    br/
    = f.text_field :city
  div
    = render partial: "country_select_box", locals: { f: f }
    
  div
    = f.label :phone
    br/
    = f.text_field :phone    
  
  .buttons= f.submit "Update", class: "button dark"
.cl
/ h3 Cancel my account
/ p
/   | Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
