.registration
  h2 Designers - Apply to Be Featured
  .registration_form#new_designer_form
    - # if current user, create an update form, else a form that creates a new user 
    - if current_user
      - entity = current_user
      - args = [entity, { url: become_designer_path, method: :post }]   
    - else
      - entity = resource
      - args = [entity, { :as => resource_name, :url => designer_sign_up_path, :html => { :multipart => true } } ]

      / form to allow users with existing accounts to log in via a modal
      div style="display:none;" 
        #login-popup
          = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            .login_field
              = f.email_field :email, class: :blink
            .login_field
              = f.password_field :password
            = f.submit "LOGIN", class: "button pink"
            .cl
 
    = send(:form_for, *args) do |f|
      - entity.errors.full_messages.each do |msg|
        p = msg
      - unless current_user
        .account-info
          h3 Account Information
          = link_to "I am already a ZIBA Style member", '#login-popup', class: "designer-already-has-account popup"
 
              



          .field
            = f.label :email, class: 'required'
            = f.email_field :email
          .cl

          / .field
          /   = f.label :password, class: 'required'
          /   = f.password_field :password
          / .cl

          / .field
          /   = f.label :password_confirmation, class: 'required'
          /   = f.password_field :password_confirmation
          / .cl

          / .field /   = f.label :fname, class: 'required'
          /   = f.text_field :fname
          / .cl

          / .field
          /   = f.label :lname, class: 'required'
          /   = f.text_field :lname
          / .cl

          / .field
          /   = f.label :gender, class: 'required'       

          /   = f.label :gender_2, 'Male',    class: 'narrow'
          /   = f.radio_button :gender, '2',  class: 'narrow'

          /   = f.label :gender_1, 'Female',  class: 'narrow'
          /   = f.radio_button :gender, '1',  class: 'narrow'
                    
          .cl

          / .field
          /   = f.label :address1, class: 'required'
          /   = f.text_field :address1        
          / .cl

          / .field
          /   = f.label :address2
          /   = f.text_field :address2
          / .cl

          / .field
          /   = f.label :zipcode, class: 'required'
          /   = f.text_field :zipcode
          / .cl

          / .field
          /   = f.label :state, class: 'required'
          /   = f.text_field :state
          / .cl



          / .field
          /   = f.label :phone, class: 'required'
          /   = f.text_field :phone    
          / .cl

      .designer-info
        h3 Designer Information
        .field
          = f.label :designer_name, class: 'required'
          = f.text_field :designer_name
        .cl

        / .field
        /   = f.label :designer_biography, class: 'required'
        /   = f.text_area :designer_biography
        / .cl

        .field.black-select
          /= render partial: "country_select_box", locals: { f: f, designer: true }
          = render partial: "/devise/registrations/country_select_box", locals: { f: f, designer: true }
        .cl

        .field
          = f.label :designer_city, class: 'required'
          = f.text_field :designer_city
        .cl
        
        .field
          = f.label :designer_portfolio_url, class: 'required'
          = f.text_field :designer_portfolio_url
          br
          .more Link to portfolio/lookbook
        .cl

        = f.fields_for :portfolio_docs do |file|
          .field.upload-file-field
            /= file.label :attachment
            = file.file_field :attachment, class: 'no-label', id: 'file', tabindex: '-1'
            .more PDF portfolio / lookbook < 5MB
          .cl        
      .cl
      br
      br
      br
      br

      p.left.faq_link Questions? Read our #{link_to "FAQ", faq_path}

      .field  
        = f.submit "Submit", class: "button pink"
        .terms_of_service By joining, you agree to ZIBA Style's #{link_to "Terms of Use", "/terms_of_service"}
      .cl
