doctype html
html
  head
    title ZIBAStyle
    = stylesheet_link_tag   "application", :media => "all"
    = stylesheet_link_tag   "https://fonts.googleapis.com/css?family=GFS+Didot"
    = javascript_include_tag "application"
    = yield(:javascript_includes) if content_for?(:javascript_includes) 

    = csrf_meta_tags
    link href="/favicon.ico" rel="shortcut icon"
  body.customer_registration_page
    /! Shell
    .shell
      /! Header
      #header
        /! Header top
        .header-top
          h1#logo
            = link_to 'Ziba', root_path
          .right
            = render :partial => '/layouts/menu'
          .cl &nbsp;

      /! Main
      #main
        - if !notice.blank? or !alert.blank?
          .alert_messages
            - if !notice.blank?
              p.notice= notice
            - if !alert.blank?
              p.alert= alert
            = link_to "X", "#", class: :alert_messages_button

        .login.dark
        == image_tag '/assets/css/login_decoration_alt.jpg', style: "height:100%;position:absolute;right:0;z-index:-5;top:0;opacity: 0.4;filter: alpha(opacity=40);", class: 'login-bg'
        .customer_registration
          h2 Registration
          = form_for(resource, :as => resource_name, :url => customer_sign_up_path, html: { id: 'new_customer_form' }) do |f|
            = devise_error_messages!

            / .field
            /   = f.label :invitation_token, class: 'required'
            /   = f.text_field :invitation_token
            / .cl

            = f.hidden_field :invitation_token

            / h3 Account Information  
            .field
              = f.label :email, class: 'required'
              = f.email_field :email
            .cl
            .field
              = f.label :password, class: 'required'
              = f.password_field :password
            .cl
            .field
              = f.label :password_confirmation, class: 'required'
              = f.password_field :password_confirmation
            .cl
            / .field
            /   = f.label :fname, class: 'required'
            /   = f.text_field :fname
            / .cl
            / .field
            /   = f.label :lname, class: 'required'
            /   = f.text_field :lname
            / .cl
            / .field
            /   = f.label :gender, class: 'required'  

            /   = f.label :gender_1, 'Female',  class: 'narrow'
            /   = f.radio_button :gender, '1',  class: 'narrow'
                      
            /   = f.label :gender_2, 'Male',    class: 'narrow'
            /   = f.radio_button :gender, '2',  class: 'narrow'

            / .cl
            / .field
            /   = f.label :address1, class: 'required'
            /   = f.text_field :address1    
            / .cl    
            / .field
            /   = f.label :address2
            /   = f.text_field :address2
            / .cl
            / .field
            /   = f.label :zipcode, class: 'required'
            /   = f.text_field :zipcode
            / .cl
            / .field
            /   = f.label :state, class: 'required'
            /   = f.text_field :state
            / .cl
            / .field
            /   = f.label :city, class: 'required'
            /   = f.text_field :city
            / .cl
            / .field
            /   = render partial: "country_select_box", locals: { f: f }
            / .cl
            / .field
            /   = f.label :phone, class: 'required'
            /   = f.text_field :phone
            / .cl

            .field.checkbox
              / = f.check_box :terms_of_service
              / = f.label :terms_of_service, "by checking I accept the #{link_to "Terms of service", "/terms_of_service"}".html_safe
              = f.label :terms_of_service, "By joining, you agree to ZIBA Style's #{link_to "Terms of Use", "/terms_of_service"}".html_safe


            .cl  
            .field
              = f.submit "Sign up", class: "button dark"
            .cl
        
      .cl

        /! end Main
        /! Footer
    = render :partial => '/layouts/footer'
