doctype html
html
  head
    title ZIBAStyle
    = stylesheet_link_tag   "application", :media => "all"
    = stylesheet_link_tag   "https://fonts.googleapis.com/css?family=GFS+Didot"
    = javascript_include_tag "application"
    = yield(:javascript_includes) if content_for?(:javascript_includes) 

    = csrf_meta_tags
    link href="/favicon.ico" rel="shortcut icon"
  body.customer_registration_page
    /! Shell
    .shell
      /! Header
      #header
        /! Header top
        .header-top
          h1#logo
            = link_to 'Ziba', root_path
          .right
          .cl &nbsp;

      /! Main
      #main
        - if !notice.blank? or !alert.blank?
          .alert_messages
            - if !notice.blank?
              p.notice= notice
            - if !alert.blank?
              p.alert= alert
            = link_to "X", "#", class: :alert_messages_button

        .alert_messages
          p.alert You need to set a password to continue
          = link_to "X", "#", class: :alert_messages_button


        .login.dark
        == image_tag '/assets/css/login_decoration_alt.jpg', style: "height:100%;position:absolute;right:0;z-index:-5;top:0;opacity: 0.4;filter: alpha(opacity=40);", class: 'login-bg'
        .customer_registration
          h2 Registration
          = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
            = devise_error_messages!

            / .field
            /   = f.label :invitation_token, class: 'required'
            /   = f.text_field :invitation_token
            / .cl

            = f.hidden_field :authentication_token

            / h3 Account Information  
            .field
              = f.label :email, class: 'required'
              = f.email_field :email
            .cl
            .field
              = f.label :password, class: 'required'
              = f.password_field :password
            .cl
            .field
              = f.label :password_confirmation, class: 'required'
              = f.password_field :password_confirmation
            .cl
          
            .field.checkbox
              / = f.check_box :terms_of_service
              / = f.label :terms_of_service, "by checking I accept the #{link_to "Terms of service", "/terms_of_service"}".html_safe
              = f.label :terms_of_service, "By joining, you agree to ZIBA Style's #{link_to "Terms of Use", "/terms_of_service", target:"_blank"}".html_safe


            .cl  
            .field
              = f.submit "Sign up", class: "button dark"
            .cl
          
        .cl

          /! end Main
          /! Footer
        = render :partial => '/layouts/footer'
