= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :address1
    = f.text_field :address1        
  .cl

  .field
    = f.label :address2
    = f.text_field :address2
  .cl

  .field
    = f.label :city
    = f.text_field :city
  .cl

  .field
    = f.label :zipcode
    = f.text_field :zipcode
  .cl

  .field
    = f.label :state
    = f.text_field :state    
  .cl

  .field
    = render partial: "country_select_box", locals: { f: f }
  .cl

  .field
    = f.label :phone
    = f.phone_field :phone    
  .cl
  
  = hidden_field_tag :view, params[:view]

  .buttons
    = f.submit "Save", class: "button dark"
.cl
