- title "Create Search"
- meta_description "Create Search description."
- meta_keywords "Search"
div.search-meta
  div = "You searched for: #{@query}"  
  div.detail = "Products: #{@products.count}"
  div.detail = "Countries: #{@countries.count}"
  div.detail = "Categories: #{@categories.count}"  
  div.detail = "Designers: #{@designers.count}"

- unless @countries.empty?
  
  div.search-results.countries    
    h2 Countries
    ul.countries
      - @countries.each do |country|
        li
          a href=(country_path(country))
            = country.name

- unless @categories.empty?  
  div.search-results.categories 
    h2 Categories
    ul.categories
      - @categories.each do |category|
        li
          a href=(category_path(category))
            = category.name



/ designers
- unless @designers.empty?  
  div.search-results.designers
    h2 Designers
    ul.designers
      - @designers.each do |designer|
        li
          a href=(designer_path(designer))
            span.country-flag = image_tag designer.designer_country.flag.url(:small)
            span.designer-name = "#{designer.designer_name}" 
  
/ products
- unless @products.empty?  
  div.search-results.products  
    h2 Products
    ul.products
      - @products.each do |product|
        li 
          h5 
            = link_to product.name, product
            span.price = number_to_currency(product.price_with_shipping, separator: '.')

          - unless product.pictures.empty? || product.pictures.first.attachment.url(:small).nil?
            = image_tag product.pictures.first.attachment.url(:small)

          - unless product.designer.designer_name.blank? and product.short_description.blank?
            div.column
              .designer 
                |Designed By 
                = product.designer.designer_name
              .description = product.short_description

          - unless product.product_measurements.blank? and product.materials.blank?
            div.column
              - unless product.product_measurements.blank?
                .history 
                  b Product Measurements
                  = product.product_measurements
              - unless product.materials.blank?           
                .materials
                  b Materials
                  = product.materials
          - unless product.inspiration.blank?
            div.column
              .inspiration 
                b Inspiration
                = product.inspiration


          

    
    
