table style="display:block;border-collapse:collapse;"
  tr
    td width="25"
    td width="600" style="font-size: 14px;font-weight: 100;line-height: 20px;text-align:center;letter-spacing: 0px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;"
      p #{link_to "#{@designer.fname} #{@designer.lname}", designer_url(@designer)} has submitted a product for approval.
      br
      p #{link_to "View product for approval", product_url(@product)}
      br
    td width="25"
  tr
    td width="25"
    td width="600" height="10"
    td width="25"