p
  = "Hi #{@admin.fname} #{@admin.lname}"
br
p
  | The following designer #{@designer.designer_name} would like his/her boutique to be activated.
  br
  | Click
  = link_to('here', edit_designer_url(@designer))
  ' to access their settings.
  br  
  | Thanks