table style="border-collapse:collapse;"
  tr
    td width="25"
    td width="600" style="font-size: 14px;font-weight: 100;line-height: 20px;letter-spacing: 0px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;"
      


      table style="border-collapse:collapse;" width="600"
        tr
          td width="400" style="border-bottom:solid 1px grey"
            p style="font-size: 14px;font-weight: 100;font-family:'HelveticaLightRegular',Helvetica,arial,sans-serif;color:gray;"
              | #{@invitation.from_user.fname} #{@invitation.from_user.lname} has shared a style with you
          td width="200" style="border-bottom:solid 1px grey" align="right"
             = link_to (image_tag "http://www.ziba-style.com/assets/email_view_buy_now_btn.png", alt:'Buy Now'), product_url(@product), title:'Buy Now'

      p Message from #{@invitation.from_user.fname} #{@invitation.from_user.lname}

      p #{simple_format @invitation.message}

      table style="border-collapse:collapse;"
        tr
          td width="220"
            = (image_tag @product.primary_image.attachment.url, style:"width:190px;", alt:'Product Image') if @product.primary_image
          td width="380" valign="top"
            p #{@product.name}
            p by #{@product.designer.designer_name} (#{@product.designer.country.name if @product.designer.country})
            p 
              | Inspiration behind this piece: 
              br
              #{@product.short_description}
            table
              tr
              td
                p #{link_to (image_tag "http://www.ziba-style.com/assets/email_view_buy_now_btn.png", alt:'Buy Now'), product_url(@product), title:'Buy Now'}
              td
                p style="font-size:12px;" Not a member? Use this #{link_to "invitation", customer_sign_up_with_invitation_url(@invitation.token, {email: @invitation.email})} to access the site

        tr
          td width="200" height="15" style="border-bottom:solid 1px grey"
          td width="400" height="15" style="border-bottom:solid 1px grey"
        tr
          td width="200" height="20"
          td width="400" height="20"

      table style="border-collapse:collapse;"
        tr
          td width="195" valign="top"
            p style="font-size: 14px;font-weight: 100;line-height: 20px;letter-spacing: 0px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;font-style:italic;" #{link_to "View more by this designer", designer_url(@product.designer)}

          - @product.designer.products.featured.limit(3).each do |product|
            - if product.primary_image
              td width="135" valign="top"
                = link_to "#{image_tag product.primary_image.attachment.url, style:"width:110px", alt:'Product Image'}<p style=\"color:black;text-decoration:none;\">#{product.name}</p>".html_safe, product_url(product), style:"text-decoration:none;", title:'Product Image'

        tr
          td height="15" colspan="4"
    td width="25"
  tr  
    td width="650" height="3" colspan="3"


