table style="border-collapse:collapse;"
  tr
    td width="25"
    td width="600" style="font-size: 14px;font-weight: 100;line-height: 20px;letter-spacing: 0px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;"
      p Dear #{@designer.fname},
      p A customer has just placed an order from your boutique.
      p Please review the #{link_to "order details", designer_order_url(@designer_order)}, prepare the shipment, and schedule a pick-up appointment with your local UPS office.
      p You have designated a lead time of #{@designer_order.max_lead_days} days for this order: the customer should receive the shipment by #{ ((@designer_order.max_lead_days) +4).day.from_now.strftime("%d, %B %Y")}    
    td width="25"
  tr  
    td width="650" height="10" colspan="3"

table style="border-collapse:collapse;font-size: 12px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;"
  tr
    td width="25"  height="25"
    td width="290"  height="25" style="border-top:solid black 1px;border-bottom:solid black 1px;border-left:solid black 1px;padding-left:10px;"
      strong Order Number: #{@designer_order.order.id}
    td width="290"  height="25" align="right" style="border-right:solid black 1px;border-top:solid black 1px;border-bottom:solid black 1px;padding-right:10px;"
      strong Ordered on #{@designer_order.order.created_at.to_date.to_formatted_s(:long)}
    td width="25"  height="25"
  tr
    td width="25" height="110"
    td width="300" style="border-top:solid black 1px;border-right:solid black 1px;border-left:solid black 1px;" height="110"
      table style="border-collapse:collapse;"
        tr
          td valign="top" width="90" align="center"
            strong Bill to
          td valign="top"
            | #{@designer_order.order.billing_fname} #{@designer_order.order.billing_lname}
            br
            | #{@designer_order.order.billing_address1} #{@designer_order.order.billing_address2}
            br
            | #{@designer_order.order.billing_city}, #{!@designer_order.order.billing_state.blank? ? "#{@designer_order.order.billing_state}, " : ""}#{@designer_order.order.billing_zipcode}
            br
            | #{@designer_order.order.billing_country.name unless @designer_order.order.billing_country.blank? }
            br
            | #{@designer_order.order.billing_phone}
    td width="300" style="border-right:solid black 1px;border-left:solid black 1px;" height="110"
      table style="border-collapse:collapse;"
        tr
          td valign="top" width="90" align="center"
            strong Ship to
          td valign="top"      
            | #{@designer_order.order.shipping_fname} #{@designer_order.order.shipping_lname}
            br
            | #{@designer_order.order.shipping_address1} #{@designer_order.order.shipping_address2}
            br
            | #{@designer_order.order.shipping_city}, #{!@designer_order.order.shipping_state.blank? ? "#{@designer_order.order.shipping_state}, " : ""}#{@designer_order.order.shipping_zipcode}
            br
            | #{@designer_order.order.shipping_country.name unless @designer_order.order.shipping_country.blank?}
            br
            | #{@designer_order.order.shipping_phone}
    td width="25" height="110"
table style="border-collapse:collapse;"
  tr
    td width="25"
    td width="600" height="25" style="background-color:#A9A47F;color:#4B4B49;border-left:solid 1px black;border-right:solid 1px black;padding-left:10px;font-weight:bold;" Order details
    td width="25"
  tr
    td width="25"
    td width="600" height="20" style="border-left:solid 1px black;border-right:solid 1px black;"
    td width="25"
table style="border-collapse:collapse;"
  tr
    td width="25"
    td width="600" style="border-bottom:solid black 1px;border-right:solid black 1px;border-left:solid black 1px;margin:0;padding:0;"
      table style="text-align:center;border-collapse:collapse;"
        tr style="background-color:black;color:white;"
          th style="background-color:black;color:white;font-weight:100;" width="80" height="30" valign="middle" ITEM
          th style="background-color:black;color:white;font-weight:100;" width="210" height="30" valign="middle" align="left" PRODUCT INFO
          th style="background-color:black;color:white;font-weight:100;" width="50" height="30" valign="middle" QUANTITY
          th style="background-color:black;color:white;font-weight:100;" width="90" height="30" valign="middle" PRICE
          th style="background-color:black;color:white;font-weight:100;" width="50" height="30" valign="middle" TAX
          th style="background-color:black;color:white;font-weight:100;" width="90" height="30" valign="middle" ITEM TOTAL
        - @designer_order.order_items.each do |order_item|

          tr
            td = image_tag !order_item.item.product.primary_image.blank? ? order_item.item.product.primary_image.attachment.url(:mini) : "product_missing.png"
            td align="left"
              p = link_to order_item.item.product.name, product_url(order_item.item.product)
              p #{order_item.item.product.short_description}
              p Size: #{order_item.item.size.us_value}

            td
              span #{order_item.quantity}
            td
              span #{number_to_currency order_item.total}
            td
              span #{number_to_currency order_item.total_tax}
            td
              span #{number_to_currency order_item.total_with_tax}

      table style="background-color:#E6E6E6;font-style:italic"
        tr valign="bottom"
          td width="400" height="30"
          td width="120" height="30" Order Subtotal:
          td width="80" height="30"
            em #{number_to_currency @designer_order.total }
        tr
          td width="400"
          td width="120" Taxes:
          td width="80"
            em #{number_to_currency @designer_order.total_tax }
        tr valign="top"
          td width="400" height="30"
          td width="120" height="30"
            strong Order Total:
          td width="80" height="30"
            strong
              em #{number_to_currency @designer_order.total_with_tax }

    td width="25"
