html
  head
    <meta content="text/html; charset=UTF-8; format='flowed'" http-equiv="Content-Type" />
    <style type="text/css">.ReadMsgBody {width: 100%;} .ExternalClass {width: 100%;}</style>
    title ZIBA Style
  body
    div style="text-align:center;"
      p style="color:#a6a6a6" To ensure delivery to your inbox, please add <a href="mailto:support@ziba-style.com">support@ziba-style.com</a> to your address book.
      div style="margin-left:auto;margin-right:auto;width:100%;text-align:left;"
        table align="center" style="border-collapse:collapse;"
          tr
            td width="25"
            td width="600" style="font-size: 14px;font-weight: 100;line-height: 20px;letter-spacing: 0px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;text-align:center;"
              
              p style="height:89px;" = image_tag "http://www.ziba-style.com/assets/email_approve_boutique_img.png", alt:'approve boutique'

              p style="font-size:18px;" Dear #{@designer.fname},

              p style="font-size:18px;" Congratulations - your ZIBA Style boutique is ready to be edited.


              p style="height:43px;" = link_to (image_tag "http://www.ziba-style.com/assets/email_view_my_boutique_btn.png", alt:'view my boutique'), designer_url(@designer), title:'view my boutique'

              p style="font-size:18px;" For any questions, do not hesitate to contact us directly at
              p style="font-size:18px;" = link_to "designer.concierge@ziba-style.com", "mailto:designer.concierge@ziba-style.com"

            td width="25"
          tr  
            td width="650" height="10" colspan="3"
      p style="color:#a6a6a6" This email is being sent to you by ZIBA Style Inc


