table style="border-collapse:collapse;"
  tr
    td width="25"
    td width="600" style="font-size: 14px;font-weight:100;line-height:20px;text-align:center;letter-spacing: 0px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;"
      p Thank you for submitting your application to ZIBA Style. Our curation team will be in touch with you as soon as possible   
      br
    td width="25"
  tr  
    td width="650" height="10" colspan="3"
