doctype transitional
html
  head
    <meta content="text/html; charset=UTF-8; format='flowed'" http-equiv="Content-Type" />
    <style type="text/css">.ReadMsgBody {width: 100%;} .ExternalClass {width: 100%;}</style>
    title ZIBA Style
  body
    div style="text-align:center;"
      p style="color:#a6a6a6" To ensure delivery to your inbox, please add <a href="mailto:support@ziba-style.com">support@ziba-style.com</a> to your address book.
      div style="margin-left:auto;margin-right:auto;width:100%;text-align:left;"
        table align="center" style="border-collapse:collapse;border-left:solid 1px black;border-right:solid 1px black;margin:auto;" width="650"
          tr
            td style="padding:0;"
              table style="border-collapse:collapse;"
                tr
                  td style="background-color:black;" width="650" height="15" colspan="3"
                tr
                  td style="background-color:black;" width="287" height="33"
                  td style="background-color:black;line-height:0;" width="76" height="33"
                    = link_to (image_tag 'http://www.ziba-style.com/assets/css/logo.png', style:"display:block;", alt:'Ziba Style', width:76, height:33), "http://www.ziba-style.com", title:'Ziba Style'
                  td style="background-color:black;" width="287" height="33"
                tr
                  td style="background-color:black;" width="650" height="15" colspan="3"
              table
                tr
                  td height="10"
              table style="border-collapse:collapse;"
                tr
                  td width="25"
                  td width="600" style="font-size: 14px;font-weight: 100;line-height:20px;letter-spacing:0px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;"
                    p Dear #{@designer.fname} #{@designer.lname}
                    p The following product you submitted has been approved, and will be featured for sale in your boutique.
                  td width="25"
                tr
                  td width="650" height="10" colspan="3"
              table style="display:inline-block;"
                tr
                  td width="25"
                  td width="600" style="border-bottom:solid #000000 1px;border-right:solid #000000 1px;border-left:solid #000000 1px;"
                    table style="text-align:center;border-collapse:collapse;"
                      tr style="background-color:black;color:white;"
                        th style="background-color:#000000;color:#ffffff;font-weight:100;" width="120" height="30" valign="middle" ITEM
                        th style="background-color:#000000;color:#ffffff;font-weight:100;" width="180" height="30" valign="middle" align="left" PRODUCT INFO
                        th style="background-color:#000000;color:#ffffff;font-weight:100;" width="150" height="30" valign="middle" CATEGORY
                        th style="background-color:#000000;color:#ffffff;font-weight:100;" width="150" height="30" valign="middle" PRICE
                      tr
                        td = image_tag !@product.primary_image.blank? ? @product.primary_image.attachment.url(:mini) : "product_missing.png", style:"display:inline-block;"
                        td align="left"
                          p = link_to @product.name, product_url(@product)
                          p #{@product.short_description}
                        td
                          span #{@product.primary_categories.name if @product.primary_categories}
                        td
                          span #{number_to_currency @product.price}
                  td width="25"
              table style="display:inline;"
                tr
                  td height="10"
              table style="display:inline;border-collapse:collapse;"
                tr
                  td width="25"
                  td width="600" style="font-size: 16px;font-weight: 100;line-height: 20px;letter-spacing: 0px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;text-align:center;"
                    p #{ link_to "View this product", product_url(@product) }
                    p #{ link_to "Upload more products", products_url }
                  td width="25"
                tr
                  td width="650" height="10" colspan="3"
              table
                tr
                  td height="10"
              table style="border-collapse:collapse;color:#ffffff;" bgcolor="#000000"
                tr
                  td width="650" height="15" colspan="3"
                tr
                  td width="25"
                  td width="600"
                    table style="display:block;border-collapse:collapse;"
                      tr
                        td width="300" align="left"
                          = link_to (image_tag "http://www.ziba-style.com/assets/email_view_my_account_btn.png", style:"display:block;", width:'198', height:'43', alt:'My Account'), "http://www.ziba-style.com/account", title:'My Account'
                        td width="300" align="right"
                          = link_to (image_tag "http://www.ziba-style.com/assets/email_view_shop_word_btn.png", style:"display:block;", width:'198', height:'43', alt:'Shop The World'), "http://www.ziba-style.com", title:'Shop The World'
                  td width="25"
                tr
                  td width="25" height="33"
                  td width="600" height="33"
                    table style="display:inline-block;border-collapse:collapse;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;"
                      tr
                        td height="33"
                          span = link_to (image_tag "http://www.ziba-style.com/assets/css/face-icon.png", style:"display:block;", alt:'fb', width: 6, height: 10), "https://www.facebook.com/ZibaStyle", title:'fb'
                        td height="33" style="padding-left:8px;"
                          span = link_to (image_tag "http://www.ziba-style.com/assets/css/twitter-icon.png", style:"display:block;", alt:'tw', width: 6, height: 10), "https://twitter.com/#!/ZIBASTYLE", title:'tw'
                        td height="33" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;"
                          span = link_to "About", about_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                        td height="33" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;"
                          span = link_to "Style Directory", style_directory_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                        td height="33" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;"
                          span = link_to "Privacy", privacy_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                        td height="33" valign="middle" align="center"
                          span = link_to "Terms", terms_of_service_url, style:"color:#ffffff;text-decoration:none;font-size:8px;text-transform:uppercase; letter-spacing:2px;padding-left:20px;"
                        td height="33" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;"
                          span = link_to "Shipping & Returns", shipping_and_returns_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                        td height="33" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;"
                          span = link_to "FAQ", faq_url, style:"color:#ffffff;text-decoration:none;font-size:8px;padding-left:20px;"
                        td height="33" valign="middle" align="right" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;"
                          span = link_to "Contact", contact_us_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                  td style="background-color:black;" width="25" height="33"
                tr
                  td width="25"
                  td style="background-color:#000000;" width="600" height="15"
                  td width="25"
      p style="color:#a6a6a6" This email is being sent to you by ZIBA Style Inc