doctype html
html
  head
    <meta content="text/html;charset=UTF-8;format='flowed'" http-equiv="Content-Type"/>
    <style type="text/css">.ReadMsgBody {width:100%;} .ExternalClass {width:100%;}</style>
    title ZIBA Style
  body
    div style="text-align:center;"
      p style="color:#a6a6a6" To ensure delivery to your inbox, please add <a href="mailto:support@ziba-style.com">support@ziba-style.com</a> to your address book.
      div style="margin-left:auto;margin-right:auto;width:100%;text-align:left;"
        table align="center" style="border-collapse:collapse;border-left:solid 1px black;border-right:solid 1px black;margin:auto;" width="650"
          tr
            td style="padding:0;"
              table style="border-collapse:collapse;"
                tr
                  td style="background-color:black;" width="650" height="15" colspan="3"
                tr
                  td style="background-color:black;" width="287" height="33"
                  td style="background-color:black;line-height:0;" nowrap="" width="76" height="33"
                    = link_to (image_tag 'http://www.ziba-style.com/assets/css/logo.png', alt:'Ziba Style', style:'display:block;', width:76, height:33), "http://www.ziba-style.com", title: 'Ziba Style'
                  td style="background-color:black;" width="287" height="33"
                tr
                  td style="background-color:black;" width="650" height="15" colspan="3"
              table
                tr
                  td height="10"
                    table cell-padding="0" cell-spacing="0" style="display:inline;border-collapse:collapse;"
                      tr
                        td width="25"
                        td width="600" nowrap="" style="padding-top:20px;font-size:14px;font-weight:100;line-height:20px;letter-spacing:0px;font-family:'HelveticaLightRegular',Helvetica,arial,sans-serif;color:gray;text-align:center;"
                          div style="height:20px;"
                          div style="height:60px;font-size:30px;font-weight:100;font-family:'HelveticaLightRegular', Helvetica,arial,sans-serif;color:gray;text-align:center;"
                            | YOU'RE INVITED.
                          div style=";font-size:24px;line-height:1.4;font-weight:100;font-family:'HelveticaLightRegular',Helvetica,arial,sans-serif;color:gray;text-align:center;"
                            | #{@invitation.from_user.fname} #{@invitation.from_user.lname} has invited you to become a member of ZIBA Style, an exclusive members only site giving you access to virtual shopping trips around the world.
                          div style="padding-top: 20px;padding-bottom:20px;"
                            = link_to (image_tag "http://www.ziba-style.com/assets/email_view_accept_invitation_btn.png", alt:'Accept Invitation', width: 198, height: 43), customer_sign_up_with_invitation_url(@invitation.token, {email: @invitation.email}), title:'Accept Invitation'
                          div style="color:gray;line-height:1.6;"
                            | Ever wondered where you could pick up a Panama hat, Jaipuri Jewels, and a Nigerian caftan all in one shopping trip? Visit ZIBA Style, the online shopping destination that connects you with the best in locally inspired luxury from around the world.
                          div style="color:gray;line-height:1.6;"
                            | From Mumbai to Miami and Bali to Beirut, our curators bring you the world's most unique luxury designs at the click of a button, allowing you to shop directly from exotic designers worldwide.
                          div style="line-height:1.6;display:inline-block;width:598px;height:65px;" #{@invitation.message}
                          table style="border-collapse:collapse;"
                            tr
                              td width="150" align="left"
                                = link_to (image_tag "http://www.ziba-style.com/assets/email_view_my_account_btn.png", alt:'My Account', style:'display:block;', width:198, height:43), "http://www.ziba-style.com/account", title:'My Account'
                              td width="300" align="center"
                                = image_tag "http://www.ziba-style.com/assets/email_view_jewelry.jpg", alt:'view jewelry', width: 200, height: 200, style:'display:block;'
                              td width="150" align="right"
                                = link_to (image_tag "http://www.ziba-style.com/assets/email_view_shop_word_btn.png", alt:'Shop The World', style:'display:block;', width: 198, height: 43), "http://www.ziba-style.com", title:'Shop The World'
                        td width="25"
              table cell-padding="0" cell-spacing="0" style="border-collapse:collapse;background-color:#000000;color:#ffffff;"
                tr
                  td width="25" height="33"
                  td width="600" height="33" nowrap=""
                    table style="display:inline-block;border-collapse:collapse;font-family:'HelveticaLightRegular',Helvetica,arial,sans-serif;"
                      tr
                        td height="33"
                          = link_to (image_tag "http://www.ziba-style.com/assets/css/face-icon.png", alt:'fb', style:'display:block;', width:6, height:10), "https://www.facebook.com/ZibaStyle", title:'fb'
                        td height="33" style="padding-left:8px;"
                          = link_to (image_tag "http://www.ziba-style.com/assets/css/twitter-icon.png", alt:'tw', style:'display:block;', width:6, height:10), "https://twitter.com/#!/ZIBASTYLE", title:'tw'
                        td height="33" valign="middle" align="center" style="text-transform:uppercase;letter-spacing:2px;padding-left:20px;"
                          = link_to "About", about_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                        td height="33" nowrap="" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;"
                          span style="text-transform:uppercase;letter-spacing:2px;font-size:8px;"
                            = link_to "Style Directory", style_directory_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                        td height="33" valign="middle" align="center"
                          = link_to "Privacy", privacy_url, style:"text-transform:uppercase; letter-spacing:2px;padding-left:20px;color:#ffffff;text-decoration:none;font-size:8px;"
                        td height="33" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;"
                          = link_to "Terms", terms_of_service_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                        td height="33" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;"
                          = link_to "Shipping & Returns", shipping_and_returns_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                        td height="33" valign="middle" align="center" style="text-transform:uppercase;letter-spacing:2px;padding-left:20px;"
                          span style="text-transform:uppercase;letter-spacing:2px;font-size:8px;"
                            =link_to "FAQ", faq_url, style:"color:#ffffff !important;text-decoration:none;"
                        td height="33" valign="middle" align="right"
                          = link_to "Contact", contact_us_url, style:"text-transform:uppercase; letter-spacing:2px;padding-left:20px;color:#ffffff;text-decoration:none;font-size:8px;"
                  td style="background-color:black;" width="25" height="33"
      p style="color:#a6a6a6" This email is being sent to you by ZIBA Style Inc
