html
  head
    <meta content="text/html; charset=UTF-8; format='flowed'" http-equiv="Content-Type" />
    <style type="text/css">.ReadMsgBody {width: 100%;} .ExternalClass {width: 100%;}</style>
    title ZIBA Style
  body
    div style="text-align:center;"
      p style="color:#a6a6a6" To ensure delivery to your inbox, please add <a href="mailto:support@ziba-style.com">support@ziba-style.com</a> to your address book.
      div style="margin-left:auto;margin-right:auto;width:100%;text-align:left;"
        table align="center" style="border-collapse:collapse;border-left:solid 1px black;border-right:solid 1px black;margin:auto;" width="650"
          tr
            td style="padding:0;"
              table style="border-collapse:collapse;"
                tr
                  td style="background-color:black;" width="650" height="15" colspan="3"
                tr
                  td width="25" height="33" style="background-color:black;"
                  td style="background-color:black;" width="600" height="33" align="center"
                    = link_to (image_tag 'http://www.ziba-style.com/assets/css/logo.png', alt:'Ziba Style'), "http://www.ziba-style.com", title:'Ziba Style'
                  td width="25" height="33" style="background-color:black;"
                tr
                  td width="25" height="20" style="background-color:black;"
                  td width="600" height="20" style="background-color:black;"
                    table style="border-collapse:collapse;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;background-color:black;"
                      tr
                        td height="20" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;" = link_to "COUNTRIES", countries_url, style:"color:white;text-decoration:none;font-size:9px;"                    
                        td height="20" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;" = link_to "APPAREL", category_url(1), style:"color:white;text-decoration:none;font-size:9px;"                    
                        td height="20" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;" = link_to "JEWELRY",  category_url(61), style:"color:white;text-decoration:none;font-size:9px;"
                        td height="20" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;" = link_to "ACCESSORIES", category_url(101), style:"color:white;text-decoration:none;font-size:9px;"
                        td height="20" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;" = link_to "OBJETS D'ART", category_url(141), style:"color:white;text-decoration:none;font-size:9px;"
                        td height="20" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;" = link_to "WOMEN/MEN", countries_url, style:"color:white;text-decoration:none;font-size:9px;"
                  td width="25" height="20" style="background-color:black;"
                tr
                  td style="background-color:black;" width="650" height="15" colspan="3"
              table
                tr
                  td height="10"

                    table style="border-collapse:collapse;"
                      tr
                        td width="25"
                        td width="600" style="font-size: 14px;font-weight: 100;line-height: 20px;letter-spacing: 0px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;text-align:center;"
                          
                          p style="font-size:30px;" You've earned #{number_to_currency(@credit.amount, precision:0)}.
                          p style="font-size:24px;" Spend it on whatver pleases your fancy!
                          p style="font-size:16px;" Your friend #{@credit.from_user.email if @credit.from_user} accepted your invitation and just made a purchase on ZIBA Style.

                          table style="border-collapse:collapse;" width="600"
                            tr
                              td width="50" align="center"          
                              td width="200" align="center"
                                = link_to (image_tag "http://www.ziba-style.com/assets/email_view_shop_now_btn.png", alt:'view shop now'), "http://www.ziba-style.com/", title:'view shop now'
                              td width="100" align="center"
                              td width="200" align="center"
                                = link_to (image_tag "http://www.ziba-style.com/assets/email_view_invite_more_friends_btn.png",alt:'invite more friends'), invitations_url,title:'invite more friends'
                              td width="50" align="center"          

                          p You've been granted a #{number_to_currency(@credit.amount, precision:0)} store credit.

                          p An additional ZIBA style invitation has also been awared to your account.

                        td width="25"

                      tr  
                        td width="650" height="10" colspan="3"

              table
                tr
                  td height="10"

              table style="border-collapse:collapse;background-color:black;color:white;"
                tr
                  td style="background-color:black;" width="650" height="15" colspan="3"
                tr
                  td width="25"
                  td width="600" style="padding:0;"
                    table style="border-collapse:collapse;"
                      tr
                        td  style="padding:0;"  width="300" align="left"
                          = link_to (image_tag "http://www.ziba-style.com/assets/email_view_my_account_btn.png", alt:'View my Account'), "http://www.ziba-style.com/account", title:'View my account'
                        td  style="padding:0;" width="300" align="right"
                          = link_to (image_tag "http://www.ziba-style.com/assets/email_view_shop_word_btn.png", alt:'Shop the world'), "http://www.ziba-style.com",title:'Shop the World'
                  td width="25"
                tr
                  td style="background-color:black;" width="650" height="15" colspan="3"
      p style="color:#a6a6a6" This email is being sent to you by ZIBA Style Inc