doctype transitional
html
  head
    <meta content="text/html; charset=UTF-8; format='flowed'" http-equiv="Content-Type" />
    <style type="text/css">.ReadMsgBody {width: 100%;} .ExternalClass {width: 100%;}</style>
    title ZIBA Style
  body
    div style="text-align:center;display:inline;"
      p style="color:#a6a6a6;margin:10px;" To ensure delivery to your inbox, please add <a href="mailto:support@ziba-style.com">support@ziba-style.com</a> to your address book.
      div style="margin-left:auto;margin-right:auto;width:100%;text-align:left;"
        table align="center" style="border-collapse:collapse;border-left:solid 1px black;border-right:solid 1px black;margin:auto;" width="650"
          tr
            td style="padding:0;"
              table style="border-collapse:collapse;"
                tr
                  td style="background-color:black;" width="650" height="15" colspan="3"
                    a
                tr
                  td width="25" height="33" style="background-color:black;"
                    a
                  td style="background-color:black;text-align: center;" width="600" height="33"
                    = link_to (image_tag 'http://www.ziba-style.com/assets/css/logo.png', alt:'Ziba Style', width:'76', height:'33'), "http://www.ziba-style.com", title:'Ziba Style'
                  td width="25" height="33" style="background-color:black;"
                    a
                tr
                  td width="25" height="20" style="background-color:black;"
                    a
                  td width="600" height="20" style="background-color:black;"
                    table style="border-collapse:collapse;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;background-color:black;"
                      tr
                        td height="20" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;" = link_to "COUNTRIES", countries_url, style:"color:white;text-decoration:none;font-size:9px;"
                        td height="20" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;" = link_to "APPAREL", category_url(1), style:"color:white;text-decoration:none;font-size:9px;"
                        td height="20" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;" = link_to "JEWELRY",  category_url(61), style:"color:white;text-decoration:none;font-size:9px;"
                        td height="20" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;" = link_to "ACCESSORIES", category_url(101), style:"color:white;text-decoration:none;font-size:9px;"
                        td height="20" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;" = link_to "OBJETS D'ART", category_url(141), style:"color:white;text-decoration:none;font-size:9px;"
                        td height="20" valign="middle" align="center" style="text-transform:uppercase; letter-spacing:2px;padding-left:20px;"
                          span style="color:#ffffff;text-decoration:none;font-size:9px;" = link_to "WOMEN/MEN", countries_url, style:"color:#ffffff;text-decoration:none;font-size:9px;"
                  td width="25" height="20" style="background-color:black;"
                    a
                tr
                  td style="background-color:black;" width="650" height="15" colspan="3"
                    a
              table
                tr
                  td height="10"
                    table style="border-collapse:collapse;display:inline;"
                      tr
                        td width="25"
                          a
                        td width="600" style="font-size:14px;font-weight:100;line-height:20px;letter-spacing:0px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;text-align:center;"
                          p style="margin:0px;height:50px;padding-top:30px;font-size:30px;font-weight: 100;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;text-align:center;" WELCOME.
                          p style="margin:0px;height:50px;font-size:24px;font-weight:100;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;text-align:center;" WE'VE BEEN WAITING FOR YOU.
                          p style="height:89px;" = image_tag "http://www.ziba-style.com/assets/email_approve_boutique_img.png", alt:'Welcome Image', style:'display:inline-block;', width:'200', height:'89'
                          table style="border-collapse:collapse;"
                            tr
                              td width="150"
                                a
                              td width="300"
                                p style="padding-top:20px;padding-bottom:20px;font-size:28px;line-height:30px;font-weight: 100;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;text-align:center;" READY TO DISCOVER WHAT WE'RE ALL ABOUT?
                              td width="150"
                                a
                          table style="border-collapse:collapse;"
                            tr
                              td width="100"
                                a
                              td width="400"
                                p style="padding-bottom:10px;font-size:16px;color:gray;text-align:center;" Join us today to experience the most exciting shopping trips around the world.
                              td width="100"
                                a
                          table style="border-collapse:collapse;"
                            tr
                              td width="150" align="left"
                                = link_to (image_tag "http://www.ziba-style.com/assets/email_view_my_account_btn.png", alt:'My Account', style:'display:block;', width:'198', height:'43'), "http://www.ziba-style.com/account", title:'My Account'
                              td width="300" align="center"
                                = image_tag "http://www.ziba-style.com/assets/email_view_jewelry.jpg", alt:'view jewelry', width: 200, height: 200, style:'display:block;'
                              td width="150" align="right"
                                = link_to (image_tag "http://www.ziba-style.com/assets/email_view_shop_word_btn.png", alt:'Shop The World', style:'display:block;', width:'198', height:'43'), "http://www.ziba-style.com", title:'Shop The World'
                        td width="25"
                          a
                      tr
                        td width="25"
                          a
                        td width="600" style="font-size: 14px;font-weight: 100;line-height: 20px;letter-spacing: 0px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;text-align:center;"
                          p style="line-height:1.4;" ZIBA Style - the online shopping destination that connects you with the best in locally inspired luxury from around the world.
                          p style="line-height:1.4;" From Mumbai to Miami and Bali to Beirut, our curators bring you the world's most unique luxury goods, allowing you to shop directly from exotic designers worldwide.
                        td width="25"
                          a
                      tr
                        td width="650" height="10" colspan="3"
                          a
              table
                tr
                  td height="10"
                    a
              table style="border-collapse:collapse;background-color:#000000;"
                tr
                  td style="background-color:black;" width="650" height="15" colspan="3"
                    a
                tr
                  td width="25" height="33"
                    a
                  td width="600" height="33"
                    table style="display:inline;border-collapse:collapse;"
                      tr
                        tr
                        td height="33" = link_to (image_tag "http://www.ziba-style.com/assets/css/face-icon.png", style:"display:block;", alt:'fb', width:'6', height:'10'), "https://www.facebook.com/ZibaStyle", title:'fb'
                        td height="33" style="padding-left:8px;" = link_to (image_tag "http://www.ziba-style.com/assets/css/twitter-icon.png", style:"display:block;", alt:'tw', width:'6', height:'10'), "https://twitter.com/#!/ZIBASTYLE", title:'tw'
                        td height="33" valign="middle" align="center" style="text-transform:uppercase;letter-spacing:2px;padding-left:20px;"
                          span = link_to "About", about_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                        td height="33" valign="middle" align="center" style="text-transform:uppercase;letter-spacing:2px;"
                          span style="text-transform:uppercase;letter-spacing:2px;padding-left:20px;" = link_to "Style Directory", style_directory_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                        td height="33" valign="middle" align="center" style="text-transform:uppercase;letter-spacing:2px;padding-left:20px;"
                          span = link_to "Privacy", privacy_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                        td height="33" valign="middle" align="center" style="text-transform:uppercase;letter-spacing:2px;padding-left:20px;"
                          span = link_to "Terms", terms_of_service_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                        td height="33" valign="middle" align="center" style="text-transform:uppercase;letter-spacing:2px;padding-left:20px;"
                          span = link_to "Shipping & Returns", shipping_and_returns_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                        td height="33" valign="middle" align="center" style="text-transform:uppercase;letter-spacing:2px;"
                          span = link_to "FAQ", faq_url, style:"color:#ffffff;text-decoration:none;font-size:8px;padding-left:20px;"
                        td height="33" valign="middle" align="right" style="text-transform:uppercase;letter-spacing:2px;padding-left:20px;"
                          span = link_to "Contact", contact_us_url, style:"color:#ffffff;text-decoration:none;font-size:8px;"
                  td style="background-color:black;" width="25" height="33"
                    a
                tr
                  td style="background-color:black;" width="650" height="15" colspan="3"
                    a
      p style="color:#a6a6a6;margin:10px;" This email is being sent to you by ZIBA Style Inc