table style="display:inline-block;border-collapse:collapse;"
  tr
    td width="25"
    td width="600" style="font-size: 14px;font-weight: 100;line-height: 20px;text-align:center;letter-spacing: 0px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;"
      p #{link_to "#{@designer.fname} #{@designer.lname}", designer_url(@designer)} has applied to be featured on ZIBA Style.
      br
      p #{link_to "Review the application here", admin_authorize_designers_url}
      br
    td width="25"
  tr
    td width="650" height="10" colspan="3"