table style="display:inline;border-collapse:collapse;"
  tr
    td width="25"
    td width="600" style="font-size: 14px;font-weight: 100;line-height: 20px;letter-spacing: 0px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;text-align:center;"
      p style="font-size:30px;" Welcome.
      p style="font-size:24px;" We're excited to have you here with us.      
      p style="height:89px;" = image_tag "http://www.ziba-style.com/assets/email_approve_boutique_img.png", style:"display:inline-block;", alt:'approve my boutique', width:'200', height:'89'
      p style="font-size:18px;" Dear #{@designer.fname},
      p style="font-size:18px;" Welcome to ZIBA Style!
      p style="font-size:18px;" Your designer account has been approved. You may now begin creating and customizing your boutique to share your story and pieces with our global audience.
      - link = (@designer.designer_status == 5) ? designer_accepted_url(@designer.authentication_token) : boutique_designers_url
      p style="height:43px;" = link_to (image_tag "http://www.ziba-style.com/assets/email_view_create_my_boutique_btn.png", style:"display:inline-block;", alt:'create my boutique', width:'198', height:'43'), link, title:'create my boutique'
      p style="font-size:12px;letter-spacing:2px;" = link_to "VIEW OTHER DESIGNER BOUTIQUES", style_directory_url
      p style="font-size:18px;margin-top:5px;" For any questions, do not hesitate to contact us directly at
      p style="font-size:18px;font-style:italic;" = link_to "designer.concierge@ziba-style.com", "mailto:designer.concierge@ziba-style.com"
    td width="25"
  tr  
    td width="650" height="10" colspan="3"