table style="border-collapse:collapse;"
  tr
    td width="25"
    td width="600" style="font-size: 14px;font-weight: 100;line-height: 20px;letter-spacing: 0px;font-family:'HelveticaLightRegular', Helvetica, arial, sans-serif;color:gray;text-align:center;"
      

      p #{@contact.fname} #{@contact.lname} has submitted a query on the "Contact Us" form:
      br
      table style="border-collapse:collapse;" width="600"
        tr
          td width="50"
          td width="200" align="left" valign="top" First name *
          td width="300" valign="top" align="left" style="border:solid 1px black;" #{@contact.fname}
          td width="50"
        tr
          td width="600" height="5" colspan="4"
        tr
          td width="50"
          td width="200" align="left" valign="top" Last name *
          td width="300" valign="top" align="left" style="border:solid 1px black;" #{@contact.lname}
          td width="50"
        tr
          td width="600" height="5" colspan="4"
        tr
          td width="50"
          td width="200" align="left" valign="top" Email *
          td width="300" valign="top" align="left" style="border:solid 1px black;" #{@contact.email}
          td width="50"
        tr
          td width="600" height="5" colspan="4"
        tr
          td width="50"
          td width="200" align="left" valign="top" Phone
          td width="300" valign="top" align="left" style="border:solid 1px black;" #{@contact.phone}
          td width="50"
        tr
          td width="600" height="5" colspan="4"
        tr
          td width="50"
          td width="200" align="left" valign="top" Country
          td width="300" valign="top" align="left" style="border:solid 1px black;" #{@contact.country.name unless @contact.country.blank?}
          td width="50"
        tr
          td width="600" height="5" colspan="4"
        tr
          td width="50"
          td width="200" align="left" valign="top" Order Number
          td width="300" valign="top" align="left" style="border:solid 1px black;" #{@contact.order_number}
          td width="50"
        tr
          td width="600" height="5" colspan="4"
        tr
          td width="50"  height="100"
          td width="200" height="100" valign="top" align="left" How may we assist you?
          td width="300" height="100" valign="top" align="left" style="border:solid 1px black;" #{@contact.message}
          td width="50"  height="100"

    td width="25"
  tr  
    td width="650" height="10" colspan="3"


