= form_for @home_page_entity do |f|
  - if @home_page_entity.errors.any?
    #error_explanation
      h2 = "#{pluralize(@home_page_entity.errors.count, "error")} prohibited this home_page_entity from being saved:"
      ul
        - @home_page_entity.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :order
    = f.number_field :order
  .actions = f.submit 'Save'
