h1 Listing home_page_entities

table
  tr
    th Order
    th
    th
    th

  - @home_page_entities.each do |home_page_entity|
    tr
      td = home_page_entity.order
      td = link_to 'Show', home_page_entity
      td = link_to 'Edit', edit_home_page_entity_path(home_page_entity)
      td = link_to 'Destroy', home_page_entity, :confirm => 'Are you sure?', :method => :delete

br

= link_to 'New Home page entity', new_home_page_entity_path
