- if current_user_is_admin?
  li style="margin-bottom:10px"
    = form_tag "/admin/switch_to_designer" do 
      = link_to "Switch To Designer", "#", class: "credit_nav_link hover", onclick: "return false"
      = select "admin", "designer_id", User.designers(status: User::STATUS.values_at(:authorized, :pending_approval, :approved)).where{confirmed_at != nil}.collect {|p| [ p.designer_name, p.id ] }, {:include_blank => 'None'}
      = submit_tag "Switch"
      br
