- if admin_as_designer?
  li
    = form_tag "/admin/switch_to_admin" do 
      = link_to "Logged In as #{current_user.designer_name}", "#", class: "credit_nav_link hover", onclick: "return false"
      = submit_tag "Back To Admin", style: "margin-left:5px"


