- title params[:action_name]
- meta_description "admin #{params[:action_name]} description."
- meta_keywords params[:action_name]
h1=@title
- if @xls.present?
  = link_to @xls, export_products_path(format: "xls")
table.dashboard_table#approval_table
  tr 
  - @data[:columns].each do |key, column_name|
    th = "#{column_name}"
  - @data[:entities].each do |entity|
    tr
      - @data[:columns].each do |key, column_name|
        td(style="#{ (key == :action) ? "width:100px" : "" }")
          - unless key == :action
            - if key == :email or (key == :name and entity.kind_of?(Product))
              = link_to(entity[key], designer_path(entity), target: "_blank" ) if entity.kind_of?(User)
              = link_to(entity[key], product_path(entity),  target: "_blank")  if entity.kind_of?(Product)
            - elsif key == :portfolio
              p 
                = link_to 'View Portfolio', /^http/.match(entity.designer_portfolio_url) ? entity.designer_portfolio_url : "http://#{entity.designer_portfolio_url}"
              ul style='list-style:none;'
                - entity.portfolio_docs.each do |doc|
                  li
                    = link_to "download doc", doc.attachment.url


            - else
              = entity[key]
          - else
            p= link_to("Detailed Designer View", detailed_view_designer_path(entity), target: "_blank") if entity.kind_of?(User)
            p= link_to("View Product", product_path(entity),   target: "_blank") if entity.kind_of?(Product)
            p= link_to("Edit Product", edit_product_path(entity),   target: "_blank") if entity.kind_of?(Product)
            p= link_to "activate", @data[:url], data: { entity_id: entity.id }, class: :admin_approve_link
