h2 Edit User
= form_for(@user) do |f|

  - if @user.errors.any?
      #error_explanation
        h2
          = pluralize(@user.errors.count, "error")
          | prohibited this user from being saved:
        ul
          - @user.errors.full_messages.each do |msg|
            li= msg


  div
    b Email: 
    = @user.email

  .field
    = f.label :role
    = f.select :role, User::ROLE
  .cl

  - if @user.role == User::ROLE[:designer]
    .field
      = f.label :designer_status
      = f.select :designer_status, User::STATUS
    .cl
    ul style="margin-left:180px"
      li pending_auth: designer cannot login - admin needs to approve designer account
      li authorized: designer can login - designer boutique is not public
      li pending_approval: designer cannot modify boutique - admin needs to approve designer boutique
      li approved: designer cannot modify boutique - boutique is public
      li pending_promotion_to_designer: a previously active (non-designer) user has requested to become a designer, he or she can still access the site as a non-designer, but will not become a designer until the status is set to authorized

  .field
    = f.label :invitation_limit
    = f.text_field :invitation_limit
  .cl
  
  .buttons
    = f.submit "Update", class: "button dark"
.cl
= link_to "Back", :back
.cl
