- title "Listing Users"
- meta_description "Listing users description."
- meta_keywords "Users"
h1.dashboard_index Listing users
br/
br/
br/
= link_to "Export all User", export_users_path(format: "xls"), style:"float:left;"
table.dashboard_table
  tr
    th Id
    th Name
    th Email
    th Role
    th Invite Limit

    th Actions
  - @users.each do |user|
    tr
      td= user.id
      td= "#{user.fname} #{user.lname}"
      td= user.email
      /td= User::ROLE.select{|key, value| value == user.role }.keys[0]
      td= User::ROLE.key(user.role)
      td= user.invitation_limit
      td
        = link_to 'Edit', edit_user_path(user)

br

- unless @users.is_a?(Array)
  = paginate @users, window: 3
  .cl

.cl