h2.resetpass_header RESET PASSWORD
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :id => :change_pass }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  .reset_field
    = f.label :password, "New password"
    br/
    = f.password_field :password, class: :blink, id: :new_password
  .reset_field
    = f.label :password_confirmation, "Confirm new password"
    br/
    = f.password_field :password_confirmation, class: :blink
  div= f.submit "Submit", class: "button login_button"
/= render "links"
