p.login_header style="font-size:15px" Please enter your email and we’ll send you password reset instructions shortly.
= form_for(User.new, :as => 'user', :url => password_path('user'), :html => { :method => :post })  do |f|
  .login_field
    = f.text_field :email, title: "EMAIL", value: "EMAIL", class: :blink
  .cl

  = f.submit "SUBMIT", class: "button login_button"


