.registration class="#{(request.xhr?) ? "narrow" : ""}"
  h2 Forgot password?
  .registration_form
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      
      p.instruction 
        | Please enter your email below. 
        br
        | We will send your password to this mail box shortly.

      .field
        = f.email_field :email, title: "YOUR EMAIL ADDRESS *", value: "YOUR EMAIL ADDRESS *", class: :blink
      .cl

      .field
        = f.submit "SUBMIT", class: "button pink"
      .cl