= form_tag cart_index_path do
	= select :cart, :item_id, product.available_items.collect{ |item| [item.size.us_value, item.id] }, { include_blank: 'Select A Size', disabled: product.available_items.collect{ |item| item.id if item.is_out_of_stock? }, :selected => 0 }
	= text_field :cart, :quantity, value: 1
	= submit_tag "Add to Cart"