- if current_user and current_user.is_admin? and [Country, Category, Product, User].include?(entity.class) and HomePageEntity.find_by_entity_id_and_entity_type(entity.id, entity.class.name).blank?
	li
		= form_tag admin_home_page_index_path do
			= hidden_field :entity, :id, 	 value: entity.id
			= hidden_field :entity, :type, value: entity.class.name
			= submit_tag "Add to Home Page"