- 1..5.times do |i|
  - unless local_assigns[:opts].nil? and local_assigns[:opts][:rating].nil?
    -  opts[:checked] = opts[:rating] == i+1
  = radio_button :feedback, "rating#{opts[:feedback_id]}", i+1, !local_assigns[:opts].nil? ? {class: :star}.merge(opts) : {class: :star}