= form_tag(form_url, method: 'get', id: (defined?(form_id) ? form_id : 'filterForm')) do
  .filter
    h5 
      | FILTER BY
      noscript
        = submit_tag 'Apply'
    ul
      li#f_categories.filter1
        a PRODUCT CATEGORY
        ul.dd
          - categories.each do |cat|
            li
              label 
                = check_box_tag 'category_ids[]', cat.id, params_include?(:category_ids, cat.id)
                .name = cat.name  

      - unless designers.blank?
        li#f_designers.filter2
          a DESIGNER
          ul.dd

            - designers.each do |d|
              li
                label
                  = check_box_tag 'designer_ids[]', d.id, params_include?(:designer_ids, d.id)
                  .name = d.designer_name

            - if designers.count > 10 
              li
                a.designers-more href="#" more

              #designers-more style="display:none"
                - designers.offset(10).each do |d|
                  label
                    = check_box_tag 'designer_ids[]', d.id, params_include?(:designer_ids, d.id)
                    .name = d.designer_name

          /mustache template does not handle overflow of 10+ designers yet
          script id="designers-dd-template" type="text/x-handlebars-template"
            | {{#each designers}}
            li
              label
                | <input id="designer_ids_" name="designer_ids[]" type="checkbox" value="{{this.id}}" {{checked}} />
                .name {{this.designer_name}}
            | {{/each}}



      li#f_sizes.filter3 style=("display:none" unless (defined?(@sizes) and @sizes))
        a SIZE
        ul.dd
          - if defined?(@sizes) and @sizes
            - @sizes.each do |size|
              li
                label
                  = check_box_tag 'size_ids[]', size.id, params_include?(:size_ids, size.id)
                  .name = size.us_value
        script id="sizes-dd-template" type="text/x-handlebars-template"
          | {{#each sizes}}
          li
            label
              =' check_box_tag 'size_ids[]', '{{this.id}}'
              | {{this.us_value}}
          | {{/each}}

      li#f_prices.filter4
        a PRICE
        ul.dd
          - Product::PRICES.each_with_index do |p, i|
            li
              label
                =' check_box_tag 'prices[]', i, params_include?(:prices, i)
                = p[:label] 
          li.inline
            =' label_tag 'price_min', '$'
            =' text_field_tag 'price_min', (!params[:prices] and params[:price_min]) ? params[:price_min] : nil 
          li  to 
          li.inline
            =' label_tag 'price_max', '$'
            =' text_field_tag 'price_max', (!params[:prices] and params[:price_max]) ? params[:price_max] : nil

      li#f_countries.filter5 style=("display:none" unless (defined?(@countries) and @countries))
        a COUNTRY
        ul.dd class=((defined?(@countries) and @countries and @countries.count > 10) ? 'countries' : '')
          - if defined?(@countries) and @countries
            - @countries.each do |country|
              li
                label 
                  = check_box_tag 'country_ids[]', country.id, params_include?(:country_ids, country.id)
                  .name = country.name

    .cl &nbsp;
