PARAMS = <%= @params.to_json.html_safe %>;
PARAMS = $.param(PARAMS);

<% if @sizes %>
  <% # this works but it doesn't seem perfect. basically it checks if the sizes dropdown is already loaded on the page, otherwise don't change it  %>
  if (!$('#f_sizes').is(':visible')) {
    $('#f_sizes ul.dd').<%= @infinite_scrolling ? "append" : "html" %>(sizes_dd_template({sizes: <%= @sizes.to_json.html_safe %>}));  
    $('#f_sizes').show();
  }
<% else %>
  $('#f_sizes').hide();
<% end %>  
<% if @designers.present? %>
  <% # need a good way to not overwrite existing filters if they're already selected... %>
  var designers_json = <%= @designers.to_json(only: [:id, :designer_name]).html_safe %>;
  var d_params = <%= params[:designer_ids].present? ? params[:designer_ids].to_s.html_safe : '[]' %>;
  $.each(designers_json, function(i,d) {
    if (d_params.length > 0 && d_params.indexOf(""+d.id+"") != -1) {
       d.checked = 'checked="checked"';
    }
  });

  <% unless @infinite_scrolling %>
    $('#f_designers ul.dd').html(designers_dd_template({designers: designers_json}))
  <% end %>

<% end %>  

var products_json = <%= @products.to_json(methods: [:catalog_image, :sale_price_with_shipping_to_currency, :price_with_shipping_to_currency, :original_price_with_shipping_to_currency], only: [:id, :sale_price, :name, :sale, ], include: { designer: {only: [:designer_name, :id], include: {designer_country: {only: [:name], methods: [:flag_url]}}}}).html_safe %>;
if(products_json.length > 0){
  var new_products = '';
  $.each(products_json, function(i,p) {
    p.price = '$'+parseFloat(p.price).formatMoney();
    p.sale_price = '$'+parseFloat(p.sale_price).formatMoney();
    p.cssclass = ((i+1) % 3 == 0) ? 'last' : '';

    <% if @infinite_scrolling %>
      $('#products').append(product_template(p)).css('opacity', 0).fadeTo(100, 1);
    <% else %>
      new_products += product_template(p);
    <% end %>
  });
  <% # if we want to use this fade, note that the dropdowns have to auto-close or else it looks weird %>
  $('ul.dd').css("z-index", "300");
  var filters_hide_delay;
  $('ul.dd').mouseleave(function(){
    var li_id = $(this).closest("li").attr("id");
    clearTimeout(filters_hide_delay);
    filters_hide_delay = setTimeout("$('#"+li_id+"').children('ul.dd').slideUp(\"fast\");", 1000);
  })
  $('ul.dd').mouseenter(function(){
    clearTimeout(filters_hide_delay);
  })
  <% unless @infinite_scrolling %>
    $('#products').html(new_products).css('opacity', 0).fadeTo(100, 1);
  <% end %>

  $('#pagination.ajax').html('<%= remove_linebreaks(paginate @products, window: 3) %>');
  <% if @view_all %>
    SEE_ALL.select();
  <% else %>
    SEE_ALL.reset();

  <% end %>
  <% # view all only gets defined for designer controller. If we are on that page, only want to queue infinite scroll when view_all = true %>

  <% if (defined? @view_all and @view_all) or not defined? @view_all %>
    setTimeout("INFINITE_SCROLLING.checkScroll()", 10 );
  <% end %>

  <% unless @infinite_scrolling %>
    INFINITE_SCROLLING.currentPage = 1;
  <% end %>  

}else{
  <% unless @infinite_scrolling %>
    $('#products').html('<h2>We\'re sorry, no products match your search.</h2>')
  <% end %>  
}
if(INFINITE_SCROLLING.loaderDivReference != ""){
  $(INFINITE_SCROLLING.loaderDivReference).html('');
}
