- if @designer.average_feedback_rating
  .featured.feedback
    h5 FEEDBACK
    p
      | Customers so far have given
    span.feedback
     = render partial: "/shared/feedback_stars", locals: {opts: {disabled: :disabled, rating: @designer.average_feedback_rating, feedback_id: @designer.average_feedback_rating}}
.cl