.banner
  = designer_banner_pic(@designer)
/! Bio
.bio
  .image
    = designer_profile_pic(@designer)
  .text
    .title
      .left
        h6 = @designer.designer_name
        p 
          = "#{@designer.designer_city}, #{!@designer.designer_country.blank? ? @designer.designer_country.name : ""}"
          = image_tag @designer.designer_country.flag.url(:small) unless @designer.designer_country.blank?
        / p
          / span
          /   | Follow this
          /   br
          /   | designer on
          / a href="#"
          /   img alt="" src="/assets/css/twitter.png"  
          / span.cl &nbsp;
      .cl &nbsp;

    .scroll-designer-pane
      .biography
        = @designer.designer_biography.try(:html_safe)
  ul.navigation
    li
      span.navigation_sub_titles
        | Collection
      br
      - if user_signed_in?
        = link_to "Shop Online", "#", class: "designer_nav", "data-action" => "featured_pieces"
      - else
        = link_to "Featured Pieces", "#", class: "designer_nav", "data-action" => "featured_pieces"
    li
      span.navigation_sub_titles
        | Seen On
      br
      = link_to "Celebrity Style", "#", class: "designer_nav", "data-action" => "as_seen_on"
    li
      span.navigation_sub_titles
        | Ziba.tv
      br
      = link_to "Runway Videos & More", "#", class: "designer_nav", "data-action" => "videos"

  .cl &nbsp;
  / = link_to "", engage_with_us_path, class: "stamp"
  / .cl &nbsp;
