<ul>
  <% print_switch = true %>
  <% own_index = 0 %>
  <% videos.each do |video| %>
    <%= (print_switch or videos.count <= 3) ? "<li>".html_safe : "" %>
      <div class="video <%= (print_switch or videos.count <= 3) ? "" : "hidden_video" %>">

        <!-- <div class="container"> -->
          <!-- <%= link_to video.url, video.url, class: "#{ ((print_switch and own_index < 3) or videos.count <= 3) ? "oembed" : ""}" %> -->
        <!-- </div> -->
        <%= video.oembed_resource.html.html_safe %>
        <br>
        <%= video.name %>
        <div class="cl"></div>
      </div>
    <%= (print_switch and videos.count > 3) ? "" : "</li>".html_safe %>
    <% print_switch = print_switch ? false : true %>
    <% own_index = own_index+1 if (print_switch or videos.count < 3)  %>
  <% end %>
</ul>
<div class="cl"></div>
