- title "Activate Boutique"
- meta_description "Activate Boutique description."
- meta_keywords "Activate Boutique"
= link_to "Go to my Designer Boutique", designer_path(@designer), class: "link_to_designer_page"

- if @designer.designer_status == User::STATUS[:approved]
  = form_for @designer, url: edit_designer_path do |f|
    p TODO: DESCRIPTION OF WHAT THIS DO
    .field
      .checkbox
        = f.check_box :designer_active
        = f.label :designer_active
    .cl
    .buttons= f.submit "Save", class: "button dark"
- else
  p Your boutique is not approved yet, you will be able to activate it as soon as your account has been approved
