- title "Boutique"
- meta_description "Boutique description."
- meta_keywords "Boutique"
.cl

= link_to "Go to my Designer Boutique", designer_path(@designer), class: "link_to_designer_page"
/ h2 My Designer Profile
  
- if @disable
  .designer_unlock_boutique
    = form_for(@designer, :url => deactivate_boutique_request_designers_path) do |f|
      p To modify your profile, you must submit a request to the ZIBA team. You will then be able to make changes.
      = f.submit "Send Request", class: "button dark"
  .cl
= form_for(@designer, :url => designer_path(@designer), :html => { :multipart => true }) do |f|

  - if @designer.errors.any?
    #error_explanation
      h2
        = pluralize(@designer.errors.count, "error")
        | prohibited your boutique from being saved:
      ul
        - @designer.errors.full_messages.each do |msg|
          li= msg


    
  = f.fields_for :banner_pic do |file|
    .field.designer.banner_pic
      = designer_banner_pic(@designer)
      = file.file_field :attachment, disabled: @disable
    .cl

  .cl



  .left.designer_boutique

    = f.fields_for :profile_pic do |file|
      .field
        = designer_profile_pic(@designer)
        .cl
        = file.file_field :attachment, disabled: @disable
      .cl    

  .right.designer_boutique

    .field
      = f.label :designer_name
      = f.text_field :designer_name, disabled: @disable, class: "blink gray-shadow", title: "Label Name"
    .cl

    .designer_location
      .field
        = f.label :designer_city
        br
        = f.text_field :designer_city, disabled: @disable, class: "left blink gray-shadow", title: "City"
      .field.designer_state_id_wrapper
        = f.label :designer_state_id
        br
        = f.select :designer_state_id, State.order{states.code}.all.collect{|c| [c.name, c.id] }, { include_blank: "--- State ---" }, disabled: @disable, class: "left"
      .field
        = f.label :designer_country_id
        br
        = f.select :designer_country_id, Country.order{countries.name}.all.collect{|c| [c.name, c.id] }, { include_blank: "--- Country ---" }, disabled: @disable, class: "designer_country_id_select left"

    .cl
    .field
      = f.label :designer_ships_from
      br
      = f.text_field :designer_ships_from, disabled: @disable, class: "left blink gray-shadow", title: "Ships From"
    .cl
    .field
      = f.label :designer_biography
      = f.text_area :designer_biography, disabled: @disable, class: "blink gray-shadow", title: "Biography"
    .cl
  
  .cl

  .designer_boutique.gray.gray-shadow

    / .field
    /   = f.label :designer_paypal
    /   = f.text_field :designer_paypal, disabled: @disable
    / .cl

    p.indicate-tax-prompt Please indicate the sales tax applicable to items sold from your boutique
    .field.narrow
      = f.label :designer_tax_rate
      = f.text_field :designer_tax_rate, disabled: @disable
      span.percentage %
      a.more-info.domestic href="#"
        img alt="" src="/assets/css/see-more.png"

    .cl

    .field.int_tax_rate_wrapper.narrow
      = f.label :designer_int_tax_rate
      = f.text_field :designer_int_tax_rate, disabled: @disable
      span.percentage %
      a.more-info.international href="#"
        img alt="" src="/assets/css/see-more.png"

    .cl  

  - if admin_as_designer? or @designer.designer_status == User::STATUS[:authorized] #TODO: there was a problem here - make sure this is the right code
    .buttons= f.submit "Save", class: "button pink", disabled: @disable
  .cl

- if @designer.designer_status == User::STATUS[:authorized] #TODO: there was a problem here - make sure this is the right code
  = form_for(@designer, :url => designer_path(@designer)) do |f|
    = f.hidden_field :designer_request_approval

    / .field
    /   .checkbox
    /     = f.check_box :terms_of_service
    /     = f.label :terms_of_service, "by checking I accept the #{link_to "Terms of service", "/terms_of_service"}".html_safe

    .buttons.arrange-right= f.submit "Submit", class: "button pink"

.cl

- content_for(:javascript_includes) do
  javascript:
    var usa_country_id = #{::USA_COUNTRY_ID}; 
    $(function(){ 
    adapt_boutique_form(#{@designer.designer_country_id}) 
    $("a.more-info.domestic").qtip({
        content: {
          text: "Please indicate the relevant domestic sales tax you would like to collect on any domestic sales you make."
        },
        position: {
          my: 'bottom center',
          at: 'top center'
        },
        style: {
          classes: 'ui-tooltip-shadow ui-tooltip-youtube'
        }
    });
    $("a.more-info.international").qtip({
        content: {
          text: "If applicable, please indicate the relevant international sales tax you would like to collect on international sales you make."
        },
        position: {
          my: 'bottom center',
          at: 'top center'
        },
        style: {
          classes: 'ui-tooltip-shadow ui-tooltip-youtube'
        }
    });

    
    })
