- title "Designer detail view"
- meta_description "Designer detail view description."
- meta_keywords "Designer detail view"
h1 Designer Info

p Designer Name: #{@designer.designer_name}

p Designer Country: #{@designer.designer_country.name unless @designer.designer_country.blank?}

p Designer Biography: #{@designer.designer_biography}

p Designer Active: #{@designer.designer_active}

p Designer Status #{@designer.designer_status}

p Designer City #{@designer.designer_city}

p Designer Paypal: #{@designer.designer_paypal}

p Designer Portfolio: #{@designer.designer_portfolio_url}

p Banner Image
- if @designer.banner_pic.present?
  = image_tag @designer.banner_pic.attachment.url :banner

p = "Profile Image"
- if @designer.profile_pic.present?
  = image_tag @designer.profile_pic.attachment.url :profile

ul
  - @designer.portfolio_docs.each do |doc|
    li
      = link_to "download doc", doc.attachment.url

p Designer Tax Rate: #{@designer.designer_tax_rate}

h1 User Info

p User Email: #{@designer.email}

p User First Name: #{@designer.fname}

p User Last Name: #{@designer.lname}

p User Address 1: #{@designer.address1}

p User Address 2: #{@designer.address2}

p User City: #{@designer.city}

p User Zipcode: #{@designer.zipcode}

p User State: #{@designer.state}

p User Country: #{@designer.country.name unless @designer.country.blank?}

p User Phone: #{@designer.phone}

p User Date Of Birth: #{@designer.dob}

h1 Login Info

p Sign In Count: #{@designer.sign_in_count}

p Last Sign In At: #{@designer.last_sign_in_at}

p Created At: #{@designer.created_at}
