$('#designers').html(designers_template({designers: <%= @designers.to_json(methods: [:profile_pic_url, :designer_flag_url], include: :designer_country).html_safe %>}));
$('#pagination.ajax').html('<%= remove_linebreaks(paginate @designers, window: 3) %>');
