- title "Designers"
- meta_description "Designer List description."
- meta_keywords "Designers"
- if current_user.try :is_admin?
  - content_for :admin_menu do
    li = link_to 'Edit Banner', upload_designers_page_banner_designers_path

- cache "views_designers_index" do
  .post
    .image
      = image_tag @banner.attachment.url(:banner) unless @banner.blank?
      h2 Designers

  .designer-signup-prompt.designers-page
    |ARE YOU A DESIGNER? > APPLY  
    = link_to "HERE", designer_sign_up_path
    |  TO BE FEATURED

  = form_tag(designers_path, method: 'get', id: 'filterForm') do
    = hidden_field_tag :letter
    .filter
      h5 
        | FILTER BY 
        noscript
          = submit_tag 'Apply'
      ul
        li.filter1
          a COUNTRY
          ul.dd class=(Country.with_designers.count > 10 ? 'countries' : '')
            - Country.with_designers.each do |country|
              li
                label 
                  =' check_box_tag 'country_ids[]', country.id, params_include?(:country_ids, country.id)
                  = country.name
        li.nodrop
          = link_to 'All', designers_path, class: "alpha #{'active' if params[:letter].blank?}", 'data-letter' => ''
          ' &nbsp;&nbsp;
        - ('A'..'Z').to_a.each do |alpha|
          li.nodrop
            = link_to alpha, designers_path.to_s + "?letter=#{alpha}", class: "alpha #{'active' if (params[:letter].present? and params[:letter] == alpha)}", 'data-letter' => alpha

      .cl &nbsp;




  #designers.featured
    - @designers.each_with_index do |designer, i|
      .box.designer
        p
          a href="#{raw designer_path(designer)}"
             = designer_profile_pic(designer)
        p.first
          a href="#{raw designer_path(designer)}"
            = designer.designer_name
            br
            | (#{designer.designer_country.name} #{image_tag designer.designer_country.flag.url(:small), class: "flag_icon"})
  .cl
  #pagination.ajax
    = paginate @designers, window: 3
  .cl


  script id="designers-template" type="text/x-handlebars-template"
    | {{#each designers}}
    .box.designer
      p
        a href=(raw designers_path.to_s + "/{{this.slug}}")
          img src="{{this.profile_pic_url}}"
      p.first
        a href=(raw designers_path.to_s + "/{{this.slug}}")
          | {{this.designer_name}}
          br
          | (
          | {{this.designer_country.name}} 
          img.flag_icon src="{{this.designer_flag_url}}"
          | )
    | {{/each}}
