- title "Sales Report"
- meta_description "Sales Report description."
- meta_keywords "Sales Report"
h2 Reports
.filters
  = form_tag(sales_report_designers_path) do
    .categories
      p Select Categories
      ul
        - Category.top_levels.each do |category| #careful with top_levels, here we just want the main category, but the subcat are filtered by default, see top_levels
          li
            = check_box_tag "filters[category_id][]", category.id, (!@filters.blank? and !@filters["category_id"].blank? and @filters["category_id"].include?(category.id.to_s)), id: "filters_category_id_#{category.id}"
            = label_tag "filters_category_id_#{category.id}", category.name
      .cl

    .dates
      = label "filters[date_type]", "View sales by: "
      = select_tag "filters[date_type]", options_for_select([["Year", "year"], ["Month", "month"], ["Day", "day"]], @date_filter_type), class: "sales_report_filter"
      = label "filters[product_id]", "Filter by Product: ", style: "margin-left:30px;"
      = select_tag "filters[product_id]", options_for_select([["All Products", 0]]<<@products.collect{|p| [p.name, p.id] }.flatten, @product_id), class: "sales_report_filter"

    noscript
      = submit_tag "Apply Filters"


- unless @no_result
  table.dashboard_table
    tr
      th Date
      th Total Orders
      th Gross Sales Amount
      th Net Profit
    - @start_date.step(@end_date, @step) do |date|
        - tmp_designer_orders = @designer_orders.where{(created_at >= my{date}) & (created_at < my{(date + @step)})}
        - unless tmp_designer_orders.empty?
          tr
            td= date.strftime(@format)
            td= tmp_designer_orders.count
            td.currency= number_to_currency tmp_designer_orders.collect{|d_o| d_o.total }.sum, separator: '.'
            td.currency= number_to_currency (tmp_designer_orders.collect{|d_o| d_o.total }.sum - (tmp_designer_orders.collect{|d_o| d_o.total_tax }.sum + tmp_designer_orders.collect{|d_o| d_o.total*d_o.order.ziba_rate }.sum)), separator: '.'

  br
  br

  table.dashboard_table.narrow
    tr
      th colspan="2" Total Information
    tr
      td.narrow Total Order:
      td=@designer_orders.count
    tr
      td.narrow Total Gross Sales:
      td=number_to_currency @designer_orders.collect{|d_o| d_o.total }.sum, separator: '.'
    tr
      td.narrow Total Net Profit:
      td=number_to_currency (@designer_orders.collect{|d_o| d_o.total }.sum - (@designer_orders.collect{|d_o| d_o.total_tax }.sum + @designer_orders.collect{|d_o| d_o.total*d_o.order.ziba_rate }.sum)), separator: '.'
  br

- else
  p No sales found

.cl
