- title "Boutique settings"
- meta_description "Boutique settings description."
- meta_keywords "Boutique"
h2 Boutique activation/de-activation:

.designer_activate_boutique
  = form_for(@designer, :url => designer_path(@designer)) do |f|
    p
      | PLACE YOUR BOUTIQUE ON VACATION MODE HERE
      br
      | Not going to be available to receive orders during a certain time period?
      br
      | Make your boutique temporarily inactive until you are ready to receive orders again

      br
    .cl
    = f.hidden_field :designer_active, value: (@designer.designer_active? ? 0 : 1)
    = f.submit "#{@designer.designer_active ? "Inactivate" : "Activate"}", class: "button dark"
    .cl

    p
      | You will receive a confirmation email once you place your boutique on vacation mode.
      br
      | You will also receive a notification once you reactivate your boutique.
      br
.cl