- title @designer.name
- meta_description "#{@designer.name} description."
- meta_keywords @designer.name
- content_for :admin_menu do
  = render partial: "/shared/add_to_home_page",locals: {entity: @designer}

- content_for :javascript_includes do
  javascript:
    $(function(){
      SEE_ALL.setup(".featured_pieces");
    })

- cache "views/views_designers_show_#{@designer.id}_#{session_gender}" do
  - if current_user.try :is_admin?
    - content_for :admin_menu do
      li = link_to 'Edit Designer Banner', upload_banner_path(@designer.id)
  == render partial: 'profile'
  .designer_boutique_content
    .featured_pieces
      == render partial: "/shared/product_filters", locals: {form_url: designer_path(@designer), categories: @designer.designer_categories(session_gender), designers: []}
      .featured
        == render partial: '/products/products', locals: {products: @products, id: 'products'}
    - unless @designer.products.with_celebrity_pictures.blank? and @designer.designer_status == User::STATUS[:approved] and @designer.designer_active == true and @designer.products.present?
      .featured.as_seen_on
        h5 As seen on
        == render partial: '/products/products', locals: {products: @designer.products.with_celebrity_pictures.random(3), celebrity_pics: true}
    - unless @designer.designer_videos.empty?
      .featured.videos
        - if @designer.designer_videos.count > 3
          = link_to "View More +", "#", class: "more_videos", style: "float:right"
        h5 Videos
        == render partial: '/designers/videos', locals: {videos: @designer.designer_videos}
    /== render partial: 'feedbacks', locals: {designer: @designer }
