- title "Style Directory"
- meta_description "Style Directory description."
- meta_keywords "Style Directory"
- cache "views_designers_style_directory" do
  #style-directory
    h1 STYLE DIRECTORY
    h2 
      | Products 
      em we feature

    ul#categories
      - @featured_categories.each do |category|
        li
          - if user_signed_in?
            a href=(category_path category)
              = (image_tag category.style_directory_image(:default)) if category.style_directory_image.exists?
              .category-name
                = category.name == 'Apparel' ? 'MENSWEAR / WOMENSWEAR' : category.name.upcase
          - else
            = (image_tag category.style_directory_image(:default)) if category.style_directory_image.exists?
            .category-name
              = category.name == 'Apparel' ? 'MENSWEAR / WOMENSWEAR' : category.name.upcase

    h2
      | Designers 
      em we feature

    .designer-signup-prompt
      em
        |ARE YOU A DESIGNER? > APPLY  
        = link_to "HERE", designer_sign_up_path
        |  TO BE FEATURED

    ul#countries
      - @countries.each_with_index do |country, i|
        li
          .country-name = country.name
          - country.active_designers.sort{|t1,t2|t1.designer_name <=> t2.designer_name}.each do |designer|
            ul#designers
              li = link_to designer.designer_name, designer_path(designer)