- title "Upload Banner"
- meta_description "Upload Banner description."
- meta_keywords "banner"
= form_for(@banner, url:upload_designers_page_banner_designers_path, multipart: true) do |f|
  - if @banner.errors.any?
     #error_explanation
       h2
         = pluralize(@banner.errors.count, "error")
         | prohibited this banner from being saved:
       ul
         - @banner.errors.full_messages.each do |msg|
             li= msg
  .field
    = f.label :attachment
    = f.file_field :attachment
  .cl

  = f.hidden_field :attachment_type

  .buttons
    = f.submit "Upload Banner", class: "button dark"

