- title "Banner"
- meta_description "Banner description."
- meta_keywords "banner"
- if @designer.blank?
  h2 = "Visit a users profile and select 'edit banner' from the admin menu"
- else
  h2 = "Edit banner pic for #{@designer.designer_name}"

  = form_for(@designer, url: upload_banner_path(@designer), multipart: true) do |f|
    = f.fields_for :banner_pic do |file|
      .field.designer.banner_pic
        - if @designer.banner_pic.id
          = designer_banner_pic(@designer)
          
        = file.file_field :attachment, disabled: @disable
        /= link_to 'Crop', file_attachment_path(@designer.banner_pic)
      .cl
    .buttons
      = f.submit "Upload Banner", class: "button dark"
    br
    br
    br
