- title "Visitor"
- meta_description "Visitor description."
- meta_keywords "Visitor"
- cache "views/views_designers_visitor_show_#{@designer.id}" do

  == render partial: 'profile'

  .designer_boutique_content
    .featured.featured_pieces
      h5 Featured pieces
      == render partial: '/products/products', locals: {products: @products.shuffle[0..2], active: false}

    - unless @designer.products.with_celebrity_pictures.empty?
      .featured.as_seen_on
        h5 As seen on
        == render partial: '/products/products', locals: {products: @designer.products.with_celebrity_pictures.random(3), celebrity_pics: true, active: false}

    - unless @designer.products.with_celebrity_pictures.empty?
      .featured.videos
        h5 Videos
        == render partial: '/designers/videos', locals: {videos: @designer.designer_videos}
