h2 Cropping #{@style}
= link_to 'edit product', edit_product_path(@file_attachment.entity)
br
= link_to 'back to image styles', file_attachment_path(@file_attachment)
br

- content_for(:style) do
  = stylesheet_link_tag "jquery.Jcrop"

- content_for(:javascript_includes) do
  = javascript_include_tag "jquery.Jcrop.min"
  javascript:
    $(function() {
      console.log('cb')
      $('#cropbox').Jcrop({
        onChange: update_crop,
        onSelect: update_crop,
        setSelect: [0, 0, 500, 500],

       aspectRatio: #{ @style == :popup ? 'null' : (@file_attachment.attachment.width(@style).to_f / @file_attachment.attachment.height(@style).to_f) }
      });
    });

    function update_crop(coords) {
      // var rx = 40/coords.w;
      // var ry = 50/coords.h;
      var rx = #{@file_attachment.attachment.width(@style)} / coords.w;
      var ry = #{@file_attachment.attachment.height(@style)} / coords.h;
      $('#preview').css({
        width:  Math.round(rx * #{@file_attachment.attachment.width(:crop_template)}) + 'px',
        height: Math.round(ry * #{@file_attachment.attachment.height(:crop_template)}) + 'px',
        marginLeft: '-' + Math.round(rx * coords.x) + 'px',
        marginTop: '-' + Math.round(ry * coords.y) + 'px'
      });
      
      var ratio = #{@file_attachment.attachment.width(:original)} / #{@file_attachment.attachment.width(:crop_template)};
      // ratio = 1 as long as the user is cropping based on the original style
      // var ratio = 1;

     // console.log('Ratio: ' + ratio);
     // console.log('Width: ' +  #{ @file_attachment.attachment.width(:popup) } );
     // console.log('Height' +  #{ @file_attachment.attachment.height(:popup) } );
     // console.log('Width2: ' + #{ @file_attachment.attachment.width(:original) } );

      $("#crop_x").val(Math.round(coords.x * ratio));
      $("#crop_y").val(Math.round(coords.y * ratio));
      $("#crop_w").val(Math.round(coords.w * ratio));
      $("#crop_h").val(Math.round(coords.h * ratio));
    }

= image_tag @file_attachment.attachment.url(:crop_template), :id => "cropbox"

/div style="width:40px; height:50px; overflow:hidden"
/div style="width:#{@file_attachment.attachment.width(:original)}px; height:#{@file_attachment.attachment.height(:original)}px; overflow:hidden"

br
div style="display: #{@style == :popup ? 'none' : 'auto' }"
  h5 style="color:black;" Preview:
  div style="width:#{@file_attachment.attachment.width(@style)}px; height:#{@file_attachment.attachment.height(@style)}px; overflow:hidden; "
    = image_tag @file_attachment.attachment.url(:crop_template), :id => "preview"

br
div
  = image_tag @file_attachment.attachment.url(@style), size: @file_attachment.attachment.image_size(@style)
  h5 style="color:black;" current image
= form_for @file_attachment do |f| 
  - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
    = f.hidden_field attribute, :id => attribute

  = f.hidden_field :style_to_crop, id: :style_to_crop, value: @style

  p
    = f.submit "Crop"
