- title "File Attachment"
- meta_description "File attachment description."
- meta_keywords "File attachment"
h2 File Styles
= link_to 'edit product', edit_product_path(@file_attachment.entity)
br

/ don't show crop_template -- we don't actually want people modifying this file
- for style in @file_attachment.attachment.styles.keys - [:crop_template]
  div
    br
    = link_to "Crop #{style}", crop_style_path(@file_attachment, style)
    br
    = image_tag @file_attachment.attachment.url(style)
    br
    hr

