- content_for(:javascript_includes) do
  javascript:
    $(function(){ 
      $('#action_buttons').prepend('<a class="gray" href="#" id="cancel_checkout_link">Cancel</a>'); 
      $.validator.setDefaults({
        showErrors: function(map, list) {
          $.each(list, function(index, error) {
            //$(error.element).attr("title", error.message)
            $(error.element).closest(".field-row").addClass("field_with_errors");
          });
        }
      });
    })
    $(".field_with_errors input, .field_with_errors select").live("change, keyup", function(){
      $(this).closest(".field_with_errors").removeClass("field_with_errors");
    });

    var STATES = {
      data: #{raw State.all.to_json(only: [:id, :code, :name, :country_id])},
      get_for_country: function(country_id){
        var filtered_states = Array();
        for(var i = 0; i < STATES.data.length;i++){
          if(STATES.data[i].country_id == country_id){
            filtered_states.push(STATES.data[i]);
          }
        }
        return filtered_states;
      },
      populate_states_dropdown: function(states, selector){
        var select_input_selector = "select[name=\"order["+selector+"_id]\"]";
        var text_input_selector   = "input[name=\"order["+selector+"]\"]";
        var require_tag           = $(text_input_selector).closest(".field-row").find(".required");

        if(states.length > 0){
          var html = "";
          var selected;
          for(var i = 0; i < states.length; i++){
            html += '<option value="'+states[i].id+'">'+states[i].name+'</option>';
          }
          $(select_input_selector).html(html);
          if(ORDER[selector+"_id"]) {
            $(select_input_selector).val(ORDER[selector+"_id"]);
          }
          $(select_input_selector).show();
          $(text_input_selector).hide();
          require_tag.show();
        }else{
          $(select_input_selector).html("");
          $(select_input_selector).hide();
          $(text_input_selector).show();
          require_tag.hide();
        }
      },
      manage_states: function(country_id, selector){
        STATES.populate_states_dropdown(STATES.get_for_country(country_id), selector);
      }
    }

    $('select[name="order[shipping_country_id]"], select[name="order[billing_country_id]"]').on("change", function(){
      var selector = ($(this).attr("name").indexOf("billing") > 0) ? "billing_state" : "shipping_state";
      STATES.manage_states($(this).val(), selector);
    }).change();


- content_for(:javascript_includes) do
  - if @checkout_step == "shipping"
    javascript:
      $(function(){ 
          $(".edit_order").validate({
            rules: {
              "order[shipping_fname]": "required",
              "order[shipping_lname]": "required",
              "order[shipping_address1]" : "required",
              "order[shipping_city]" : "required",
              "order[shipping_zipcode]" : "required",
              "order[shipping_country_id]" : "required",
              "order[shipping_phone]" : "required"
            }
          });
      })
  - if @checkout_step == "billing"
    javascript:
      $(function(){ 
          $(".edit_order").validate({
            rules: {
              "order[credit_card_first_name]": "required",
              "order[credit_card_last_name]": "required",
              "order[credit_card_type]" : "required",
              "order[credit_card_number]" : "required",
              "order[credit_card_expiration_date(2i)]" : "required",
              "order[credit_card_expiration_date(1i)]" : "required",
              "order[credit_card_verification_number]" : "required",
              "order[billing_address1]" : "required",
              "order[billing_city]" : "required",
              "order[billing_zipcode]" : "required",
              "order[billing_country_id]" : "required",
              "order[billing_phone]" : "required"
            }
          });
      })


javascript:
  var ORDER = {
    shipping_state_id: #{@order.shipping_state_id || "null"},
    billing_state_id:  #{@order.billing_state_id  || "null"}
  };

= form_for(@order, url: checkout_path) do |f|
  = hidden_field_tag 'checkout_step', @checkout_step  
  - if @order.errors.any?
    #error_explanation
      h2 There were some errors with your submission

  .checkout
    .page-title
      h3 CHECKOUT
      p
        a href=(continue_shopping_path)
          em Continue Shopping        
      .cl &nbsp;
    .left
      .tab-navigation
        ul
          li
            a class=(@checkout_step == 'shipping' ? 'active' : '') href="#"
              span.title Ship to
              - if @checkout_step == 'shipping'
                br
                br
                span Please enter your shipping information:
              - else
                span 
                  | #{@order.shipping_fname} #{@order.shipping_lname}
                  br
                  = "#{@order.shipping_address1} #{@order.shipping_address2}"
                  br/
                  = "#{@order.shipping_city}, #{@order.shipping_state ? "#{@order.shipping_state}, " : ""}#{@order.shipping_zipcode}"
                  br/
                  = @order.shipping_country.name
                  br/
                  = @order.shipping_phone
              em.arrow
            - if @checkout_step != 'shipping'
              = link_to "Edit", checkout_path(step: "shipping"), class: 'edit'
          li
            a#order_payment_method_switch class=(@checkout_step == 'billing' ? 'active' : '') href="#"
              span.title PAYMENT
              span How would you like to pay?
              br
              span
                span.order_payment_method_indicator Paypal
                br
                span.order_payment_method_indicator.bold Credit Card
              em.arrow
          li
            a
              span.title REVIEW
              span Confirm order details and shipment method.
              em.arrow
        .cl &nbsp;
      .tab-content
        - if @checkout_step == "shipping"
          .credit-card-info
            - %w{shipping_fname shipping_lname shipping_address1}.each do |field|
              = render partial: 'form_field', locals: { f: f, field: field, required: true }
            = render partial: 'form_field', locals: { f: f, field: :shipping_address2}
            - %w{shipping_city shipping_zipcode}.each do |field|
              = render partial: 'form_field', locals: { f: f, field: field, required: true }
            .field-row
              = f.label :shipping_country_id do
                = f.object.class.human_attribute_name(:shipping_country_id)
              = f.select :shipping_country_id, Country.order{countries.name}.shipping_destinations.collect{|c| [c.name, c.id] }, { include_blank: true }, class: "country"
              .cl &nbsp;
            
            .field-row
              = f.label :shipping_state do
                = f.object.class.human_attribute_name(:shipping_state)
              = f.text_field :shipping_state, class: 'field'
              = f.select :shipping_state_id, {}, {}, class: "country hidden"
              .cl &nbsp;

            = render partial: 'form_field', locals: { f: f, field: :shipping_phone, required: true }

        - if @checkout_step == "billing"     
          .credit-card-info
            h5 CREDIT CARD INFORMATION

            - %w{credit_card_first_name credit_card_last_name }.each do |field|
              = render partial: 'form_field', locals: { f: f, field: field, required: true }

            .field-row#cc_type
              = f.label :credit_card_type do
                = f.object.class.human_attribute_name(:credit_card_type)
              = f.select :credit_card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]]

            = render partial: 'form_field', locals: { f: f, field: :credit_card_number, required: true }

            .field-row#cc_expiration
              =f.label :credit_card_expiration_date do
                = f.object.class.human_attribute_name(:credit_card_expiration_date)
              = f.date_select :credit_card_expiration_date, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year + 10), :add_month_numbers => false, order: [:month, :year, :day] 

            = render partial: 'form_field', locals: { f: f, field: :credit_card_verification_number, required: true }


          / p.required
          /   strong *
          /   | Required information

          .billing-addresss 
            h5 BILLING ADDRESS
            /! Field row
            .field-row
              = f.check_box :billing_as_shipping, class: "checkbox"
              span
                = f.label :billing_as_shipping
              .cl &nbsp;
            /! end Field Row

            - %w{billing_address1}.each do |field|
              = render partial: 'form_field', locals: { f: f, field: field, required: true }
            - %w{ billing_address2}.each do |field|
              = render partial: 'form_field', locals: { f: f, field: field }
            - %w{billing_city billing_zipcode}.each do |field|
              = render partial: 'form_field', locals: { f: f, field: field, required: true }
            .field-row
              = f.label :billing_country_id do
                = f.object.class.human_attribute_name(:billing_country_id)
              = f.select :billing_country_id, Country.order{countries.name}.shipping_destinations.collect{|c| [c.name, c.id] }, { include_blank: true }, class: "country"
              .cl &nbsp;
            .field-row
              = f.label :billing_state do
                = f.object.class.human_attribute_name(:billing_state)
              = f.text_field :billing_state, class: 'field'
              = f.select :billing_state_id, {}, {}, class: "country hidden"
              .cl &nbsp;

            = render partial: 'form_field', locals: { f: f, field: :billing_phone, required: true }

        .cl &nbsp;
        .buttons#action_buttons
          = submit_tag "Save & Continue", class: "button dark"
        .cl &nbsp;

        .paypal
          br
          br
          = link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), "#", class: "", id: "submit_paypal_payment"
          - if @checkout_step == "billing"
            = f.hidden_field :paypal_payment, id: "paypal_payment"
            noscript
              .cl
              = f.label :paypal_payment
              = f.check_box :paypal_payment
              .cl               

    .right
      /! Order Summary
      .order-summary
        h5 ORDER SUMMARY
        table.order-items border="0" cellpadding="0" cellspacing="0" width="100%"
          thead
            tr
              th.item width="50" style="width:90px;" ITEM 
              th width="140" DESCRIPTION
              th width="90" PRICE
              th.center QTY
          tbody
            = f.fields_for :designer_orders do |designer_order|
              = designer_order.fields_for :order_items do |order_item|
                tr 
                  td style="width:90px;" = image_tag !order_item.object.item.product.primary_image.blank? ? order_item.object.item.product.primary_image.attachment.url(:mini) : "product_missing.png"
                  td
                    h6 = link_to order_item.object.item.product.name, product_path(order_item.object.item.product)
                    p = link_to order_item.object.item.product.designer.designer_name, designer_path(order_item.object.item.product.designer)
                    p = "Size: #{order_item.object.item.size.us_value}"
                  td.price = number_to_currency order_item.object.item.product.price_with_shipping, separator: '.'
                  td.qty.center 
                    span = order_item.text_field :quantity, style: "width:30px;height:22px;", class: "order_checkout_quantity", 'data-quantity' => order_item.object.item.quantity,  'data-tax-rate' => order_item.object.tax_rate, 'data-price' => order_item.object.price, 'data-shipping-cost' => order_item.object.shipping_cost
                - if @order.check_stock.kind_of?(Hash) and @order.check_stock.keys.include?(order_item.object.item_id)
                  tr
                    td colspan="4"
                      p.error Error: #{@order.check_stock[order_item.object.item_id]} only in stock for item: #{order_item.object.item.product.name}, you should remove it
        table.order-sum border="0" cellpadding="0" cellspacing="0" width="100%"
          tr
            td width="200"
            td align="right" width="200"
              span.order_total = number_to_currency @order.total, separator: '.'
          tr
            td Shipping
            td align="right"
              span = number_to_currency 0.00
          tr
            td
              | Tax
              a.see-more href="#"
                img alt="" src="/assets/css/see-more.png"
            td align="right"
              span.order_total_tax = number_to_currency @order.total_tax, separator: '.'

          - if current_user.unused_credits.length > 0
            tr
              td
                em 
                  | Apply Available Credit
                  = f.check_box :apply_credit, class: :credit_order_switch, "data-order_total" => @order.total_with_tax, "data-credit" => current_user.unused_credits.collect{|c| c.amount }.sum, style: "margin-left:5px;"

              td align="right"

                = f.fields_for :credits, @unused_credits do |c|
                  = c.hidden_field :id
                span = number_to_currency current_user.unused_credits.collect{|c| c.amount }.sum, separator: '.'
          tr
            td
              em ORDER TOTAL
            td align="right"
              span.order_total_with_tax = number_to_currency @order.total_with_tax, separator: '.'


        .cl &nbsp;
        .shipping-details.checkout-shipping-details
          .ups-logo = image_tag '/assets/we-ship-with-ups.png'
          p.complementary_shipping Complementary shipping on all orders
 
      /! end Order Summary
    .cl &nbsp;


= form_tag cancel_checkout_path, id: "cancel_checkout" do
  = raw "<noscript>#{submit_tag "Cancel Checkout"}</noscript>"

- content_for(:javascript_includes) do
  javascript:
    $(function(){ 
      $("a.see-more").qtip({
          content: {
            text: "Duty & tax guidelines for shoppers:<br><br>US shoppers:<br>If you purchase items from outside the US, Customs duties and/or Import VAT may be due. It's the sender's (ie the designer's) responsibility to provide details of the items being shipped for calculation of duty or VAT.<br>It's the buyer's responsibility to pay for any additional duties or VAT due.<br>(Items valued under $200: Generally, you shouldn't have any additional duties.<br>Items over $200: You may have to pay a duty or tax on the item. The amount, if any, depends on the type of item and its value. Some items can be imported without paying any duty/tax at all.)<br>For more information go to: <a href=\"http://www.cbp.gov/xp/cgov/trade/basic_trade/internet_purchases.xml\">http://www.cbp.gov/xp/cgov/trade/basic_trade/internet_purchases.xml</a>)<br><br>EU shoppers:<br>If you purchase items from non EU countries, Customs Duty and/or Import VAT may be due. It's the sender's (ie the designer's) responsibility to provide details of the items being shipped for calculation of Duty or VAT.<br>It's the buyer's responsibility to pay for any additional Duty or VAT due.<br>Buying from non EU countries: Items of $20 (or equivalent in local currency) or less are free from customs duty & import VAT.<br>Customs duty becomes payable if the value of items is over $150 (or equivalent in local currency), but duty is waived if the amount of duty calculated is less than $10 (or equivalent in local currency).<br>You can estimate your Duties & VAT using this calculator: <a href=\"http://dutycalculator.com\">http://dutycalculator.com</a>"
          },
          position: {
            my: 'top center',
            at: 'bottom center'
          },
          hide: {
            fixed: true,
            delay: 240
          },
          style: {
            classes: 'ui-tooltip-shadow ui-tooltip-youtube'
          }
      });
    });

- if @checkout_step == "billing"
  - content_for(:javascript_includes) do
    javascript:
      var order_shipping_info = #{ {"order[shipping_address1]" => @order.shipping_address1, "order[shipping_address2]" => @order.shipping_address2,  "order[shipping_city]" => @order.shipping_city, "order[shipping_state]" => @order.shipping_state, "order[shipping_state_id]" => @order.shipping_state_id, "order[shipping_zipcode]" => @order.shipping_zipcode, "order[shipping_country_id]" => @order.shipping_country.id, "order[shipping_phone]" => @order.shipping_phone}.to_json.html_safe };
