p#notice= notice
p
  b Shipping fname:
  = @order.shipping_fname
p
  b Shipping lname:
  = @order.shipping_lname
p
  b Shipping address1:
  = @order.shipping_address1
p
  b Shipping address2:
  = @order.shipping_address2
p
  b Shipping zipcode:
  = @order.shipping_zipcode
p
  b Shipping city:
  = @order.shipping_city
p
  b Shipping state:
  = @order.shipping_state
p
  b Shipping country:
  = @order.shipping_country_id
p
  b Shipping phone:
  = @order.shipping_phone

= form_for 

p
  b Status:
  = @order.status


= link_to 'Back', orders_path


h1 Listing products
table
  tr
    th Name
    th Quantity
    th Size
    th Lead Days
    th Description
    th Category
    th Price
  - @order.items(current_user).each do |item|
    tr
      td= item.product.name
      td= item.order_item_quantity
      td= item.size.us_value
      td= item.product.lead_days
      td= item.product.short_description
      td= item.product.primary_category.name
      td= number_to_currency(item.order_item_price*item.order_item_quantity, separator: '.')


.total
  h3 Total
  = number_to_currency(@order.items(current_user).collect{ |i| (i.order_item_price*i.order_item_quantity) }.inject{|sum,x| sum + x }, separator: '.')

- if @submit_checkout and current_user.id == @order.customer_id
  = form_tag validate_checkout_path do
    = submit_tag "Submit Order"
        
