h2 Order History
p Have feedback concerning a particular order? Contact us #{ link_to "here", contact_us_path }
table.dashboard_table
  tr
    th Order Number
    th Date Ordered
    th # Items Ordered
    th Order Total
    th Order Detail
  - @orders.each do |order|
    tr
      td= order.id
      td= order.created_at.to_date.to_formatted_s(:long)
      td= order.number_of_items
      td.currency= number_to_currency order.total_with_tax, separator: '.'
      td= link_to 'View Detail', order

- unless @orders.is_a?(Array)
  = paginate @orders, window: 3
  .cl
