.orders

  - unless params.include?(:print)

    p.back = raw "Back to #{link_to "Order History", request.referrer}"

    .title
      .left
        p
          strong Order Detail
        p
          span Have feedback concerning your order? Contact us #{ link_to "here.", contact_us_path(order_id: @order.id)}
      .right
        p.buttons
          = link_to "Print", order_path(@order, print: true), class: "dark", target: "_blank"
      .cl

  .orders-content
    .order-number
      .title
        .left
          h4 Order Number: #{@order.id}
          .cl &nbsp;
          .mini-cols
            .col.left
              strong Bill to
            .col.right
              p #{@order.billing_fname} #{@order.billing_lname}
              p #{@order.billing_address1} #{@order.billing_address2}
              p #{@order.billing_city}, #{!@order.billing_state.blank? ? "#{@order.billing_state}, " : ""}#{@order.billing_zipcode}
              p #{@order.billing_country.name if @order.billing_country}
              p #{@order.billing_phone}
            .cl &nbsp;
        .right
          h4 Ordered on #{@order.created_at.to_date.to_formatted_s(:long)}
          .cl &nbsp;
          .mini-cols
            .col.left
              strong Ship to
            .col.right
              p #{@order.shipping_fname} #{@order.shipping_lname}
              p #{@order.shipping_address1} #{@order.shipping_address2}
              p #{@order.shipping_city}, #{!@order.shipping_state.blank? ? "#{@order.shipping_state}, " : ""}#{@order.shipping_zipcode}
              p #{@order.shipping_country.name if @order.billing_country}
              p #{@order.shipping_phone}
            .cl &nbsp;
      .cl &nbsp;
    .shipping-status
      h3.black Shipping Status
      table width="100%" border="0" cellspacing="0" cellpadding="0"
        tr
          th width="136" Designer
          th width="227" Products ordered from designer
          th width="107" Subtotal
          th width="108" Status
          th width="139" Tracking number
        - @order.designer_orders.each do |designer_order|
          tr
            td #{designer_order.designer.designer_name}
            td
              - designer_order.order_items.each do |order_item|
                - if order_item.item.product
                  p #{order_item.item.product.name} (qty: #{order_item.quantity})
            td
              span #{number_to_currency(designer_order.total, separator: '.')}
            td #{shipping_status_to_s(designer_order.shipping_status)}
            td <a target="_blank" href="#{ups_tracking_link(designer_order.ups_tracking)}">#{designer_order.ups_tracking}</a>
      .total
        p
          span Order Subtotal:
          em #{number_to_currency @order.total, separator: '.' }
        p
          span Taxes:
          em #{number_to_currency @order.total_tax, separator: '.' }
        p
          span Shipping:
          em #{number_to_currency 0, separator: '.' }
        p
          span
            strong Order Total:
          strong
            em #{number_to_currency @order.total_with_tax, separator: '.' }

        - if @order.credits.length > 0
          p
            span
              strong Applied Credit:
            strong
              em - #{number_to_currency @order.credits.collect{|c| c.amount }.sum, separator: '.' }

          p
            span
              strong New Order Total:
            strong
              em #{number_to_currency @order.total_with_tax - @order.credits.collect{|c| c.amount }.sum, separator: '.' }


    .items
      h3.black Items in Your Order

      - @order.designer_orders.each do |designer_order|
        .item
          h4 = link_to designer_order.designer.designer_name, designer_path(designer_order.designer)
          p.location #{designer_order.designer.designer_city}, #{designer_order.designer.designer_country.name}
          table
            tr
              th width="95" ITEM
              th width="195" PRODUCT INFO
              th width="125" QUANTITY
              th width="125" PRICE
              th width="95" TAX
              th width="135" ITEM TOTAL
            - designer_order.order_items.each do |order_item|

              tr
                td
                  - if !order_item
                    = image_tag !order_item.item.product.primary_image.blank? ? order_item.item.product.primary_image.attachment.url(:mini) : "product_missing.png"
                td
                  - if order_item.item.product
                    p = link_to order_item.item.product.name, product_path(order_item.item.product)
                    p #{order_item.item.product.short_description}
                    p Size: #{order_item.item.size.us_value}

                td
                  span #{order_item.quantity}
                td
                  span #{number_to_currency order_item.total, separator: '.'}
                td
                  span #{number_to_currency order_item.total_tax, separator: '.'}
                td
                  span #{number_to_currency order_item.total_with_tax, separator: '.'}
                  - if order_item.item.product
                    - unless params.include?(:print) or order_item.item.product.lead_days < @order.return_days_left or order_item.number_of_returnable_items <= 0
                      td
                        p.buttons =link_to "Return/Exchange", new_return_path(order_id: @order.id, item_id: order_item.item_id), class: "dark"
  - unless params.include?(:print)
    p.back = raw "Back to #{link_to "Order History", request.referrer}"

- if @display_thank_you
  - content_for(:javascript_includes) do
    javascript:
      $(function(){ display_thank_you_for_your_order(#{@order.to_json.html_safe}) })
