.checkout
  .page-title
    h3 CHECKOUT
    p
      a href="#"
        em Continue Shopping
    .cl &nbsp;
  .left
    .tab-navigation
      ul
        li
          a href="#"
            span.title Ship to
            - if @checkout_step == 'shipping'
              br
              br
              span Please enter your shipping information:
            - else
              span
                = "#{@order.shipping_fname} #{@order.shipping_lname}"
                br
                = "#{@order.shipping_address1} #{@order.shipping_address2}"
                br/
                = "#{@order.shipping_city}, #{!@order.shipping_state.blank? ? "#{@order.shipping_state}, " : ""}#{@order.shipping_zipcode}"
                br/
                = @order.shipping_country.name if !@order.shipping_country.blank?
                br/
                = @order.shipping_phone
            em.arrow
          = link_to "Edit", checkout_path(step: "shipping"), class: 'edit'
        li
          a href="#"
            span.title PAYMENT
            span How would you like to pay?
            br/
            span
              | Paypal
              br/
              strong Credit Card
            em.arrow
          = link_to "Edit", checkout_path(step: "billing"), class: 'edit'
        li
          a.active href="#"
            span.title REVIEW
            span Confirm order details and shipment method.
            em.arrow
      .cl &nbsp;
    .tab-content
      .review
        .info.shipping
          h5 Shipping Information
          = "#{@order.shipping_fname} #{@order.shipping_lname}"
          br
          = "#{@order.shipping_address1} #{@order.shipping_address2}"
          br/
          = "#{@order.shipping_city}, #{!@order.shipping_state.blank? ? "#{@order.shipping_state}, " : ""}#{@order.shipping_zipcode}"
          br/
          = @order.shipping_country.name if !@order.shipping_country.blank?
          br/
          = @order.shipping_phone

        - if @order.billing_fname and @order.billing_lname and @order.billing_address1 and @order.billing_zipcode
          .info.billing
            h5 Billing Information
            = "#{@order.billing_fname} #{@order.billing_lname}"
            br
            = "#{@order.billing_address1} #{@order.billing_address2}"
            br/
            = "#{@order.billing_city}, #{!@order.billing_state.blank? ? "#{@order.billing_state}, " : ""}#{@order.billing_zipcode}"
            br/
            = @order.billing_country.name if !@order.billing_country.blank?
            br/
            = @order.billing_phone
        .cl

        .info
          - if @order.customer.express_payer_id and @order.customer.express_token
            h5 Paying with: 
            | Paypal
            br
            | Paypal ID: #{@order.customer.express_payer_id}
          - else
            h5 Paying with: 
            | Credit Card
        .cl


  .right
    /! Order Summary
    .order-summary
      h5 ORDER SUMMARY
      table.order-items border="0" cellpadding="0" cellspacing="0" width="100%"
        tr
          th.item width="50" ITEM 
          th width="140" DESCRIPTION
          th width="90" PRICE
          th.center QTY
        - @order.items.sort{|x,y| x.product.designer_id <=> y.product.designer_id }.each do |item|
          tr 
            td = image_tag !item.product.primary_image.blank? ? item.product.primary_image.attachment.url(:mini) : "product_missing.png"
            td
              h6 = item.product.name
              p = item.product.designer.designer_name
              p = "Size: #{item.size.us_value}"
            td.price = number_to_currency item.product.price_with_shipping, separator: '.'
            td.qty.center 
              span = item.order_item_quantity
      table.order-sum border="0" cellpadding="0" cellspacing="0" width="100%"
        tr
          td width="200"
          td align="right" width="200"
            span = number_to_currency @order.total, separator: '.'

        tr
          td Shipping
          td align="right"
            span = number_to_currency 0.00, separator: '.'

        tr
          td
            | Tax
            a.see-more href="#"
              img alt="" src="/assets/css/see-more.png"
          td align="right"
            span = number_to_currency @order.total_tax, separator: '.'

        - if @order.apply_credit
          tr
            td style="padding-top:15px;"
              em Applied Credit
            td align="right" style="padding-top:15px;"
              span.order_total_with_tax = number_to_currency current_user.unused_credits.collect{|c| c.amount }.sum, separator: '.'
        tr
          td
            em ORDER TOTAL
          td align="right"
            span = number_to_currency @order.total_with_tax - @order.unused_credits.collect{|c| c.amount }.sum, separator: '.'



      - if @submit_checkout and current_user.id == @order.customer_id
        = form_tag validate_checkout_path do

          - if !@order.customer.express_payer_id.blank? and !@order.customer.express_token.blank?
            = hidden_field_tag :express_payer_id, @order.customer.express_payer_id
            = hidden_field_tag :express_token, @order.customer.express_token

          p.submit-order.buttons
            = submit_tag "Submit Your Order", class: "button dark"
      .cl &nbsp;
    p.complementary_shipping Complementary shipping on all orders
    /! end Order Summary
  .cl &nbsp;
