= form_for(@page) do |f|
  - if @page.errors.any?
    #error_explanation
      h2
        = pluralize(@page.errors.count, "error")
        | prohibited this page from being saved:
      ul
        - @page.errors.full_messages.each do |msg|
          li= msg
  .field
    = f.label :banner
    = f.file_field :banner
  .cl
  .buttons
    = f.submit "Save", class: "button dark"
