/ - cache "blog_page" do
/   -@rss.entries.each do |item|  
/     .page.blog
/       h1
/         span.mercury-region data-mercury="simple"
/           = item.title
/       .page-content-wrapper#page_text class="wide"
/         = CGI.unescapeHTML(item.summary).html_safe

/ .cl
= stylesheet_link_tag 'iframe'

#blogger_embed
  iframe src="http://ziba-style.blogspot.com/?view=snapshot" width="100%" height="100%" style="border:none; overflow:hidden"


