h1 Listing pages
table
  tr
    th Name
    th Text
    th
    th
    th
  - @pages.each do |page|
    tr
      td= page.name
      td= page.text
      td= link_to 'Show', page
      td= link_to 'Edit', edit_page_path(page)
      td= link_to 'Destroy', page, confirm: 'Are you sure?', method: :delete
br/
= link_to 'New Page', new_page_path
