- if user_signed_in? and current_user.is_admin?
  - content_for :admin_menu do
    li 
      = link_to "Edit Page", "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_page_path(@page)}
    li
      = link_to "Upload Image", edit_page_path(@page)

p#notice= notice

- cache "views_pages_show_#{@page.name}" do
  .page.save_url data-save_url="#{mercury_update_page_path(@page)}"
    h1
    	span.mercury-region#page_title data-type="editable" data-mercury="simple"
    		= raw @page.title.upcase

    - mercury_class = params[:mercury_frame] ? 'mercury-active' : 'mercury-scroll'
    - wide_class    = @page.banner.url.include?("missing") ? 'wide' : 'narrow'

    .page-content-wrapper class=("#{mercury_class} #{wide_class}")
      .page_content.mercury-region#page_text data-type="editable" data-mercury="full"
      	= raw @page.text

    - unless @page.banner.url.include?("missing")
      .page-banner style="padding-top: 20px;"
        = image_tag @page.banner.url(:small)

.cl