= form_for(@invitation) do |f|
  - if @invitation.errors.any?
    #error_explanation
      h2
        = pluralize(@invitation.errors.count, "error") + " "
        ' prohibited this invitation from being saved:
      ul
        - @invitation.errors.full_messages.each do |msg|
          li= msg
  .field
    = f.label :email, "Who would you like to invite?", style:"font-size:11px;width: 352px;margin-left: 0px;"
    = f.text_field :email, title:"your friend's email address *", value:"your friend's email address *", class: "blink"
  .cl

  .field
    = f.label :message, 'Include a personal message with your invitation <span style="float:right"><span id="invitation_textarea_limit_display">200</span> char. remaining</span>'.html_safe, style:"font-size:11px;width: 352px;margin-left: 0px;"
    = f.text_area :message, {id: "invitation_textarea"}
  .cl

  = f.submit "", class: "send_invitation_button"