.invitation

  h2 Invite friends and receive $20 when they make their first purchase.

  - if current_user.invitation_limit-@number_of_invitations_sent > 0
    .new
      = render 'form'

  .index
    h2 = current_user.invitation_limit-@number_of_invitations_sent > 0 ?"You have #{current_user.invitation_limit-@number_of_invitations_sent} remaining invitations" : "You cannot send invitations anymore"
    ul
      - @invitations.each do |invitation|
        li
          span.date   = invitation.created_at.to_date.to_formatted_s(:long)
          span.email  = invitation.email
          span.status = invitation.to_user_id.blank? ? "Sent" : "Registered"
          .cl

  .cl
.cl

style .tab-content {background-color:silver;border-bottom-right-radius:4px;border-bottom-left-radius:4px;}