h2.login_header REQUEST AN INVITATION
= form_for(Contact.new) do |f|
  / - if @contact.errors.any?
  /   #error_explanation
  /     h2
  /       = pluralize(@contact.errors.count, "error")
  /       ' prohibited your invitation request from behing sent:
  /     ul
  /       - @contact.errors.full_messages.each do |msg|
  /         li= msg
  .login_field
    = f.text_field :email, title: "EMAIL", value: "EMAIL", class: :blink
  .cl
  = f.hidden_field :contact_type, value: 2
  .field
    = f.submit "SUBMIT", class: "button login_button" 
  .cl