- title "Contact us"
- meta_description "Contact us description."
- meta_keywords "Contact us"
.registration
  h2 Contact Us
  .registration_form#new_designer_form.engage_with_us

    h3 Engage With Us

    p Want to tell us about a designer or region you’d like to see featured? <br> #{link_to "Click here", engage_with_us_path}


    h3.space_top Customer Service

    p 
      | Give us your feedback to help us improve your experience.
      br
      | You may also reach us at 1-888-730-7720

    = form_for(@contact) do |f|
      - if @contact.errors.any?
        #error_explanation
          h2
            = pluralize(@contact.errors.count, "error")
            | prohibited your invitation request from behing sent:
          ul
            - @contact.errors.full_messages.each do |msg|
              li= msg

      = f.hidden_field :contact_type
      .field.dark
        = f.label :fname
        = f.text_field :fname
      .cl
      .field.dark
        = f.label :lname
        = f.text_field :lname
      .cl
      .field.dark
        = f.label :email
        = f.text_field :email
      .cl
      .field.dark
        = f.label :phone
        = f.text_field :phone
      .cl
      .field.dark
        = f.label :country_id
        = f.select :country_id, Country.order{countries.name}.all.collect{|c| [c.name, c.id] }, { include_blank: true }
      .cl
      .field.dark
        = f.label :order_number
        = f.text_field :order_number
      .cl
      .field.dark
        = f.label :message, "How may we assist you?"
        = f.text_area :message 
      .cl

      .field  
        = f.submit "Submit", class: "button dark"
      .cl
