- title "Engage with us"
- meta_description "Engage with us description."
- meta_keywords "Engage with us"
.registration
  h2 Engage With Us
  .registration_form#new_designer_form.engage_with_us


    = form_for(@contact, class: "left") do |f|

      - if @contact.errors.any?
        #error_explanation
          h2
            = pluralize(@contact.errors.count, "error")
            | prohibited your invitation request from behing sent:
          ul
            - @contact.errors.full_messages.each do |msg|
              li= msg


      = f.hidden_field :contact_type

      .field.dark
        = f.label :designer_name
        = f.text_field :fname
      .cl

      .field.dark
        = f.label :product
        = f.text_field :lname
      .cl

      .field.dark
        = f.label :country_id
        = f.select :country_id, Country.order{countries.name}.all.collect{|c| [c.name, c.id] }, { include_blank: true }
      .cl

      .field.dark
        = f.label :discover_product
        = f.select :discover_product, Contact::DISCOVER , { include_blank: true }
      .cl

      .field.dark
        = f.label :link
        = f.text_field :link
      .cl

      .field.dark
        = f.label :additional_text
        = f.text_area :message
      .cl

      .field  
        = f.submit "Submit", class: "button dark"
      .cl