- title "Request Invitation"
- meta_description "Request Invitation description."
- meta_keywords "Request Invitation"
.request_invitation class="#{(request.xhr?) ? "narrow" : ""}"
  h2 MEMBERSHIP IS CURRENTLY BY INVITATION ONLY
  .form
    p 
      | ZIBA Style is an online shopping community connecting members with the best in locally inspired luxury from around the world. From Mumbai to Miami and Bali to Beirut, our curators take shoppers on virtual trips around the globe, allowing them to shop directly from the most exotic destinations and designers worldwide. Membership is free, but currently by invitation only.
      br
      | Questions? Please contact <a href="mailto:membership@ziba-style.com">membership@ziba-style.com</a>.

    = form_for(@contact) do |f|
      h3 REQUEST AN INVITATION
      p.pad-bottom Submit your email to our waiting list, and we will send you an invitation as soon as we can.

      - if @contact.errors.any?
        #error_explanation
          h2
            = pluralize(@contact.errors.count, "error")
            ' prohibited your invitation request from behing sent:
          ul
            - @contact.errors.full_messages.each do |msg|
              li= msg
      .field
        = f.text_field :email, title: "YOUR EMAIL ADDRESS *", value: "YOUR EMAIL ADDRESS *", class: :blink
      .cl
      = f.hidden_field :contact_type
      .field
        = f.submit "SUBMIT", class: "button pink" 
      .cl
    .cl