doctype html
html
  head
    meta title="Description" content="The online destination for global luxury shopping. From Mumbai to Miami and Bali to Beirut, our curators travel the world to bring you the most unique luxury goods, allowing you to shop directly from the most exotic destinations and designers worldwide. "
    meta title="keywords" content="shop, travel, men, women, luxury, apparel, jewelry, accessories, trip, shopping, e-commerce, marketplace, global, world, worldwide, exclusive, curate, curator, designer, fashion, design"

    title ZIBA STYLE
    = stylesheet_link_tag   "application", :media => "all"
    = stylesheet_link_tag   "https://fonts.googleapis.com/css?family=GFS+Didot"
        
    = csrf_meta_tags
    link href="/favicon.ico" rel="shortcut icon"
  body
    .shell.floatting_header_footer
      #header
        .header-top
          .right
            = render :partial => '/layouts/menu'
          .cl &nbsp;

        h1#logo
          = link_to 'Ziba', root_path, style: "#{user_signed_in? ? '' : 'left: 50%; margin-left: -60px;'}"
        - if user_signed_in?
          .header-bottom
            = render :partial => '/layouts/navigation'
        - else
          .border style="border-bottom:solid 1px #CCC; margin-top: 10px; height:52px"

      .login_subheader style="z-index:0;"
        .login_subheader_bg style="z-index:0;"
        .login_subheader_content style="z-index:0;"
          p.top_description style="margin-top:10px;font-size:20px;" OUR APOLOGIES....
        #login_modal.login_modal_window style="display:block"
          .login
            .login_form_wrapper
              .login_background_image style="opacity: 0.5;z-index:0;"
              .login_close
              .login_form
                p.error_message The page you are looking for cannot be found.
              div style="position: absolute;top: 295px;text-align: center;z-index: 8020;left: 40px;font-size: 15px;"
                p.instructions
                  | Please check that you typed the page address correctly, or click on a link at the top or bottom of this page to find the information you want.
              .redirection style="top: 400px;position: relative;"
                = link_to " Back to previous page", :back
                = link_to " Back to homepage", root_path, :style=>"float:right;color:white;"
        
    = render :partial => '/layouts/footer'
    = render :partial => '/layouts/google_analytics'
    = javascript_include_tag "application"