- title "Edit Returns"
- meta_description "Edit Returns description."
- meta_keywords "Edit Returns"
h1 Edit Return
= form_for(@return) do |f|
  = f.hidden_field :order_item_id
  - if @return.errors.any?
    #error_explanation
      h2
        = pluralize(@return.errors.count, "error")
        | prohibited this return from being saved:
      ul
        - @return.errors.full_messages.each do |msg|
          li= msg

  .field
    = f.label :certified
    = f.text_field :certified
  .cl

  - if current_user.is_admin? and @admin_view
    .field
      = f.label :status
      = f.select :status, Return::STATUS
    .cl

  .buttons
    = f.submit "Save", class: "button dark"

- if !@return.restocked and @admin_view and current_user.is_admin?
  = form_for(@return, url: restock_return_path(@return)) do |f|
    | Restock #{pluralize(@return.quantity, "item")}
    br
    | Refund #{number_to_currency @return.return_price, separator: '.'}
    .buttons
      = f.submit "Restock", class: "dark button"
