- title "Designer Returns"
- meta_description "Designer Returns description."
- meta_keywords "Designer Returns"
h1 Returns
table.dashboard_table
  tr
    th Item
    th Product Info
    th Quantity
    th Price
    th Order #
    th Quantity to return
    th Reason for return
    th Return Shipping Certification Code

  - @returns.each do |return_item|
    tr
      td= return_item.order_item.item.product.name
      td
        = return_item.order_item.item.product.name
        = return_item.order_item.item.product.short_description
        = return_item.order_item.item.size.us_value
      td= return_item.order_item.quantity
      td= return_item.order_item.quantity*return_item.order_item.price
      td= return_item.order_item.designer_order.order.id
      td= return_item.quantity
      td= return_item.reason
      td= return_item.certified

- unless @returns.is_a?(Array)
  = paginate @returns, window: 3
  .cl

.cl