- title "Returns"
- meta_description "Returns description."
- meta_keywords "Returns"
h1 Returns
table.dashboard_table
  tr
    th Item
    th Product Info
    th Quantity
    th Price
    th Order #
    th Quantity to return
    th Reason for return
    th Return Shipping Certification Code

  - @returns.each do |return_item|
    tr
      td= return_item.order_item.item.product.name
      td
        = return_item.order_item.item.product.name
        = return_item.order_item.item.product.short_description
        = return_item.order_item.item.size.us_value
      td= return_item.order_item.quantity
      td= return_item.order_item.quantity*return_item.order_item.price
      td= return_item.order_item.designer_order.order.id
      td= return_item.quantity
      td= return_item.reason
      td
        - unless @admin_view and current_user.is_admin?
          = link_to 'Print Return Label', return_path(return_item)
          br
          - unless return_item.certified.blank?
            b Certification Code:
            ' 
            = return_item.certified
          - else
            = link_to 'Enter Certification Code', edit_return_path(return_item)
        - else
          = link_to 'Edit Return', admin_edit_return_path(return_item)


- unless @returns.is_a?(Array)
  = paginate @returns, window: 3
  .cl


.cl