h1 Create Return
= form_for(@return) do |f|
  = f.hidden_field :order_item_id
  - if @return.errors.any?
    #error_explanation
      h2
        = pluralize(@return.errors.count, "error")
        | prohibited this return from being saved:
      ul
        - @return.errors.full_messages.each do |msg|
          li= msg

  .field
    = f.label :quantity
    - dropdown = []
    - @order_item.number_of_returnable_items.times{ |i| dropdown << ["#{ pluralize(i+1, 'item')}", i+1] }
    = f.select :quantity, dropdown
  .cl

  .field
    = f.label :reason
    = f.select :reason, Return::REASON, include_blank: true
  .cl  

  .field.reason
    = f.label " "
    = f.text_area :reason
  .cl

  .buttons
    = f.submit "Return", class: "button dark"

.cl