- title "Return"
- meta_description "Return description."
- meta_keywords "Return"
table.returns
  tr
    td
      b Product Info:
      p
        b Designer Order: 
        = @return.order_item.designer_order.id
      p
        b Item: 
        = @return.order_item.item.id  
      p
        b Name: 
        = @return.order_item.item.product.name
      p
        b Size: 
        = @return.order_item.item.size.us_value
    td
      b Ship To: 
      p
        = @return.order_item.designer_order.designer.fname
        ' 
        = @return.order_item.designer_order.designer.lname
        br
        = @return.order_item.designer_order.designer.address1
        ' 
        = @return.order_item.designer_order.designer.address2
        br
        = @return.order_item.designer_order.designer.zipcode
        ' 
        = @return.order_item.designer_order.designer.city
        ' 
        = @return.order_item.designer_order.designer.state
        br
        = @return.order_item.designer_order.designer.designer_country.name
  tr
    td COLSPAN="2"
      p
        b Quantity: 
        = @return.quantity
      p
        b Reason: 
        = @return.reason
      p
        b Return Code: 
        = @return.code



p
	- unless @return.certified.blank?
		b Certification Code: 
		= @return.certified
	- else
		= link_to 'Enter Certification Code', edit_return_path(@return) unless params.include? :print

- unless params.include? :print
  .buttons
    = link_to "Print", return_path(@return, print: true), class: "button dark", target: "_blank"
.cl