h2.login_header LOGIN
= form_for(User.new, :as => 'user', :url => session_path('user')) do |f|
  .login_field
    = f.text_field :email, class: :blink
  .login_field
    = f.password_field :password
  = f.submit "ENTER", class: "button login_button"
  = link_to "FORGOT PASSWORD?", '#forgot_password_modal',class: 'login_modal_button', style: "margin-left: 5px"
  /= render partial: "devise/links"