/ doctype html
/ html
/   head
/     title ZIBAStyle
/     meta title="Description" content="The online destination for global luxury shopping. From Mumbai to Miami and Bali to Beirut, our curators travel the world to bring you the most unique luxury goods, allowing you to shop directly from the most exotic destinations and designers worldwide. "
/     meta title="keywords" content="shop, travel, men, women, luxury, apparel, jewelry, accessories, trip, shopping, e-commerce, marketplace, global, world, worldwide, exclusive, curate, curator, designer, fashion, design"
/     = stylesheet_link_tag   "application", :media => "all"
/     = stylesheet_link_tag   "https://fonts.googleapis.com/css?family=GFS+Didot"
/     = javascript_include_tag "application"
/     = yield(:javascript_includes) if content_for?(:javascript_includes) 

/     = csrf_meta_tags
/     link href="/favicon.ico" rel="shortcut icon"

/   body.login_bg
/     /! Shell
/     .shell
/       / /! Header
/       / #header
/       /   /! Header top
/       /   .header-top
/       /     h1#logo
/       /       = link_to 'Ziba', root_path
/       /     .right
/       /       = render :partial => '/layouts/menu'
/       /     .cl &nbsp;
/         /! end Header top
/         /! Header bottom
/         / .header-bottom
/         /   /! Navigation
/         /   = render :partial => '/layouts/navigation'


/       /! Main
/       #main
/         - if !notice.blank? or !alert.blank?
/           .alert_messages
/             - if !notice.blank?
/               p.notice= notice
/             - if !alert.blank?
/               p.alert= alert
/             = link_to "X", "#", class: :alert_messages_button

/         / - cache "devise_sessions_new" do
/         .login
/           .login_form_wrapper
/             .login_background_image
/             .login_form style="z-index:110;"
/               h2.login_header LOGIN
/               = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
/                 .login_field
/                   = f.email_field :email, class: :blink
/                 .login_field
/                   = f.password_field :password
/                 = f.submit "ENTER", class: "button login_button"
/                 = render partial: "links"

/                 .cl

/           /! end Main
/           /! Footer
/           = render :partial => '/layouts/footer'
/           = render :partial => '/layouts/google_analytics'      
doctype html
html
  head
    title ZIBAStyle
    meta title="Description" content="The online destination for global luxury shopping. From Mumbai to Miami and Bali to Beirut, our curators travel the world to bring you the most unique luxury goods, allowing you to shop directly from the most exotic destinations and designers worldwide. "
    meta title="keywords" content="shop, travel, men, women, luxury, apparel, jewelry, accessories, trip, shopping, e-commerce, marketplace, global, world, worldwide, exclusive, curate, curator, designer, fashion, design"
    = stylesheet_link_tag   "application", :media => "all"
    = stylesheet_link_tag   "https://fonts.googleapis.com/css?family=GFS+Didot"
    = javascript_include_tag "application"
    = yield(:javascript_includes) if content_for?(:javascript_includes) 

    = csrf_meta_tags
    link href="/favicon.ico" rel="shortcut icon"

  body.login_bg
    /! Shell
    .shell
      / /! Header
      / #header
      /   /! Header top
      /   .header-top
      /     h1#logo
      /       = link_to 'Ziba', root_path
      /     .right
      /       = render :partial => '/layouts/menu'
      /     .cl &nbsp;
        /! end Header top
        /! Header bottom
        / .header-bottom
        /   /! Navigation
        /   = render :partial => '/layouts/navigation'


      /! Main
      #main
        - if !notice.blank? or !alert.blank?
          .alert_messages
            - if !notice.blank?
              p.notice= notice
            - if !alert.blank?
              p.alert= alert
            = link_to "X", "#", class: :alert_messages_button

        / - cache "devise_sessions_new" do
        .login_old
          == image_tag '/assets/css/login_decoration_alt.jpg', style: "position:absolute;z-index:-5;margin-left:100px;", class: 'login-bg'
          .login_form style="float:left;z-index:110;"
            .login_logo
            = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
              .login_field
                = f.email_field :email, class: :blink
              .login_field
                = f.password_field :password
              = f.submit "ENTER", class: "button pink"
              .cl
              = render partial: "links"

          /! end Main
          /! Footer
          = render :partial => '/layouts/footer'
          = render :partial => '/layouts/google_analytics'      