- title "Designer videos"
- meta_description "Designer videos description."
- meta_keywords "Designer videos"
h1.dashboard_index Listing Videos
.buttons.dashboard_index
  = link_to "New Video", new_designer_video_path, class: "button dark"
.cl
ul
  - @designer_videos.each do |video|
    li 
      = video.name
      br
      .container
        = link_to video.url, video.url, class: "oembed"
      br
      = video.status == DesignerVideo::STATUS[:pending] ? "This Video is pending for approval" : "This Video has been approved"
      br
      = link_to "Delete this video", designer_video_path(video), method: :delete, confirm: "Do you want to delete this video?"
