- title "Designer video"
- meta_description "Designer video description."
- meta_keywords "Designer video"
= form_for(@designer_video) do |f|
  h1 New Video
  .field
    = f.label :name
    = f.text_field :name  
  .cl

  .field
    = f.label :url
    = f.text_field :url  
  .cl

  .buttons
    = f.submit "Save", class: "button dark"