= form_for(feedback) do |f|
  = f.hidden_field :designer_order_id
  - if feedback.errors.any?
    #error_explanation
      h2
        = pluralize(feedback.errors.count, "error")
        | prohibited this feedback from being saved:
      ul
        - @feedback.errors.full_messages.each do |msg|
          li= msg
  .cl
  br
  .field
    = f.label :rating
    br/
    - 1..5.times do |i|
      = f.radio_button :rating, i+1, class: [:star, :required]
  .cl
  br
  .field
    = f.label :comment
    br/
    = f.text_area :comment
  .cl
  br
  .actions
    = f.submit
