- title "Customer Feedbacks"
- meta_description "Customer Feedbacks description."
- meta_keywords "Customer Feedbacks"
h1 Feedback

table.dashboard_table
  tr
    th Order Number
    th Date Ordered
    th Designer
    th Product Ordered    
    th Feedback
    th Comment
  - @designer_orders.each do |designer_order|
    tr
      td = designer_order.order.id
      td = designer_order.order.created_at.to_date.to_formatted_s(:long)
      td = link_to designer_order.designer.designer_name, designer_path(designer_order.designer)
      td 
        - designer_order.order_items.each do |order_item|
          p #{link_to order_item.item.product.name, product_path(order_item.item.product)} (qty: #{order_item.quantity}) 
      - unless designer_order.feedback.blank?
        td
  				- 1..5.times do |i|
  					= radio_button :feedback, "rating#{designer_order.id}", i+1, class: :star, disabled: :disabled, checked: designer_order.feedback.rating == i+1
  				.cl
        td
        	=  designer_order.feedback.comment
      - else
  		  

        = form_for(designer_order.build_feedback) do |f|
          td
            = f.hidden_field :designer_order_id
            - if designer_order.build_feedback.errors.any?
              #error_explanation
                h2
                  = pluralize(designer_order.build_feedback.errors.count, "error")
                  | prohibited this feedback from being saved:
                ul
                  - designer_order.build_feedback.errors.full_messages.each do |msg|
                    li= msg

            .field
              - 1..5.times do |i|
                = f.radio_button :rating, i+1, class: [:star, :required]
          td
            = f.text_area :comment, style: 'height:80px'
            .cl
            = f.submit


- unless @designer_orders.is_a?(Array)
  = paginate @designer_orders, window: 3
  .cl