- title "Edit Feedback"
- meta_description "Edit Feedback description."
- meta_keywords "Edit Feedback"
h1 Editing feedback
= render partial: 'form', locals: {feedback: @feedback}
= link_to 'Show', @feedback
br
= link_to 'Back', request.referrer
