- title "Feedback"
- meta_description "Feedback description."
- meta_keywords "Feedback"
h1.grey Feedback
table.dashboard_table
  tr
    th Date
    th Rating
    th Comment
  - @feedbacks.each do |feedback|
    tr
      td= feedback.created_at.to_date.to_formatted_s(:long)
      td
        = render partial: "/shared/feedback_stars", locals: {opts: {disabled: :disabled, rating: feedback.rating, feedback_id: feedback.id}}
        .cl
      td= feedback.comment

- unless @feedbacks.is_a?(Array)
  = paginate @feedbacks, window: 3
  .cl