- title "Feedback show"
- meta_description "Feedback show description."
- meta_keywords "Feedback"
p#notice= notice

.field
  b Rating:
  br/
  = render partial: "/shared/feedback_stars", locals: {opts: {disabled: :disabled, rating: @feedback.rating}}	
  br/

p
  b Comment:
  = @feedback.comment
p
  b Designer order:
  = @feedback.designer_order_id
= link_to 'Edit', edit_feedback_path(@feedback)
br
= link_to 'Back', feedbacks_path
