ul
  - @editor_picks.each do |editor_pick|
    - unless editor_pick.thumbnail(:thumb).nil?
      li
        .box        
          .product-name
            = link_to editor_pick.product.name, product_path(editor_pick.product)
          a href=product_path(editor_pick.product)
            .image
              = image_tag editor_pick.thumbnail(:thumb), title: editor_pick.product.name
            .cl &nbsp;