= form_for(@country, multipart: true) do |f|
  - if @country.errors.any?
    #error_explanation
      h2
        = pluralize(@country.errors.count, "error")
        | prohibited this country from being saved:
      ul
        - @country.errors.full_messages.each do |msg|
          li= msg

  .field
    = f.label :banner
    = f.file_field :banner
  .cl

  .field
    = f.label :flag
    = f.file_field :flag    
  .cl
  = f.fields_for :history_pictures do |hp|
    .field
      = hp.label :history_picture
      = hp.file_field :attachment
    .cl

  .buttons
    = f.submit "Save", class: "button dark"
.cl