.history
  h4
    = link_to raw(@country.name), country_path(@country)
    '  >
    span.mercury-region#country_history_title data-type="editable" data-mercury="simple"
      = raw @country.history_title

  .text
      span.mercury-region#country_history data-type="editable" data-mercury="full"
        = raw @country.history
        

  .images
    - @country.history_pictures.each do |history_picture| 
      = image_tag history_picture.attachment.url

.cl