- title "Admin Countries"
- meta_description "Admin Countries description."
- meta_keywords "Admin Countries"
table
  - @countries.each do |country|
    tr
      td
        = country.name
      td
        = form_for country do |f|
          = f.check_box :is_shipping_destination, {class: "admin_country_shipping_checkbox"}
