- title @country.name
- meta_description "#{@country.name} description."
- meta_keywords "#{@country.name}"

h1 Editing country
= render 'form'
= link_to 'Show', @country
br
= link_to 'Back', countries_path
