- title "Listing Countries"
- meta_description "Country list description."
- meta_keywords "Country list"

- cache "views_countries_index" do
    /! Map area
    .map-area
      .left
        / img alt="" src="/assets/css/map.jpg"
        #map-continents style="background-color:black"
          ul.continents
            - Region.all.each do |region|
              li class="c#{region.id}" data-region-id="#{region.id}"
                a href="##{region.name.downcase.gsub(' ', '-')}" = region.name



      .right
        h3.country-header LE MEILLEUR DU MONDE
        #region-selector
          h4 Shop the World
          .select-region.scroll-pane
            ul#regions-list
              - Region.with_designers.all.each do |region|        
                li           
                  = link_to region.name, '#', 'data-region-id' => region.id, class: 'region-selector'
        #country-selector
          h4 Shop by country
          .no-countries-yet Check back soon for countries in this region.
          .select-country.scroll-pane
            ul#countries-list
              - Country.with_designers.each do |country|
                li
                  = link_to country.name, country_path(country), 'data-region-id' => country.region_id

      .cl &nbsp;
    /! end Map area
    .sliders
      /! Slider
      #editor-picks-slider.slider
        h5.slider-title = link_to "EDITORS' PICKS", editor_picks_path
        .slider-carousel
          = render "editors_picks", content: { editor_picks: @editor_picks }

      #as-seen-on-slider.slider.bottom
        h5 AS SEEN ON
        .slider-carousel
          ul        
            - @products.each do |product|
              li
                / note! each li can contain at most 5 .box elements; for more slider elements, add more .box's
                .designer-name
                  = link_to product.celebrity_pictures.first.meta, designer_path(product.designer)

                .box
                  p = image_tag product.celebrity_pictures.first.attachment.url(:as_seen_on)              

                  /- unless product.celebrity_pictures.first.meta.blank?
                    /p = link_to product.celebrity_pictures.first.meta, designer_path(product.designer)
                  .cl &nbsp;