- title @country.name
- meta_description "#{@country.name} description."
- meta_keywords @country.name
- content_for :admin_menu do
  = render partial: "/shared/add_to_home_page",locals: {entity: @country}

- content_for :javascript_includes do
  javascript:
    $(function(){
      INFINITE_SCROLLING.setup(".loading_area");
    })
- cache "views_countries_show_#{@country.id}_#{session_gender}" do
  .post  
    a href=(country_path @country) class="country-image-link"
      .image
        = image_tag @country.banner.url(:banner)
        h2.mercury-region#country_name  data-type="editable" data-mercury="simple"
          = raw @country.name_with_tags
    .text
      p
        span.mercury-region#country_description data-type="editable" data-mercury="full"
          = raw @country.description
        / - unless defined? @history
        /   br
        /   | To read about the history of design in this country, 
        /   = link_to "click here", history_country_path(@country)


- if user_signed_in? and current_user.is_admin?
	- content_for :admin_menu do
		li
			= link_to 'Upload/Change Banner', edit_country_path(@country)
		li
			= link_to "Edit Country", "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_country_path(@country)}


/- unless defined? @history



/! Filter
= render partial: "/shared/product_filters", locals: {form_url: country_path(@country), categories: @categories, designers: @designers}

.featured
	= render partial: "/products/products", locals: {products: @products, id: 'products', no_pagination: true}
.loading_area style="text-align:center"
/- else
/  .country
/    = render partial: "history", locals: {country: @country}
