.cart-popup {

  background: black;
  width: 385px;
  color: white;
  overflow: hidden;

  border: 1px solid silver;
  border-radius: 2px;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 9999;
  padding: 0;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
  font-family: 'HelveticaNeueRegular', Helvetica, arial, sans-serif;

  h3 {
    color: #ffffff; 
    letter-spacing: 6px;  
    font-family: 'HelveticaLightRegular', Helvetica, arial, sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 14px;
    margin: 0;
    padding: 5px 18px;
    width: 349px;
    border-bottom: 1px solid #666;
  }

  .picture {
    float: left;
    height: 80px;
    width: 70px;
    margin-right: 18px;
  }

  .view-shopping-bag {    
    float: left;
    margin-left: 34px;    
    padding: 0;
    display: block;
    line-height: 35px;
    color: #ccc;

    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;

  }

  .checkout-form {    
    float: right;    
    padding: 0;
    margin-right: 17px;
  }

  #popup-checkout-button {
    background: url('/assets/css/cart-popup-checkout-btn.png');
    width: 122px;
    height:35px;
    display: block;
    color: #eee;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
  }

  .empty-cart-message {
    padding: 18px;
    text-align: left;
  }

  ul {
    padding-bottom: 10px;
  }

  li {
    border-bottom: 1px solid #666;
    padding: 10px 0;
    margin: 0 18px;
    list-style: none;
    position: relative;
    overflow: hidden;
    &:last-child { 
      // border: none;
      margin-bottom: 10px;
    }
    
    .designer-name, .name, .by {
      font-size: 10px;
      font-weight: bold;  
      letter-spacing: 1px;  
    }

    .by {
      color: #ccc;
      font-style: italic;
    }
    
    .size {
      font-size: 9px;
      font-family: Helvetica;
      letter-spacing: 1px;
      margin: 9px 0;
    }
    .quantity, .subtotal {
      font-size: 9px;
      font-family: Helvetica;
      color: silver;
      letter-spacing: 1px;
      float: left;
    }
    .subtotal { float: right; }
    
    a {
      text-transform: uppercase;
      color: #ccc;
    }
    
    .remove-item {
      position: absolute;
      top: 5px;
      right: 16px;
      font-size: 10px;

    } 
  }
}