// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.filters {
	li.section {
		width: 200px;
		float: left;
	}
}

.cl { clear: both }