// Place all the styles related to the Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#country-selector { display: none; }
.no-countries-yet { display: none; }

a #country_name { 
  color: white; 
  text-decoration: none; border: none;
  &:hover { 
    text-decoration: none; border: none;
  }
}

.country-image-link {
  &:hover {
    text-decoration: none; border: none;
  }

}