// Place all the styles related to the designers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.alpha.active { color: #E02295; }

.featured .box.designer { 
  width: 144px;
  height: 210px;
  margin-right: 128px;

  &:nth-child(4n) {
    margin-right: 0;
  }


}
