#editor-pick {
	width: 910px;
	margin: 0 auto;
	text-align:center;
	overflow: hidden;
	.jcarousel-clip{
		width: 960px;
	}
	.editor-pick-img{
		max-width: 940px;
	}
	.pick-controls {
		color: #999;
		width: 960px;
		.prev-pick{
			float: left;
		}
		.next-pick{
			float: right;
		}
		.prev-pick, .next-pick {	
			margin-top: 300px;
		
			display: inline-block;
			width: 5px;
			height: 10px;
			background: url('/assets/editor-picks-arrows.png') no-repeat;

			a {
				display: block;
				width: 5px;
				height: 10px;
			}		
		}

		.prev-pick {			
			background-position: 0 0;
		}

		.next-pick {			
			background-position: -6px 0;
		}
	
		.enabled {
			opacity: 1;
			&:hover {
				opacity: 0.8;
			}
		}
		
		.disabled {	
			opacity: 0.3;		
			&:hover {
				text-decoration: none;
				cursor: none;
			}
		}		
	}

	h1 {
		float: left;
		margin-top: 40px;
		margin-left: 3px;
		font-family:'HelveticaNeueW01-UltLt', "HelveticaLightRegular", Helvetica, arial, sans-serif;
		text-transform: uppercase;

		font-size: 2.8em;
		font-weight: 100;
		letter-spacing: 3px;
	}

	a.img-container {
		display: inline-block;
		padding: 10px 0 17px 0;
		margin-bottom: 10px;
		border-width: 1px 0px;
	}

	.view-editor-pick {
		margin-bottom: 20px;
		a {
			color: white;
			text-decoration: underline;
			font-weight: 100;
		}
	}

	.pick-index {
		color: silver;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-family:'HelveticaNeueRegular', Helvetica, Arial;
		margin: 5px 0;
		font-size:13px;

		.index { }

		.of {
			margin: 0 3px;
		}

		.lowercase { text-transform: lowercase; }

		.total { }
	}
	
	

}
	