// Place all the styles related to the errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.redirection a {
  background: url("/assets/bul-back.png") no-repeat;
  padding-left: 25px;
  display: inline-block;
  height: 17px;
  line-height: 24px;
  font-size: 16px;
  color: #fff;
}
.instructions {
  width: 489px;
  text-align: center;
  font-size: 19px;
}

.error_message {
  color: white;
  font-size: 24px;
  margin-left: 20px;
  margin-top: 25px;
  text-align: center;
  width: 195px;
  line-height: 1.5;
    font-family: Gillsans;
}