/* START OLD LOGIN STYLE */
#login-popup {
  padding: 50px;
  padding-bottom: 30px;
  background: #666;
}

#login-popup .button {
  margin-left: 0;
  float: right;
}

#login-popup #tmp_user_password {
  width: 200px;
  height: 14px;
  margin-bottom: 10px;
}

#login-popup #user_password {
  width: 200px;
  margin-bottom: 10px;
}

#login-popup #user_email {
  width: 200px;
  margin-bottom: 10px;
}

/*.login_old { background: url('/assets/css/login_decoration.jpg') no-repeat; width:100%; height:100%; }
*/.login_old .login_form { width:400px; height:400px; padding:265px 0px 0px 0px; }
.login_old .login_form a { color:#888; letter-spacing:5px; font-size: 10px;  }
.login_old .login_form a:hover { color:#A82850; text-decoration:none; }
.login_old .login_form a.italic { font-style:italic; }

.login_old .login_form .login_logo { background-image: url('/assets/css/login_logo_transparent.png'); width:269px; height:126px; margin-bottom: 15px; }
.login_old .login_form form { width:250px; display: block; padding-left:20px; }
.login_old .login_form form .login_field { margin: 9px 0px; }
.login_old .login_form form .login_field input { padding:4px; }

.login_old .login_form form .login_field input[type="text"], 
.login_old .login_form form .login_field input[type="email"],
.login_old .login_form form .login_field input[type="password"] { 
    width:220px;
    border-radius:1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border:1px solid black;
    height: 10px;
    /*background: -webkit-linear-gradient(#efe8d0, #7a786f);*/
    background: #efe8d0; /* Old browsers */
    background: -moz-linear-gradient(top, #efe8d0 0%, #7a786f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efe8d0), color-stop(100%,#7a786f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #efe8d0 0%,#7a786f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #efe8d0 0%,#7a786f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #efe8d0 0%,#7a786f 100%); /* IE10+ */
    background: linear-gradient(top, #efe8d0 0%,#7a786f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe8d0', endColorstr='#7a786f',GradientType=0 ); /* IE6-9 */    
}

.login_old .login_form form .login_field input.blink.selected { border: 1px solid #E02295; }
.login_old .login_form form .login_field input[type="password"].selected { font-size: 10px; border: 1px solid #E02295;}
.login_old .login_form form input[type="submit"] { float: right; margin: 0px 20px 20px 0px; }
.login_old .footer { border:none; padding-bottom:0px; position:fixed; bottom:2px; width: 950px;}
.login_old .footer .left { position: fixed; left: 1px; bottom: 2px; }
.login_old .footer .right { position: fixed; right: 1px; bottom: 2px; }

.login_old .button.pink { background-image: url("/assets/css/login_button_small.png"); width:90px; line-height:28px; color:#fff; font-family: 'HelveticaRegular', 'Arial'; letter-spacing:5px; height: 28px; font-size:10px; }

.login_old.dark { opacity:0.4; filter:alpha(opacity=40); position:absolute; z-index:1;  width: 1000px; height: 700px;}


.login_old {
  min-width: 960px;
  /*min-height: 700px;*/
  min-height: 670px;
  position: relative;
}

.login_old .login-bg {
  display: none;
}
/* END OLD LOGIN STYLE */