// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#products {
  // min-height: 700px;
}

.filter {
  li {
    label { font-size: 11px; display: block; letter-spacing:1px; margin-bottom: 10px; }
  }
  li.inline {
    label { display: inline; margin: 0;}
    input { width: 24px; }
  }
  ul li .dd li a.designers-more { color: #ccc; /*color: #E02295*/ }
}

.field.shipping .return-policy {  
  width: 300px;
  float: left;
  overflow: hidden;

  label {
    width: 80px;
  }

  & > div {
    display: block;
    overflow: hidden;
    float: none;
  }

  input[type="radio"] {
    width: auto;
  }

  input[type="radio"].other {
    margin-right: 15px;
  }

}
.pre-load-imgs {
  display:none;
}