// ================================================
//  Search Inputs / Menu Item
// ================================================

$pink: #BE0073;

.search-container {
  margin-top: 8px;
  width: 300px;
  position: absolute;
  left: -220px;

  // hide by default
  display: none;
  
  input.button {
    width: 116px;    
    float: none;
    // background: grey;
    // box-shadow: 0 1px 0 #666, 0 -1px 0 #999;
    // padding: 0 5px;
    // border-radius: 3px;
  }

  input.search-query {
    width: 148px;
    height: 25px;
    border-radius: 2px; 
    border: 1px solid #333;
    background: #222;
    box-shadow: inset 0 0 1px #333;
    padding: 0 10px;
    font-weight: bold;

    -webkit-transition: all 1s;
    transition: all 1s;
    color: white;

    &:hover {
      box-shadow: inset 0 0 1px #666;
    }
    &:focus {
      box-shadow: inset 0 0 1px #999;
    }
  }

  input[type="submit"] {
    margin-left: 10px;
    -webkit-transition: background 1s;
    transition: background 1s;

    &:active {
      background: #999;
      position: relative;
      top: 1px;
      color: #333;
    }
  }
}

// ================================================
//  Search Results
// ================================================

.search-meta {
	font-size: 2em;
  margin: 20px 10px;
  border-bottom: 1px dashed #222;

  .detail {
    font-size: 12px;
    font-weight: normal;
    color: #999;
  }
}

.search-results {

	background: rgba(128, 128, 128, .3);;
	padding: 0;
	border-radius: 5px;
	margin-bottom: 20px;

  h2 {
    letter-spacing: 0.1em;
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: #454545;
    color: #ccc;
  }

  // this base set of styles applies mainly to the products display
	ul {
		list-style-type: none;

		li {
			padding: 10px;
			border-bottom: 1px solid rgba(0,0,0,0.3);
			border-top:    1px solid rgba(255,255,255,0.1);
      overflow: hidden;

			&:nth-child(2n) {
				background: rgba(128, 128, 128, .1);
			}

      h5 {
        .price {
          font-family: Helvetica,arial, sans-serif;
          font-weight: normal;
          padding-left: 10px;
          color: grey; 
        }
      }

      .column {
        width: 245px;
        margin: 0 10px 0 0;
        border-right: 1px solid rgba(128, 128, 128, .1);
        display: inline-block;
        float: left; 

        &:last-child {
          border: none;
        }
        .designer, .history {
          margin-bottom: 10px;
        }

        b {
          display: block;
        } 
      }

      img {
        // border: 1px solid rgba(255,255,255,0.9);
        box-shadow: 0px 0px 2px rgba(255,255,255,0.4);
        border-radius: 3px;
        float: left;
        margin-right: 20px;
      }
		}
	}

  ul.countries {
    a {
      color: white;
      &:hover {
        color: $pink;
        text-decoration: none;
      }
    }
  }

  ul.designers {
    li {
      .designer-name {        
        display: inline-block;
        margin-left: -5px;
        color: white;
        padding-right: 10px;
        &:hover { color: $pink; }
      }
      .country-flag {
        float: none;
        height: 1.3;
        display: inline-block;
        padding-left: 5px;

        img {
          box-shadow: none;  
        }
        
      }
    }
  }

}