#style-directory {

  font-family: "HelveticaLightRegular", Helvetica, arial, sans-serif;

  padding: 25px;

  h1, h2 {
    // font-family: "HelveticaLightRegular";
    font-weight: 100;    
    letter-spacing: 3px;
    color: #eee;  
  }

  h1 {
    font-size: 2.5em;
    
    margin-bottom: 5px;
  }

  h2 {
    font-size: 1.5em;
    text-align: right;
    padding-top: 3px;
    border-top: 1px solid #999;
    color: #777;
  }

  ul#categories {

    margin-top: 15px;
    margin-bottom: 25px;
    // font-family: "HelveticaLightRegular";
    


    li {
      display: inline-block;
      margin-right: 6px;
      width: 219px\0/ !important; /* IE 8-9 */
      width: 220px;
      clear: both;
      vertical-align:text-top;      

      &:last-child {
        margin-right: 0;
      }

      .img { // TODO: no class, just img tag
        height: 270px;
        background: grey;
      }

      .category-name {        
        color: white;
        padding-top: 10px;
        font-size: 12px;
        letter-spacing: 2px;
      }

      a {
        &:hover {
          color: white;
        }
      }
    }
  }

  ul { list-style-type: none; }
  ul#countries {

    font-weight: 100;

    & > li {
      display: inline-block;
      width: 217px;
      margin-right: 10px;
      margin-bottom: 30px;
      vertical-align: text-top;
      overflow: hidden;

      &:nth-child(4n) {
        margin-right: 0;
        width: 217px;

        .country-name {
          width: 217px;
        } 
      }

    }
    .country-name {
      font-size: 18px;      
      letter-spacing: 3px;
      color: #ccc;
      width: 214px;
      padding: 0;     
    }

    ul#designers {
      padding-top: 10px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 2px;
      color: #eee;

      a {
        color: #eee;
      }
    }

  }

}
