* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 12px;
    line-height: 1.3;
    font-family: "GillSans";
    letter-spacing: 1px;
    color: #fff;
    background: #000;
    min-width: 100%;
    overflow: auto; 
}


@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('/assets/helveticaneue-roman-webfont.eot');
    src: url('/assets/helveticaneue-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/helveticaneue-roman-webfont.woff') format('woff'),
         url('/assets/helveticaneue-roman-webfont.ttf') format('truetype'),
         url('/assets/helveticaneue-roman-webfont.svg#HelveticaNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLightRegular';
    src: url('/assets/helvetica-light-webfont.eot');
    src: url('/assets/helvetica-light-webfont.eot?iefix') format('eot'),
         url('/assets/helvetica-light-webfont.woff') format('woff'),
         url('/assets/helvetica-light-webfont.ttf') format('truetype'),
         url('/assets/helvetica-light-webfont.svg#webfontXL41FK7I') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaRegular';
    src: url('/assets/helvetica_regular-webfont.eot');
    src: url('/assets/helvetica_regular-webfont.eot?iefix') format('eot'),
         url('/assets/helvetica_regular-webfont.woff') format('woff'),
         url('/assets/helvetica_regular-webfont.ttf') format('truetype'),
         url('/assets/helvetica_regular-webfont.svg#webfontVPZZOChO') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DidotLTStdRoman';
    src: url('/assets/didotltstd-roman-webfont.eot');
    src: url('/assets/didotltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/didotltstd-roman-webfont.woff') format('woff'),
         url('/assets/didotltstd-roman-webfont.ttf') format('truetype'),
         url('/assets/didotltstd-roman-webfont.svg#DidotLTStdRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GillSans';
    src: url('/assets/gill-sans-webfont.eot');
    src: url('/assets/gill-sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/gill-sans-webfont.woff') format('woff'),
         url('/assets/gill-sans-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




h3 { font-size:30px; color:#fff; font-family: 'HelveticaLightRegular'; line-height:30px;   }
h4 {  font-size:16px; color:#fff; font-family: 'HelveticaRegular'; font-weight:normal;  }
h5 { font-size:11px; color:#fff; letter-spacing:2px; padding-bottom:10px; text-transform:uppercase;    }
h6 { font-size:11px; color:#333333; font-weight:normal; text-transform:uppercase;   }

/*a { color: #0252aa; text-decoration: none; cursor: pointer; }*/
a { color:#e02295; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: "GillSans"; font-weight: normal }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

/*.blink { color:gray; }*/
.blink { color:#333; font-weight: bold; font-size: 10px; height:12px; letter-spacing: 1px; box-shadow: none;}
.blink.selected { letter-spacing: 1px; }
/*#tmp_user_password { letter-spacing:4px; }
*/
.shell { width:960px; margin:0 auto; }
.shell.floatting_header_footer { padding-top: 96px; padding-bottom: 36px; }

#header { padding-top:15px; position:absolute; z-index: 100; left:0; top:0; width:100%; min-width:960px; }

/*#main {min-height: 600px;}*/
 
/*h1#logo { width:72px; height:33px; float:left; display:inline;  }
h1#logo a { width:72px; height:33px; background:url('/assets/css/logo.png') no-repeat 0 0; display:block;  font-size: 0; line-height: 0; text-indent: -4000px;   }
*/
#logo a { background: url('/assets/css/logo_new.jpeg') no-repeat 0 0; display:inline; width:177px; height:78px; font-size: 0; line-height: 0; text-indent: -4000px; float:left; position: absolute; top:20px; left:65px; }




.header-top .right { width:850px;  }
ul.menu { float:right; display:inline; padding-right: 50px }
ul.menu li { float:left; display:inline; padding:0 15px; background:url('/assets/css/menu-sep.png') no-repeat 0 5px;  }
ul.menu li:last-child { padding:0 25px 0 15px; }

ul.menu li:first-child { background:none; }
ul.menu li a { font-size:10px; color:#fff; text-transform:uppercase;  }
ul.menu li img { float:left; display:inline; margin-top:-6px; position:relative; padding-right:4px;   }
ul.menu li span { float:left; display:inline; padding-top:2px;  }
ul.menu li.search a { background:url('/assets/css/search.png') no-repeat right 1px; padding-right:12px; position:relative;  }

.header-bottom { border-bottom:1px solid #999999; min-width: 1120px; height:50px;}

#navigation { margin-top: 10px; }
#navigation ul { list-style:none; margin:auto; width: 740px; }
#navigation ul li { float:left; display:inline; padding-right:20px; position:relative; }
.dd { position:absolute; top:20px; left:-15px; border:1px solid #999;  width:112px; padding:14px; background:url('/assets/css/transparent.png'); display:none; z-index: 100; }
.dd li { float:none; display:block; padding-bottom:6px; }
.dd li a { float:none; display:block;  }

/*.dd input[type="checkbox"] {  margin-right: 2px; }*/

#navigation ul li li { display: block; float: none; }

#navigation ul li a {    
    color:#cccccc;     
    text-transform:uppercase; 
    letter-spacing:2px;  /* this breaks the jscrollpane */
    line-height:20px; 
    font-size:11px;
    font-family:'GillSans';
}

#navigation ul li a:hover { color:#be0073; text-decoration:none; }
#navigation ul li a.active { color:#ffffff; text-decoration:none;  }

#navigation ul.dd {    
    max-height: 335px;
    width: 120px;
}

#navigation ul.dd.countries-dropdown {
    min-height: 100px;
}

#entities_area{ text-align:center!important; margin: 10px auto 0;}
#entities_area ul{
  padding: 5px;
  margin: 0 auto;
}
#main{ text-align: left}

#entities_area .block:hover { background-color: black;}
#entities_area .block .element .img-wrapper { cursor: pointer; }
#entities_area .block .element .img-wrapper a {  font-size: 18px;  text-align: center; position: absolute; top: 0; left: 0; width: 93%; height: 100%; }
#entities_area .block .element .img-wrapper a .background {  position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
#entities_area .block .element .img-wrapper a .phrase { font-size: 16px; color: #cccccc; display: none; position: absolute; top: 50%; text-align: center; width: 100%; }
#entities_area .block .element .img-wrapper a:hover  { color: #cccccc; background: black; opacity: .7;}
#entities_area .block .element .img-wrapper a:hover .phrase { display: block; }

#hompage_images_sortable { list-style-type: none; margin: 0; padding: 0; color: black; }
#hompage_images_sortable li {  margin: 0 3px 3px 3px; padding: 0.7em; padding-left: 1.5em; border-radius: 5px; }
#hompage_images_sortable li form { margin-left: 70px;}


.header-top ul.menu li { position: relative; }
.header-top ul.menu li.search { width: 48px; }
.header-top ul.menu li a { line-height:20px; }
.header-top ul.menu li a.credit_nav_link:hover { text-decoration:none; cursor:default; }
.header-top ul.menu li .dd { background-image: none; background: black; width: 250px; z-index:2; padding: 0; border: 2px solid #999;}
.header-top ul.menu li .dd li { background-image:none; display: block; float: none;}

.sex { float:right; display:inline; padding-right: 75px; padding-top: 3px; }
.sex a { color:#ccc; font-size:10px; margin-left:19px;   }
.sex a:hover { text-decoration:none;  }
.sex a.active { color:#fff; }

h3.country-header { font-weight:normal; font-size: 35px; line-height: 35px; margin-left: -2px;}
.map-area .right { padding-top:25px; width:230px;  }
.map-area .right h4 { padding-bottom:15px;  }
.map-area .right h3 { padding-bottom:60px;   }
.map-area .right ul { list-style:none; }
.map-area .right ul li { font-size:11px; color:#cccccc;  padding-bottom:4px;  }
.map-area .right ul li a { font-size:11px; color:#cccccc;  padding-bottom:4px; }
.map-area .right ul li a:hover { text-decoration:none; color:#9bbbe4;   }

#regions-list li a,
#countries-list li a {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    display: block;
    padding-bottom: 2px;
}

#map-continents {
    position:relative;
    left: 30px;
}

#region-selector h4,
#country-selector h4 {
  font-family: 'HelveticaLightRegular', Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.sliders { /*background:url('/assets/css/sliders-bg.png') no-repeat 0 0;*/ height:356px; margin-bottom:73px;  }
.slider.bottom { border-bottom:1px solid #999; padding-bottom:20px;  }
.slider { border-top:1px solid #999; padding-top:7px; margin-bottom:20px;  }
.slider .slider-carousel { padding-left:30px;  }
.slider .slider-carousel .jcarousel-clip,
.slider .slider-carousel ul { position:relative; height:120px; width:920px; position:relative; overflow:hidden;  }
.slider .slider-carousel ul li {   height:120px; float:left; display:inline;   }
.slider .slider-carousel ul li .box { width:146px; height:102px; float:left; display:inline; background:#fff;  margin-right:20px;  }
.slider .slider-carousel ul li .box { padding:6px 9px;  }
.slider .slider-carousel ul li .box h6 { height:26px; padding-bottom:6px;    }
.slider .slider-carousel ul li .box .text { width:83px; float:left; display:inline;   }
.slider .slider-carousel ul li .box .text p { font-size:12px; color:#666; line-height:12px;     }
.slider .slider-carousel ul li .box .image { width:52px; float:right; display:inline; margin-top:-15px; position:relative;   }
.slider .slider-carousel ul li .box .image  { text-align:right;  }
.slider.bottom .slider-carousel ul li p { color:#333333; font-size:11px; font-weight:bold; padding-bottom:5px;   }

.big-editor-  s-slider li {width:960px; }

#editor-picks-slider .slider-carousel ul li { width:165px; height:115px; margin-right: 20px; }
#editor-picks-slider .slider-carousel ul li .box { width:165px; height:115px; background:#fff;  margin-right:20px; padding: 0; }
#editor-picks-slider .slider-carousel ul li .box .image { width:100%; margin-top:0; text-align:center; }

#as-seen-on-slider .slider-carousel ul li { width:165px; height:115px; margin-right: 20px; }
#as-seen-on-slider .slider-carousel ul li .box { width:165px; height:115px; background:#fff;  margin-right:20px; padding: 0; }
#as-seen-on-slider .slider-carousel ul li .box .image { width:100%; margin-top:0; text-align:center; }

#editor-picks-slider .product-name, #as-seen-on-slider .designer-name {
	display: none;
	position: absolute;
	z-index: 10;
	background: black;
	background: rgba(0, 0, 0, 0.7);
	width: 145px;
	padding: 10px;
	text-align: center;
	border-bottom: 2px solid rbga(0, 0, 0, 1);    
}

#editor-picks-slider .product-name a,
#as-seen-on-slider  .designer-name a {
    color: #EFEFEF;
    text-transform:uppercase;
    font-size: 11px;
}

#editor-picks-slider h5 a,
#as-seen-on-slider   h5 a,
#as-seen-on-slider   h5  {
  color: white;
      text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 20px;
    font-size: 10px;
    font-family: 'HelveticaNeueRegular', Helvetica, Arial;    
    font-size: 10px;
    font-weight: 100;
}

/*#as-seen-on-slider .designer-name {*/
    /*width: 144px;*/
/*}*/


.jcarousel-prev { width:6px; height:11px; background:url('/assets/css/left-slider-arrow.png') no-repeat 0 0; position:absolute; top:55px; left:-28px; cursor:pointer; }
.jcarousel-next { width:6px; height:11px; background:url('/assets/css/right-slider-arrow.png') no-repeat 0 0; position:absolute; top:55px; right:-28px; cursor:pointer; }

.scroll-pane { height:150px; }

.banner { margin-top:30px; margin-bottom:40px;  }

.bio { position:relative; padding-bottom:60px;  }
.bio .title { margin-bottom:20px; }
.bio .title .left { width:345px; }
.bio .title .left h6 { font-size:12px; color:#ffffff; letter-spacing:1px; padding-bottom:5px;  }
.bio .title .left p { font-size:10px; color:#999999;  text-transform:uppercase; letter-spacing:1px;  }
.bio .title .left p img { margin:1px 5px; }

.bio .title .right {  }
.bio .title .right img { float:left; display:inline; margin-right:9px;  padding-top:1px;  }
.bio .title .right p { float:left; display:inline;  }
.bio .title .right p span { float:left; display:inline; font-size:11px; color:#999999; line-height:10px;  margin-right:18px;   }
.bio .image { width:140px; float:left; display:inline; margin-right:41px;   }
.bio .text { width:550px; float:left; display:inline;  }
.bio .text p { font-size:13px; color:#ccc;   }

.bio .scroll-designer-pane { height:105px; }
.bio .biography { width:530px;line-height:18px; }

.bio .navigation { list-style:none; float:right; }
.bio .navigation li { margin-top: 6px; }
.bio .navigation li a {color:white; text-transform:uppercase; letter-spacing:4px; font-size:10px; }
.bio .navigation li a:hover {color:#E02295;text-decoration:none;}
.bio .navigation li .navigation_sub_titles { font-family:'HelveticaNeueW01-UltLt', "HelveticaLightRegular", Helvetica, arial, sans-serif; text-transform: uppercase; font-size: 24px; letter-spacing: 6px; }



a.stamp { width:152px; height:138px; display:block; background:url('/assets/css/stamp.png') no-repeat 0 0;  position:absolute; top:0; right:0; font-size: 0; line-height: 0; text-indent: -4000px;  }
a.stamp:hover { background-position:0 -147px; }

.featured h5 { border-bottom:1px solid #999999; margin-bottom:14px; font-family:'HelveticaNeueW01-UltLt', "HelveticaLightRegular", Helvetica, arial, sans-serif; }
.featured .box { float:left; display:inline; margin-right:90px; padding-bottom:30px; width: 260px; height: 445px;  }
.featured .box.last { margin-right:0;  }
.featured .box p.first { padding-top:14px; font-size:11px;color:#fff;  }
.featured .box p a, 
.featured .box p span {  color:#999999;  text-transform:uppercase; font-size:11px;   }
.featured .box p { text-align:center; padding-bottom:5px;  	 }
.featured .box p.price { font-size:14px; color:#ffffff; text-align:center; font-family:Georgia, 'Times New Roman', Serif;   }

.featured.feedback { min-height:50px; }
.featured.feedback p { float:left; margin-right:5px; }

.featured.videos ul { list-style:none;}
.featured.videos ul li { float:left;padding:15px 10px;text-align:center;width:300px; }
.featured.videos .video { min-height:220px; }
.featured.videos .hidden_video { display:none; }
.featured.videos .more_videos, .less_videos { color:white; letter-spacing:2px; text-transform: uppercase; font-size:10px; }
.featured.videos .more_videos:hover, .less_videos:hover { text-decoration:none; }


/* Alert Messages */

.alert_messages { padding:10px; border-bottom: 1px solid #999; height:13px; }
.alert_messages p { float:left; font-weight:bold; }
.alert_messages p.alert { color:red; }
.alert_messages a { color:white; text-decoration:underline; }
.alert_messages a.alert_messages_button { float:right; text-decoration:none; }

/* Post */

.post { padding-top:30px; padding-bottom:50px;  }
.post .image { position:relative; margin-bottom:15px; width:960px; height:180px;  }
.post h2 { position:absolute; bottom:10px; right:30px; font-size:52px; font-weight:normal; font-family: 'DidotLTStdRoman'; /*text-transform:uppercase;*/  }
.post .image img { display:block;  }
.post p { font-size:14px; line-height:18px; text-align:center; color:#ccc;   }
.post p a { color:#608fad; }

.filter { height:35px; border-top:1px solid #999; border-bottom:1px solid #999; margin-bottom:14px;    }
.filter h5 { float:left; display:inline; width:150px; padding-bottom:0; line-height:35px; font-weight: normal; font-size:10px; }
.filter ul { float:left; display:inline;  }
.filter ul li { float:left; display:inline; position:relative; }
.filter ul li .dd { display:none; top:35px; border:1px solid #999999; border-top:1px solid #000;}
.filter ul li .dd.countries { max-height: 290px; }
.filter ul li .dd li { float:none; overflow: hidden; /*line-height:14px !important;*/  }
.filter ul li .dd li a { line-height:14px !important; color:#fff; background:none; text-transform:uppercase; }
.filter > ul > li >  a { font-size:10px; color:#cccccc; letter-spacing:2px; line-height:35px; padding-right:11px;   background: url("/assets/css/search.png") no-repeat scroll right 3px transparent;    }

.filter  ul li .name {
  display:inline-block; max-width: 129px;
}

.filter ul li.filter1 { width:228px; }
.filter ul li.filter1 .dd { width:146px; }
.filter ul li.filter1 .name { max-width:129px; }

.filter ul li.filter2 { width:178px; }
.filter ul li.filter2 .dd { width: 146px; }
.filter ul li.filter2 .name { max-width: 129px; }

.filter ul li.filter3 { width:128px; }

.filter ul li.filter4 { width:140px; }


.filter ul li#f_countries .dd { width:150px; }
.filter ul li#f_countries .dd .name { max-width:129px; }

.filter ul li.filter4 .dd {  left:-40px !important; }


/*.filter ul li.filter1 .dd { width:124px; }*/
/*.filter ul li.filter2 .dd { width:146px; }*/
.filter ul li.nodrop a { background: none;  padding-right: 4px; text-transform: uppercase;}


.filter  ul li .dd li input[type="checkbox"] {
  display: inline-block; vertical-align: top; margin-right: 5px;
}

.boutique_videos ul { list-style:none; }
.boutique_videos ul li { float:left; padding:15px 5px; }


#f_countries { text-transform: uppercase; }

.country .history h4 a { color:white; text-transform:uppercase; letter-spacing:2px; }

/* Checkout */

.checkout { padding-bottom:60px;  }
.checkout .page-title { padding-top:25px; border-bottom:1px solid #fff; margin-bottom:10px;  }
.checkout .page-title h3 { float:left; display:inline; font-size:14px; color:#ffffff; letter-spacing:6px;  font-family: 'HelveticaNeueRegular';  }
.checkout .page-title p { float:right; display:inline; font-size:13px; font-family:Georgia, 'Times New Roman', Serif; line-height:23px;  }
.checkout .page-title p a { color:#fff;  letter-spacing:3px;  }

.checkout .left { width:550px;  }
.checkout .left .tab-navigation {  }
.checkout .left .tab-navigation ul {  }
.checkout .left .tab-navigation ul li { width:183px; height:130px; border-bottom:11px solid #000;  float:left; display:inline;  background:#dbdbdb;  position:relative; }
.checkout .left .tab-navigation ul li span { display:block; font-size:12px; color:#afafaf;   }
.checkout .left .tab-navigation ul li span.order_payment_method_indicator { display:inline; }
.checkout .left .tab-navigation ul li span.order_payment_method_indicator.bold { font-weight:bold; }
.checkout .left .tab-navigation ul li a.active span { color:#666;  }
.checkout .left a.edit { font-size:12px; color:#666666; position:absolute; bottom:6px; right:12px; height:auto !important;    }
.checkout .left .tab-navigation ul li span.title { font-size:13px; color:#666;  text-transform:uppercase; letter-spacing:4px;  font-family: 'HelveticaNeueRegular'; padding-bottom:13px;   }
.checkout .left .tab-navigation ul li em.arrow { width:184px; height:11px;  display:block; position:absolute; bottom:-11px; left:0;  }
.checkout .left .tab-navigation ul li a.active em.arrow { background:url('/assets/css/active-arrow.png') no-repeat 0 0;  }
.checkout .left .tab-navigation ul li a {  height:124px; display:block; padding-left:12px; padding-top:6px;  }
.checkout .left .tab-navigation ul li a:hover { text-decoration:none;  }
.checkout .left .tab-navigation ul li a.edit:hover { text-decoration:underline }
.checkout .left .tab-navigation ul li a.active { background:#fff; }
.checkout .left .tab-content { background:#fff; padding-top:15px; min-height:290px;  }
.checkout .left .tab-content .review { color:#000000;  }
.checkout .left .tab-content .review .info { padding:15px; float:left;  }
.checkout .left .tab-content .review h5 { font-size:12px; color:#666666; letter-spacing:2px;   }
.checkout .left .tab-content .credit-card-info { width:255px; float:left; display:inline; padding-left:9px; position:relative; }
.checkout .left .tab-content .paypal { text-align:center; }

.checkout .left .tab-content h5 { font-size:12px; color:#666666; letter-spacing:2px;   }
.checkout .left .tab-content label { width:90px; float:left; display:inline; font-size:11px; color:#666;  line-height: 22px;  }
.checkout .left .tab-content .field-row { margin-bottom:5px;  }
.checkout .left .tab-content .field-row .field_with_errors input,
.checkout .left .tab-content .field-row.field_with_errors  input { margin:0; border:solid 1px red; width:160px !important; background: #ECC3BF !important; }
.checkout .left .tab-content .field-row select.country { width:162px; }
.checkout .left .tab-content .field-row .hidden { display: none }
.checkout .left .tab-content label strong { color:#cc0000; font-size:14px;   }
.checkout .left .tab-content input.field { width:162px; float:left; display:inline; margin: 1px 0px; padding:4px 0px 4px 3px;  background:url('/assets/css/input-long.png') no-repeat 0 0; border:0; }
.checkout .left .tab-content .billing-addresss { width:255px; float:right; display:inline; padding-right:5px; padding-left:10px; border-left:1px solid #ccc;     }
.checkout .left .tab-content select.long { width:163px; height:18px;   }
.checkout .left .tab-content select.small { width:45px; height:18px; float:left; display:inline;    }
.checkout .left .tab-content .field-row span.separator { float:left; display:inline; color:#000; padding:0 10px;  }
.checkout .left .tab-content .field.small-field { width:60px; border-right:1px solid #f5f5f5;  }
.checkout .left .tab-content input.checkbox { float:left; display:inline; margin-right:9px;  }
.checkout .left .tab-content .billing-addresss span { font-size:12px; color:#666666; float:left; display:inline;   }
.checkout .left .tab-content .billing-addresss span label { font-size:12px; color:#666666; float:left; display:inline; width:auto !important;  }
.checkout .left .tab-content .billing-addresss  { margin-bottom:23px;  }

.checkout .right { width:390px; }
.checkout .right .complementary_shipping, .product .complementary_shipping { float:right; color:gray; margin-top:3px; clear: right;}


.shipping-details {
  width: 350px;
  float: right;
  margin-top: 10px;  
}

.ups-logo {
  height: 26px;
  width: 58px;
  display: inline-block;
  float: right;
}

.checkout .right .checkout-shipping-details .complementary_shipping {
  float: left;
}

.checkout-shipping-details {
  width: 380px;
}

.checkout-shipping-details .complementary_shipping,
.product .complementary_shipping {
  float: left;
  position: relative;
  top: -26px;
  font-size: 14px;
  font-family:'Bodoni W01 Italic 709617', Helvetica, arial, sans-serif;
}

.order-summary { background:#1e1e1e; padding:8px; padding-top: 6px;}
.order-summary h5 {font-size:13px; color:#ffffff; letter-spacing:3px;  font-weight: 100;  }
.order-summary table.order-items tr th { background:#333; padding:3px 0; letter-spacing:2px; font-size: 10px; letter-spacing: 2px; font-weight: normal; text-align: left }
.order-summary table.order-items tr td { padding-top:11px; padding-bottom:10px; border-bottom:1px solid #333; vertical-align:top;    }
.order-summary table.order-items tr td h6 { font-size:12px; color:#ffffff; }
.order-summary table.order-items tr td p, .order-summary table.order-items tr td a { font-size:12px; color:#ccc;   }
.order-summary table.order-items tr td.qty { width:50px;  }
.order-summary table.order-items tr td.price { font-size:13px; color:#ffffff; font-family:Georgia, 'Times New Roman', Serif;  }
.order-summary table.order-items tr td.qty span { background:#fff; width:30px; height:22px; display:block; margin:0 auto; color:#333; line-height:22px; text-align:center; }

.see-more img { margin-left: 3px; position: relative; top: 1px;}

.cart { padding:10px 8px 60px 8px }
.cart h5 {font-size:13px; color:#ffffff; letter-spacing:3px;    }
.cart table { border-spacing: 0px; }
.cart table tr th { 
  background: #333;
  background: #313131; /* Old browsers */
  background: -moz-linear-gradient(top,  #313131 0%, #494949 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(100%,#494949)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #313131 0%,#494949 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #313131 0%,#494949 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #313131 0%,#494949 100%); /* IE10+ */
  background: linear-gradient(top,  #313131 0%,#494949 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#494949',GradientType=0 ); /* IE6-9 */

  padding-top: 3px;
}
.cart table tr th h6 { font-size:11px; color:#ffffff; margin:0px 5px; letter-spacing:1px;  padding:10px 0;  text-align:left; }
.cart table tr td { padding-top:15px; padding-bottom:10px; border-bottom:1px solid #333; padding-left: 5px; padding-right: 5px; vertical-align: top;}
/*.cart table tr td.center { text-align:center; }*/
/*.cart table tr td.left { text-align:left; padding:10px; width: 100%; }*/

.cart table tr th:first-child { padding-left: 40px; }
.cart table tr td:first-child { padding-left: 30px; }
/*.cart table tr h6:first-child { position: helvetica_regular-webfontive; left: -40px; }*/

.cart table a { color:#CCC; text-decoration:none; }
.cart table a:hover { text-decoration:underline; }


.cart table tr td .name { text-transform:uppercase; padding-top:5px; }
.cart table tr td .designer { padding:5px 0px; }
.cart table tr td .size { padding:10px 0 0 0; }

.cart table tr td h6 { font-size:12px; color:#ffffff; font-weight:bold;  }
.cart table tr td { font-size:12px; color:#ccc;   }
.cart table tr td.qty { width:50px; border-right:10px solid #1e1e1e;  }
.cart table tr td.price { font-size:13px; color:#ffffff; text-align:center; font-family:Georgia, 'Times New Roman', Serif;  }
.cart table tr td.qty span { background:#fff; width:30px; height:22px; display:block; margin:0 auto; color:#333; line-height:22px; text-align:center; }
.cart table tr td .cart_item_remove_link { margin-left:5px; }
.cart table tr td .cart_item_remove_link img { width:20px; float:left; }
.cart table tr td .cart_item_remove_link span { width:20px;float:left;margin:4px 0px 0px 5px; }
.cart_buttons  { float:right; display:inline;  margin:10px 10px 10px 0px; }
.cart_buttons .button.dark { margin-left:692px; }
.cart_total { float:right; padding: 15px 17px 15px 0px; font-size:11px; color:#ccc; letter-spacing: 3px;}

.cart .cart_item_price,
.cart .cart_item_total,
.cart_total .cart_subtotal {
    font-size: 12px;
    color: #EFEFEF;
    /*text-align: center;*/    
    font-family: Georgia, 'Times New Roman', Serif;
    margin-left: 30px;
}

#cart-continue-shopping {
  position: relative;
  top: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  font-size: 10px;
  font-family: 'HelveticaNeueRegular', Helvetica, Arial;  
}

.cart { padding-bottom:60px;  }
.cart .page-title { padding-top:25px; margin-bottom:20px; }
.cart .page-title h3 { 
    float:left; 
    display:inline; 
    font-size:14px; 
    color:#ffffff; 
    letter-spacing:6px;  
    font-family: 'HelveticaLightRegular', Helvetica, arial, sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 2.5em;
    padding-left: 35px; 
}
.cart .page-title p { float:right; display:inline; font-size:13px; font-family:Georgia, 'Times New Roman', Serif; line-height:23px; position: relative; top: 5px; }
.cart .page-title p a { color:#fff;  letter-spacing:3px; }
#checkout-button { width: 143px; height: 34px; background: url('/assets/checkout_button_shopping_bag.png') no-repeat right top; font-size: 11px; line-height:34px;font-family: 'HelveticaNeueRegular', Helvetica, arial, sans-serif; letter-spacing: 4px; text-transform: uppercase;}

.jspHorizontalBar {
    display: none;
}


.buttons { width:242px; float:right; display:inline;  margin-right:10px;  margin-bottom:10px;   }
.buttons a, input.button, a.button { width:116px; height:27px; float:left; display:inline;  background:url('/assets/css/buttons.png') no-repeat 0 0; font-size:12px;  line-height:27px; text-align:center;   }
input.button { border:0; cursor: pointer; }
.buttons a:hover, input.button:hover, a.button:hover { text-decoration:none; opacity:0.8;  }
.buttons a.gray, input.button.gray, a.button.gray { background-position:0 0; color:#757575;   }
.buttons a.dark, input.button.dark, a.button.dark { background-position:right 0; color:#ccc;  margin-left:10px; }
.buttons a.pink, input.button.pink, a.button.pink { background-image: url("/assets/css/login_button.png"); width:107px; line-height:30px; height: 35px; color:#fff;  margin-left:10px; font-family: 'HelveticaRegular', 'Arial'; letter-spacing:5px; }

.buttons.arrange-right input { 
  position: relative;
  top: -46px;
  right: -125px;
}


table.order-sum { width:360px !important; margin-top:6px; margin-bottom:20px;  }
table.order-sum tr td { padding:2px 0; }
table.order-sum tr td { font-size:13px; color:#cccccc;   }
table.order-sum tr td span { font-family:Georgia, 'Times New Roman', Serif; }
table.order-sum tr td em { color:#fff; text-transform:uppercase; letter-spacing:1px; font-style:normal; font-size:11px;   }

p.required { font-size:12px; color:#666; position:absolute; bottom:-60px; left:10px;    }
p.required strong {color:red;   }

/* Product */

.country .history h4 { border-top: 1px solid #999; border-bottom: 1px solid #999; margin: 10px 0px; padding:2px; }
.country .history .text { padding:5px; min-height:200px; float:left; width:720px;}
.country .history .images { float:right; width:210px; text-align:right;}
.country .history .images img { width:200px; margin: 10px 0px 10px 10px; }

.product { padding-top:30px; /*padding-bottom:177px;*/  } 
.product .product-left { width:590px; float:left; display:inline;   } 
.product .product-left .gallery { width:320px; float:left; display:inline;   } 
/*.product .product-left .big-image { height:325px; background:#fff; text-align: center; padding: 4px 0px; } */
/*.product .product-left .big-image { height:325px; background: rgba(255, 255, 255, 0.1); text-align: center; padding: 4px 0px; } */
.product .product-left .big-image { height:325px; background: #000; text-align: center; padding: 4px 0px; } 
.product .product-left .big-image a{ width: 310px; height: 325px; }
.product .product-left .big-image .magnifier { width: 19px; height: 22px; background: url('/assets/css/magnifier.png') top left no-repeat; display: block; position: relative; left: 300px; bottom: 20px; }
.product .product-left .gallery-nav li { float:left; display:inline; padding-right:20px;  } 
.product .product-left .gallery-nav li a { border:2px solid #000; float:left; display:inline; height: 50px; } 
/*.product .product-left .gallery-nav li a.active { border-color:#be0073;  } */
.product .product-left .gallery-nav li a.active { border-color:#fff;  } 
.product .product-left .gallery-nav { padding-top:7px;  } 

.product-description { padding:10px; background:#1e1e1e; height:393px; width:230px;  float:right; display:inline; margin-left: 20px; }
.product-description h5 { font-size:11px; color:#fff; text-transform:uppercase;    }
.product-description p { font-size:12px; color:#ccc; line-height:18px; padding-bottom:12px; padding-right: 5px;    }

.product .product-right { width:350px; min-height:377px;  float:right; display:inline; border-top:1px solid #999;  border-bottom:1px solid #999;  } 
.product .product-right .about { width:230px; float:left; display:inline; padding-top:4px;   } 
.product .product-right .about .box { padding-bottom:13px; padding-top:5px; position:relative;  } 
.product .product-right .about .box span.details { cursor:pointer; } 
.product .product-right .about .box h5 { padding-bottom:3px; text-transform:none; letter-spacing:1px; text-transform: uppercase;  } 
.product .product-right .about .box h5.light { font-weight:normal; } 
.product .product-right .about .box h5 strong { float:left; display:inline; font-weight:normal; } 
.product .product-right .about .box h5 select { float:left; display:inline; margin-left:8px; margin-top:-3px; position:relative;   } 
.product .product-right .about .box.share { height:7px; }
.product .product-right .about .box.share h5, .product .product-right .about .box.share a { float:left; margin-right:10px; } 

.product .product-right .about .box p { font-size:12px; color:#ccc;   } 
.product .product-right .about .box p.upper { text-transform:uppercase; } 
.product .product-right .about .box p a { font-size:12px; color:#ccc;  } 
.product .product-right .product-spec { width:120px; float:right; display:inline; height:370px; background:#1e1e1e; margin-top:10px;  } 
.product .product-right .product-spec .box { width:101px !important; height:84px !important; border-bottom:1px solid #333333; margin:0 auto;   } 
.product .product-right .product-spec .box.quantity span {  display:block; margin-top:10px; font-size:12px; text-align:center   } 
.product .product-right .product-spec .box.quantity select {  display:inline;  margin-top:10px; margin-right: 26px;  } 
.product .product-right .product-spec .box.last { border:0;  } 
.product .product-right .box .popup { position:absolute; top:20px; left:19px; width:222px; height:190px; background:url('/assets/css/popup-bg.png') no-repeat 0 0; padding:30px 12px 11px 12px;  display:none; z-index: 50; }
.product .product-right .product-spec .box.price-box { } 
/*.product .product-right .product-spec .box.price-box p { font-size:14px; line-height:104px; font-family:Georgia, 'Times New Roman', Serif; text-align:center;   } */
.product .product-right .product-spec .box.price-box { font-size:14px; height:104px; font-family:Georgia, 'Times New Roman', Serif; text-align:center; vertical-align: middle;} 
.product .product-right .product-spec .box.price-box .prices { position: relative; top: 35px;} 
.product .product-right .product-spec .box.price-box .prices { position: relative; top: 35px;} 

.price-before-sale { color: #999; text-decoration: line-through;
  font-size: 14px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Serif;
} 

.sale_price { 
  font-size: 14px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Serif;
} 

.product .product-right .product-spec .box.price-box .prices .price-before-sale { color: #999; text-decoration: line-through; 
  font-size: 14px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Serif;
} 
.product .product-right .product-spec .box.price-box .price-not-on-sale { line-height: 104px;} 

.product .product-right .product-spec .add-to-bag {  width:100px; height:100px; background:url('/assets/css/add-to-bag.png') no-repeat 0 0; display:block; margin-top:22px;  }
.product .product-right .product-spec .add-to-bag:hover { background-position:0 bottom; }
.product .product-right .product-spec .add-to-bag-blank {  width:100px; height:100px; background:url('/assets/css/add-to-bag.png') no-repeat 0 0; display:block; margin-top:22px;  }
.product .product-right .product-spec .add-to-bag-blank:hover { background-position:0 bottom; }

/* Orders */

.tab-nav { border-top:1px solid #666666; margin-top:30px; width:958px; background:#333333;    }
.tab-nav ul { border-left:1px solid #666666; height:39px; border-right:1px solid #666666;    }
.tab-nav ul li { float:left; display:inline; border-right:1px solid #666666;    }
.tab-nav ul li.last { border-right:0;  }
.tab-nav ul li a { font-size:14px; color:#ccc; line-height:39px; padding: 0px 16px; float:left; display:inline; text-align:center; letter-spacing:2px;   }
.tab-nav ul li a:hover { background:#555353; text-decoration:none;  }
.tab-nav ul li a.active { background:#fff; color:#666666; text-decoration:none;   }
.tab-nav.admin ul li { width: 72px; height:39px; text-align:center;}
.tab-nav.admin ul li a { line-height:18px; height:39px; width: 72px; font-size:10px; padding:0px;  }

.indicate-tax-prompt { font-weight: 600; margin-left: 9px; }
.tab-content .field.narrow  input { width: 30px; }
.tab-content .field.narrow .percentage { position: relative; top: 4px; left: 2px; }
.tab-content .field.int_tax_rate_wrapper { margin-bottom: 15px; }

#boutique-tab-nav.tab-nav { border-top:1px solid #666666; margin-top:30px; width:1200px; background: none; border: none;    }
#boutique-tab-nav.tab-nav ul { height:33px; border: none;    }

#boutique-tab-nav.tab-nav ul li {
  float:left;
  display:inline-block;
  border-right:1px solid #666666;
  width: 100px;
  background: url('/assets/gray-tab-180.png') no-repeat;
  border: none;
  position: relative;  
}

#boutique-tab-nav.tab-nav ul li a {
  padding-left: 26px;
}

/* was using nth-child, switched to + selector to appease ie */
#boutique-tab-nav.tab-nav ul li:first-child { width: 123px;  }
#boutique-tab-nav.tab-nav ul li:first-child a {  }

#boutique-tab-nav.tab-nav ul li + li { left: 0px; left: -5px; width: 120px; }
#boutique-tab-nav.tab-nav ul li + li a {  }
#boutique-tab-nav.tab-nav ul li + li + li { left: -20px; width: 158px; }
#boutique-tab-nav.tab-nav ul li + li + li + li { left: -39px; }
#boutique-tab-nav.tab-nav ul li + li + li + li + li { left: -82px; }
#boutique-tab-nav.tab-nav ul li + li + li + li + li + li { left: -116px; width: 117px; }
#boutique-tab-nav.tab-nav ul li + li + li + li + li + li + li { left: -129px; width: 113px; }
#boutique-tab-nav.tab-nav ul li + li + li + li + li + li + li + li  { left: -136px;   width: 149px; padding-left: 0px; border-radius: 5px; }

#boutique-tab-nav.tab-nav ul li.last { border-right:0;  }
#boutique-tab-nav.tab-nav ul li a { font-size:10px; color:#ccc; line-height:35px; padding-right: 0px; float:none; display:block; text-align:left; letter-spacing:2px; }
#boutique-tab-nav.tab-nav ul li:last-child a { padding-left: 26px; border-radius: 5px;  }
#boutique-tab-nav.tab-nav ul li a:hover {  text-decoration:none; background: none; }

#boutique-tab-nav.tab-nav ul li.active { 
  z-index: 99;
}

#boutique-tab-nav.tab-nav ul li a.active { 
  color:#666; 
  text-decoration:none;
  background: url('/assets/active-tab-180.png') no-repeat;
}
#boutique-tab-nav.tab-nav.admin ul li { width: 94px; height:39px; text-align:center;}
#boutique-tab-nav.tab-nav.admin ul li a { line-height:18px; height:39px; width: 94px; font-size:13px; padding:0px;  }

#users-tab-nav.tab-nav { border-top:1px solid #666666; margin-top:30px; width:1000px; background: none; border: none;    }
#users-tab-nav.tab-nav ul { height:33px; border: none;    }
#users-tab-nav.tab-nav ul li {
  float:left;
  display:inline-block;
  border-right:1px solid #666666;
  width: 180px;
  background: url('/assets/gray-tab-180.png') no-repeat;
  border: none;
  position: relative;  
}

/* was using nth-child, switched to + selector to appease ie */
#users-tab-nav.tab-nav ul li:first-child { }
#users-tab-nav.tab-nav ul li + li { left: -30px; }
#users-tab-nav.tab-nav ul li + li + li { left: -50px; }
#users-tab-nav.tab-nav ul li + li + li + li { left: -70px; }
#users-tab-nav.tab-nav ul li + li + li + li + li { left: -90px; }
#users-tab-nav.tab-nav ul li + li + li + li + li + li { left: -120px; margin-right: -100px;}

#users-tab-nav.tab-nav ul li.last { border-right:0;  }
#users-tab-nav.tab-nav ul li a { font-size:10px; color:#ccc; line-height:35px; padding-right: 20px; float:none; display:block; text-align:center; letter-spacing:2px; }
#users-tab-nav.tab-nav ul li:last-child a { padding: 0;}
#users-tab-nav.tab-nav ul li a:hover {  text-decoration:none; background: none; }

#users-tab-nav.tab-nav ul li.active { 
  z-index: 99;
}

#users-tab-nav.tab-nav ul li a.active { 
  color:#666; 
  text-decoration:none;
  background: url('/assets/active-tab-180.png') no-repeat;
}
#users-tab-nav.tab-nav.admin ul li { width: 94px; height:39px; text-align:center;}
#users-tab-nav.tab-nav.admin ul li a { line-height:18px; height:39px; width: 94px; font-size:13px; padding:0px;  }



.tab-content {
  background:#ccc; color:#000; 
  min-height:200px; 
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tab-content.boutique {
  padding:20px;
}

.tab-content.boutique {
  padding:20px;
}

.tab-content .gray-shadow {
  box-shadow: -3px 3px 6px #999;
  border: 1px solid #888;
}

/*
.tab-content.boutique input[type="text"],
.tab-content.boutique textarea {
  box-shadow: -3px 3px 6px #999;
  border: 1px solid #888;
}
*/

.tab-content h1 {  padding:5px; } 
.tab-content h1.dashboard_index { float:left; } 
.tab-content .buttons.dashboard_index { width:auto !important; } 
.tab-content .buttons.dashboard_index .button { margin-top:7px; } 
.tab-content .link_to_designer_page {
  float:right;
  margin:3px;
  color: #1f477b;
  text-decoration: underline;
  font-style: italic; 
  position: relative;
  top: -10px;
}

.tab-content p {padding:5px 0px; } 
.tab-content table.dashboard_table { color:#000; text-align:center; border-collapse: collapse; width:100%; } 
.tab-content table.dashboard_table.narrow { width:70%; margin:auto; } 
.tab-content table.dashboard_table tr th { border:solid 1px gray; padding:3px; height:25px;} 
.tab-content table.dashboard_table tr td.narrow { width:120px; text-align:right;} 
.tab-content table.dashboard_table tr td { border:solid 1px silver; padding:3px; height:20px;} 
.tab-content table.dashboard_table tr td.currency { text-align:right; padding-right:5px;} 
.tab-content table.dashboard_table tr td .star-rating-control { display:block; width:85px; margin:auto;} 

.tab-content form { padding:10px 30px; } 
.tab-content.boutique form { padding:0; } 
.tab-content .filters form { padding:0px; }

.tab-content .filters form .categories { border:solid 1px black; margin:10px 0px; padding:10px 30px; }
.tab-content .filters form .categories ul, .tab-content .filters form .categories p { float:left; }
.tab-content .filters form .categories ul { margin-left:20px;list-style:none; padding:5px; } 
.tab-content .filters form .categories ul li { float:left; width:100px;  } 
.tab-content .filters form .categories ul li label { margin-left:3px;  } 

.tab-content .filters form .dates { border:solid 1px black; margin:10px 0px; padding:10px 30px; }
.tab-content .filters form .dates select { margin-left:40px; }

.tab-content .field { margin:10px; } 
.tab-content .field label { float:left; width:150px; padding-top:5px; } 
.tab-content .field input, .tab-content .field select, .tab-content .field textarea { float:left; width:300px; height:20px; } 
.tab-content .field textarea { height:120px; } 
.tab-content .field .multiple select { height:100px; } 
.tab-content .field .radio label { float:left; padding:5px; width:auto !important; } 
.tab-content .field .radio input { float:left; width:auto !important; } 
.tab-content .field .gender { margin-left:150px;}
.tab-content .field .gender label {width:30px; padding:3px;}
.tab-content .field .gender input, .tab-content .field .gender select { width:13px; float:left; } 
.tab-content .field.dob input, .tab-content .field.dob select { width:70px; float:none; } 

.tab-content .search form { padding:7px 0px; float:right; }
.tab-content .search form input { float:left; }
.tab-content .search form input[type="text"] { height: 18px; margin-top: 3px; width: 200px; }

.tab-content .field .field_with_errors { text-decoration:underline; color:red; }

.tab-content .field .checkbox { margin-left:0px !important;}
.tab-content .field .checkbox label {width:250px; padding:3px;}
.tab-content .field .checkbox input, .tab-content .field .checkbox select { width:13px; float:left; } 

.tab-content .field.shipping input { float:left; width:220px; height:20px; } 
.tab-content .field.shipping .radio label { margin-right:3px; } 
.tab-content .field.shipping .radio input { margin-top:1px; } 
.tab-content .field.shipping input[type="radio"] { margin:1px 0px 0px 0px; } 
.tab-content .field.shipping input[type="number"] { float:left; width:50px; height:20px; } 
.tab-content .field.shipping select { float:left; width:70px; height:20px; margin: 2px 0px 0px 5px; } 

.tab-content .product_form { float:right; width:600px; }
.tab-content .product_form.table { clear:both; width:100%; }
.tab-content .product_form_nav { float:left; width:200px; padding:20px; }
.tab-content .product_form_nav ul {list-style:none; font-size:1.2em;}

.tab-content .email_preferences { border-top:solid 1px silver; margin-top:20px; }
.tab-content .email_preferences h5 { color:gray; margin:3px 2px; }
.tab-content .email_preferences ul {list-style:none; }
.tab-content .email_preferences ul li { margin: 5px; }
.tab-content .email_preferences ul li input[type="checkbox"] { margin-right:5px; }

.tab-content .designer { margin:10px 0px 0px 10px; }
.tab-content .designer.banner_pic img { max-width:870px; }

.tab-content .designer_boutique { margin-top: 30px; }
.tab-content .designer_boutique.left { width:200px; }
.tab-content .designer_boutique.right { width:660px; margin-right:10px; }

.tab-content .designer_boutique.gray { padding: 10px; background-color: silver; margin:20px 10px;}
.tab-content .designer_boutique.gray label { width: 170px; }

.tab-content .designer_boutique.right .field input { width:642px; padding:2px; }
.tab-content .designer_boutique.right .field textarea { width:644px; padding:2px; height:90px; }

.tab-content .designer_boutique.right .designer_location .field { float:left; }

.tab-content .designer_boutique.right .designer_location .field label { float:none; }
.tab-content .designer_boutique.right .designer_location .field input, 
.tab-content .designer_boutique.right .designer_location .field select { width:198px; float:none;  }
.tab-content .designer_boutique.right .designer_location .field select { margin: 4px 0px 0px 0px; }

.tab-content .dashboard_filters form { padding:0; }
.tab-content .dashboard_filters .filter ul li a { color:black; }
.tab-content .dashboard_filters .dd { background:white; }

.product_approval_form { width: 440px; float: right; padding:10px; border:solid 1px silver; margin-right:100px; }
.product_approval_form form { padding:0px; }
.product_approval_form form p {float: left; padding-top:7px; width: 310px; }
.product_approval_form form input[type="submit"] {float: right; }

.designer_unlock_boutique { width: 850px; float: left; padding:10px; border:solid 1px silver; margin:10px 0px 0px 10px; }
.designer_unlock_boutique form { padding:0px; }
.designer_unlock_boutique form p { float:left; padding-top:7px; }
.designer_unlock_boutique form input[type="submit"] {float: right; }

.designer_activate_boutique{ width: 898px; float: left; padding:10px; border:solid 1px silver; margin-top:10px; text-align:center; }
.designer_activate_boutique form { padding:0px; }
.designer_activate_boutique form p {padding-top:7px; }
.designer_activate_boutique form input[type="submit"] {float: none; }

.product_index_active_form img { float:right; position: absolute; margin: -6px 0px 0px 22px; }
/* START NEW LOGIN STYLE */

#login-popup {
  padding: 50px;
  padding-bottom: 30px;
  background: #666;
}

#login-popup .button {
  margin-left: 0;
  float: right;
}

#login-popup #tmp_user_password {
  width: 200px;
  height: 14px;
  margin-bottom: 10px;
}

#login-popup #user_password {
  width: 200px;
  margin-bottom: 10px;
}

#login-popup #user_email {
  width: 200px;
  margin-bottom: 10px;
}

#login-bar {  width:600px;  height:62px; position:relative; margin:auto; text-align: center;}
#login-bar .background-color { width:600px; height:62px; top:0; left:0; position: absolute;background-color: #df288f;opacity: 0.75; display: block;  z-index: 100;}
#login-bar .content { width:600px; height:62px; top:0; left:0; position: absolute;  display: block;  z-index: 100000; }
#login-bar .content h3 { font-size:11px; opacity: 1; }
#login-bar .content .link_wrapper { width:204px; margin: auto; z-index: 100000; }
#login-bar .content .link_wrapper a { opacity: 1; color: #df288f;  z-index: 100000; text-transform:uppercase; display:block; background-color: #cecacc; width:74px; border:solid 1px #cecacc; float:left; text-align: center; margin: 0px 10px; padding:3px; }
#login-bar .content .link_wrapper a:hover { text-decoration: none; }

/*.login { background: url('/assets/css/login_decoration.jpg') no-repeat; width:100%; height:100%; }

*/.login .login_form_wrapper {     width: 550px; height: 388px;  }
.login .login_form a { color:#c7c1c1; font-size: 10px; line-height: 28px; }
.login .login_form a:hover { color:#A82850; text-decoration:none; }
.login .login_form a.italic { font-style:italic; }
.login .login_background_image {    
    background-image: url("/assets/login_background_small.png");
    filter:alpha(opacity=80); /* IE */
    -moz-opacity:0.8; /* Mozilla */
    opacity: 0.8; /* CSS3 */
    position: absolute;
    top: 0; left: 0px;

    width: 550px; height: 388px;
    z-index: 8015;
}
.login .login_button {
  background: none;
  background-color: #302e2e;
  color: #c7c1c1;
}
.login .errors{
  position: absolute;
  top: 270px;
  text-align: center;
  width: 350px;
  left: 50%;
  margin-left: -175px;
  color: #B4006B;
  font-size: 18px;
  z-index: 8020;
}

.login .login_form { z-index: 8020;     
   position: absolute;
    top: 100px;
    left: 163px;
    height: 100%; }
.login .login_form .login_logo { background-image: url('/assets/css/login_logo_transparent.png'); width:269px; height:126px; margin-bottom: 15px; }
.login .login_form form { width:200px; display: block; padding-left:25px; }
.login .login_form form .login_field { margin: 9px 0px; }
.login .login_form form .login_field input { padding:10px; }
.login .login_form form .reset_field { margin: 0 0 7px; }
.login .login_form form .reset_field input { padding:5px; }

.login .login_form form .login_field input[type="text"], 
.login .login_form form .login_field input[type="email"],
.login .login_form form .login_field input[type="password"] { 
    width:165px;
    border-radius:1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border:1px solid black;
    height: 10px;
    /*background: -webkit-linear-gradient(#efe8d0, #7a786f);*/
    background: #c7c1c1; /* Old browsers */
    font-size: 12px;
    color: #555555;
    font-weight: normal;
}
.login .login_form form .reset_field input[type="password"] { 
    width:171px;
    border-radius:1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border:1px solid black;
    height: 11px;
    /*background: -webkit-linear-gradient(#efe8d0, #7a786f);*/
    background: #c7c1c1; /* Old browsers */
    font-size: 12px;
    color: #555555;
    font-weight: normal;
}
.login .login_form form .login_field.error input { background: #EBCEE2; border: 1px solid #E02295 }

.login { position: absolute; top: 60px; }
.login .login_form form .login_field input.blink.selected { border: 1px solid #E02295; }
.login .login_form form .login_field input[type="password"].selected { border: 1px solid #E02295;}
.login .login_form form input[type="submit"] { float: right; width: 70px; font-size: 12px }
.login .login_form form#change_pass input[type="submit"] { margin-right: 17px; }
.login .footer { border:none; padding-bottom:0px; position:fixed; bottom:2px; width: 950px;}
.login .footer .left { position: fixed; left: 1px; bottom: 2px; width:100% !important;}
.login .footer .right { position: fixed; right: 1px; bottom: 2px; }

.login .button.pink { background-image: url("/assets/css/login_button_small.png"); width:90px; line-height:28px; color:#fff; font-family: 'HelveticaRegular', 'Arial'; letter-spacing:5px; height: 28px; font-size:10px; }
.login .login_form .login_header { font-size: 24px; color: #c7c1c1; width: 195px; text-align: center; font-weight: normal; margin-left: 20px; margin-right: 20px; }
.login .login_form .resetpass_header { font-size: 21px; color: #c7c1c1; width: 195px; text-align: center; font-weight: normal; margin-left: 20px; margin-right: 20px; }
.login .login_form .login_header.general_message { font-size:13px; color:white; text-transform:uppercase; margin-top: 40px; } 
.signed_out_modal .login .login_form .login_header.general_message  { margin-top: 50px; }
.login.dark { opacity:0.4; filter:alpha(opacity=40); position:absolute; z-index:1;  width: 1000px; height: 700px;}

.login {
/*  min-width: 960px;
*/  /*min-height: 700px;*/
  min-height: 670px;
  position: relative;
}
.login_fancybox_wrapper p { color: white }
.login_fancybox_wrapper .fancybox-skin { background: none }
.login .login-bg {
  display: none;
}
.login_fancybox_wrapper {
  position: fixed !important;
  top: 160px !important;
}
.login_fancybox_wrapper.sticky { 
  position: fixed !important;
  top: 60px !important;
}
.login_fancybox_wrapper .fancybox-skin {
  margin-left: 9px;
}
.login_modal_window .fancybox-close {
  top: 53px;
}


/*.login_er { margin-left: auto; margin-right: auto; padding: 10px; background-color: #b4006b; width: 680px; height: 60px; }
 .login_subheader .top_description { font-size: 16px; width: 672px; }
.login_subheader .top_button { font-size: 16px; width: 125px; background-color: #cecacc; color: #bf3085; text-align: center; float: left;  padding: 2px;}
.login_subheader .button_row {margin-left: auto; margin-right: auto; width: 280px; margin-top: 15px }
*/
.login_subheader { left:50%; margin-left:-275px;   height: 45px; position: absolute; z-index: 7100 }
.login_subheader .login_subheader_bg { background-color: #b4006b; width: 550px; height: 60px; opacity: 0.7; position: absolute; z-index: 7020  }
.login_subheader .login_subheader_content { z-index: 8150; position: absolute; padding: 10px; width: 530px; }
.login_subheader .top_description { font-size: 12px; text-align: center;  }
.login_subheader .top_button { font-size: 12px; width: 100px; line-height: 14px; background-color: #cecacc; color: #bf3085; text-align: center; float: left;  padding: 4px 2px 2px 2px;  }
.login_subheader .button_row {margin-left: auto; margin-right: auto; width: 240px; margin-top: 10px }
.custom-fancybox-overlay { z-index: 7000;
  display: block;
}
 
.country_descriptor{
  white-space: nowrap;
}
.flag_icon {
  margin-right: 3px;
  width: 14px;
  height: 10px;
}

.login_subheader.sticky{
  position:fixed;
  top: 0px !important;
}

.login_modal_window{
  overflow: hidden;
  display: none;
}
/* END NEW LOGIN STYLE */

.customer_registration_page .footer { position:absolute; bottom:2px; border-top:none; }

.customer_registration { padding:300px 0px 30px 0px; width: 380px; z-index:100; position:absolute;}
.customer_registration  h2 { margin-bottom:5px; padding-bottom:5px; position:relative; font-size:24px; text-transform: uppercase; letter-spacing:4px; font-family: 'HelveticaLightRegular', Helvetica, arial, sans-serif;
 font-weight:100;}
.customer_registration h3 { color:white; margin:5px 0px; font-size:14px; letter-spacing:3px;  text-transform: uppercase; font-family: 'HelveticaLightRegular', Helvetica, arial, sans-serif;
 font-weight:100;}
.customer_registration p { color:#EFEFEF; }
.customer_registration a { color:#EFEFEF; text-decoration:underline; }
.customer_registration a:hover { text-decoration:none; }
.customer_registration form .field { padding:12px 0px; }
.customer_registration form .field .more { text-align:right; color:#EFEFEF; margin-top:4px; letter-spacing:1px; }
.customer_registration form .field label { width:150px; float:left; letter-spacing:1px; }
.customer_registration form .field label.narrow { width: auto; float:left; }
.customer_registration form .field input { width:220px; float:left; padding:2px; color:#595454;  }
.customer_registration form .field input.narrow { width:50px; margin-left: 5px; float:left; padding:2px; }
.customer_registration form .field textarea { height:100px; width:207px; }
.customer_registration form .field select { width:228px; float:left; margin:4px 0px; }
.customer_registration form .field.checkbox label { width:350px; float:left; }
.customer_registration form .field.checkbox input { width:20px; float:left; padding:2px; margin:1px 0px 0px 0px; }
.customer_registration form .field input[type="submit"] { float:right; width:107px; color:#EFEFEF; background:url('/assets/css/dark_button.png') no-repeat;  }
.customer_registration form .instruction { margin:10px 0px; }
.customer_registration .faq_link { margin-top:20px; text-transform:uppercase; font-style:italic; color:#EFEFEF; font-size:14px; }

.registration { width:860px; margin:50px auto 0px auto; padding:10px 0px; }
.registration form { padding-top:5px; }
.registration.narrow { width:420px; padding: 20px; margin:10px; border:solid 1px silver; letter-spacing:2px; }
.request_invitation .blink { color:#E02295; }

.registration h2 { border-bottom:1px solid #ccc; margin-bottom:5px; padding-bottom:5px; position:relative; font-size:18px; text-transform: uppercase; letter-spacing:3px; font-family: 'HelveticaLightRegular', Helvetica, arial, sans-serif;
 font-weight:100; font-size: 2.5em;}
.registration .registration_form h3 { color:white; margin: 20px 0px 5px 0px; font-size:14px; letter-spacing:3px;  text-transform: uppercase; font-family: 'HelveticaLightRegular', Helvetica, arial, sans-serif;
 font-weight:100;}
 .registration .registration_form h3.space_top { margin-top:20px; }
.registration .registration_form p { color:silver; line-height:20px; }
.registration .registration_form a { color:silver; text-decoration:underline; }
.registration .registration_form a:hover { text-decoration:none; }
.registration .registration_form form .field { padding:12px 0px; }
.registration .registration_form form .field .more { text-align:right; color:silver; margin-top:4px; letter-spacing:1px; width: 390px; }
.registration .registration_form form .field label { width:100px; float:left; letter-spacing:1px; }
.registration .registration_form form .field label.narrow { width: auto; float:left; }
.registration .registration_form form .field input { width:200px; float:left; padding:2px; color:#595454;  }
.registration .registration_form form .field input.narrow { width:50px; margin-left: 5px; float:left; padding:2px; }
.registration .registration_form form .field textarea { height:100px; width:207px; }
.registration .registration_form form .field select { width:208px; float:left; margin:4px 0px; }
.registration .registration_form form .field.checkbox label { width:250px; float:left; }
.registration .registration_form form .field.checkbox input { width:20px; float:left; padding:2px; margin:1px 0px 0px 150px; }
.registration .registration_form form .field input[type="submit"] { float:right; width:107px; height:31px; color:#EFEFEF; text-transform:uppercase;  }
.registration .registration_form form .field input[type="submit"].dark { background-image: url('/assets/css/dark_button.png'); margin-right: 4px; color: #ccc; letter-spacing:2px;}
.registration .registration_form form .field .terms_of_service { float:right; margin-top: 10px; color:gray; margin-right: 10px; }
.registration .registration_form form .field .terms_of_service a { color:#E02295; }
.registration .registration_form form .instruction { margin:10px 0px; color:#595454; }
.registration .registration_form .faq_link { margin-top:20px; text-transform:uppercase; font-style:italic; color:silver; font-size:14px; letter-spacing:2px; }
.registration .registration_form .faq_link a { font-style:normal; }

label.required:after { content: '*';}

.registration .registration_form form .field.dark { padding:12px 0px; }
.registration .registration_form form .field.dark .more { text-align:right; color:#EFEFEF; margin-top:4px; letter-spacing:1px; }
.registration .registration_form form .field.dark label { width:100px; float:left; letter-spacing:1px; }
.registration .registration_form form .field.dark label.narrow { width: auto; float:left; }
.registration .registration_form form .field.dark input { width:200px; float:left; padding:2px; background-color:black; border:solid 1px white; color:#EFEFEF !important; }
.registration .registration_form form .field.dark input.narrow { width:50px; margin-left: 5px; float:left; padding:2px; }
.registration .registration_form form .field.dark textarea { height:100px; width:207px; background-color:black; border:solid 1px white; }
.registration .registration_form form .field.dark select { width:208px; float:left; margin:4px 0px; }
.registration .registration_form form .field.dark select#contact_country_id { width:230px !important; }

.registration .registration_form form .field.dark select#contact_discover_product { width:230px !important; }


.registration .registration_form form .field.dark.checkbox label { width:250px; float:left; }
.registration .registration_form form .field.dark.checkbox input { width:20px; float:left; padding:2px; margin:1px 0px 0px 150px; }
.registration .registration_form form .field.dark input[type="submit"] { float:right; width:107px;  }

.engage_with_us { width:440px; }

/* new designer form */
#new_designer_form label { color: silver; width: 160px; font-size:12px; letter-spacing: 2px; margin-right: 20px;}

#login-popup input[type="text"],
#login-popup input[type="password"],
#login-popup input[type="email"],
#login-popup textarea {
    color: #595454; 
    width: 320px; 

    moz-box-shadow: inset 2px 2px 10px #444;
    webkit-box-shadow: inset 2px 2px 10px #444;
    box-shadow: inset 2px 2px 10px #444;

    border: 1px solid black;    
    padding: 2px 5px;
}


#new_designer_form input[type="text"],
#new_designer_form input[type="password"],
#new_designer_form input[type="email"],
#new_designer_form textarea {
  color: silver;
  width: 320px;
  border: 1px solid white;
  padding: 2px 5px;
  background-color: black;
  letter-spacing: 1px;
}

#new_designer_form.engage_with_us  input[type="text"],
#new_designer_form.engage_with_us  input[type="password"],
#new_designer_form.engage_with_us  input[type="email"],
#new_designer_form.engage_with_us  textarea {
    color: #595454; 
    width: 220px; 

    moz-box-shadow: none;
    webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid white;    
    padding: 2px 5px;
}

#new_designer_form.engage_with_us  textarea { height:50px; }

#new_designer_form.engage_with_us input:focus,
#new_designer_form.engage_with_us textarea:focus,
#new_designer_form.engage_with_us input:hover,
#new_designer_form.engage_with_us textarea:hover {
    border: 1px solid white;
}

#new_designer_form input:focus,
#new_designer_form textarea:focus,
#new_designer_form input:hover,
#new_designer_form textarea:hover {
    border: 1px solid #BE0073;
}
#new_designer_form input[type="submit"]:hover { border:0; }

#new_designer_form select { width: 328px;}
#new_designer_form textarea { color: #595454; width: 220px; padding: 5px;}
#new_designer_form label.narrow { width: auto; padding: 0; margin-left: 33px;}
#new_designer_form input.narrow { width: 20px;}
#new_designer_form input.no-label { margin-left:120px; }/* new designer form */

#new_customer_form input[type="text"],
#new_customer_form input[type="password"],
#new_customer_form input[type="email"],
#new_customer_form textarea {
    color: #595454; 
    width: 208px; 
    moz-box-shadow: inset 2px 2px 10px #444;
    webkit-box-shadow: inset 2px 2px 10px #444;
    box-shadow: inset 2px 2px 10px #444;
    border: 1px solid black;    
    padding: 2px 5px;
}

#new_customer_form input:focus,
#new_customer_form textarea:focus {
    border: 1px solid #BE0073;
}

.upload-file-field fieldset { padding: .6em 0;border:0;border-top: 1px dotted #ddd; }
.upload-file-field legend { font-size: 1.5em; font-weight: bold; color: #555; padding: .5em 1em .5em 0; background: #fff;  }
.upload-file-field label { font-size: 1.4em; display: block; margin: .5em 10px .5em 0;  }
.upload-file-field input#upload { background: #aaa url(/assets/bg-btn.png) bottom repeat-x; padding: .4em 1.2em;border: 1px solid #aaa; color: #222; font-size: 1.2em; font-weight: bold; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; cursor: pointer; margin: 2em 0; }
.upload-file-field input#upload:hover { background: #eee; color: #111; border-color:#777; }

/*custom upload elements*/
.upload-file-field .customfile-input { position: absolute; height: 100px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999;  }

.upload-file-field .customfile { 
    width: 322px;
    margin-left:183px;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
    padding: 2px;
    /*border: 1px solid #ccc;*/
    position: relative;
    color: #666; 
    moz-box-shadow: inset 2px 2px 10px #444;
    webkit-box-shadow: inset 2px 2px 10px #444;
    box-shadow: inset 2px 2px 10px #444;    
}

#new_designer_form .customfile{
  moz-box-shadow:none;
  webkit-box-shadow:none;
  box-shadow:none;   
  background: black;
  color: silver;
  border: 1px solid white;
}
.upload-file-field .customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.upload-file-field .customfile-feedback { display: block; margin: 1px 1px 1px 5px; font-size: 1.2em; color: #999; font-style: italic; padding: .3em .6em;}
.upload-file-field .customfile-feedback-populated { color: #666; font-style: normal; font-weight: bold; padding-left: 20px; background: url(/assets/icon-generic.gif) left 4px no-repeat; overflow: hidden; height: 20px; width: 125px; white-space: nowrap; text-overflow: ellipsis;}

.upload-file-field .customfile-button {
  border: 1px solid #999;
  /* background: #333 url(/assets/bg-submit.gif) bottom repeat-x; */
  background: #ccc;
  color: #777;
  font-weight: normal;
  line-height:20px;
  font-size:11px !important;
  float: right;
  width: 70px;
  padding: .3em .6em;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

.upload-file-field .customfile-hover .customfile-button, 
.upload-file-field .customfile-focus .customfile-button { 
  color:#111;
  background: #aaa url(/assets/bg-btn.png) bottom repeat-x;
  border-color:#aaa;
  padding: .3em .6em;
}

.upload-file-field .customfile-focus .customfile-button { outline: 1px dotted #ccc;  }

#new_designer_form.engage_with_us label {
  margin-right: 40px;
}

/*file type icons*/
.customfile-ext-jpg, .customfile-ext-gif, .customfile-ext-png, .customfile-ext-jpeg, .customfile-ext-bmp { background-image: url(/assets/icon-image.gif);}
.customfile-ext-mp3, .customfile-ext-mp4, .customfile-ext-mov, .customfile-ext-swf, .customfile-ext-wav, .customfile-ext-m4v { background-image: url(/assets/icon-media.gif);}
.customfile-ext-zip, .customfile-ext-tar, .customfile-ext-sit { background-image: url(/assets/icon-zip.gif);}

#fancybox-content { color:#595454; }
#fancybox-content .registration h2 { color:#595454; border:none; font-weight: normal; letter-spacing:3px; }
#fancybox-content .registration .registration_form { padding:0px; background-color: #EFEFEF; color:#595454; }
#fancybox-content .registration .registration_form form { border:none; padding:0; }
#fancybox-content .registration .registration_form form input { float:right; }
#fancybox-content .registration .registration_form form input[type="text"], #fancybox-content .registration .registration_form form input[type="email"] { width:250px; }
#fancybox-content .registration .registration_form form input[type="submit"] { font-size: 11px; }

.request_invitation { width:700px; margin:auto; padding:10px 0px; letter-spacing:2px; }
.request_invitation.narrow { width:780px; }
.request_invitation .blink { color:#BF0A57; }
.request_invitation h2 { border-bottom:1px solid #ccc; margin-bottom:5px; padding-bottom:5px; position:relative; font-size:18px;  }
.request_invitation p { margin-bottom:10px; line-height: 20px; }
.request_invitation .form { background-color:#EFEFEF; color:black; padding:20px; }
.request_invitation .form form { border:solid 1px silver; padding:20px; }
.request_invitation .form form h3 { color:black; margin:5px 0px; font-size:14px;  }
.request_invitation .form form .field { padding:5px;  width:270px; margin: 0 auto; }
.request_invitation .form form .field label { width:150px; float:left; }
.request_invitation .form form .field label.narrow { width: auto; float:left; }
.request_invitation .form form .field input[type="text"] { width:200px; float:right; padding:2px; }
.request_invitation .form form .field input[type="text"].narrow { width:50px; margin-left: 5px; float:left; padding:2px; }
.request_invitation .form form .field textarea { height:100px; width:207px;  }
.request_invitation .form form .field textarea.designed {
    width:270px; height: 100px;
    box-shadow: 0 0 10px #666;
    -moz-box-shadow: 0 0 10px #666;
    -webkit-box-shadow: 0 0 10px #666;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #DDD;
    padding: 4px 10px;
    border: none;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: -19px;
}

.request_invitation .form form .field select { width:208px; float:left; margin:4px 0px; }
.request_invitation .form form .field.checkbox label { width:250px; float:left; }
.request_invitation .form form .field.checkbox input { width:20px; float:left; padding:2px; margin:1px 0px 0px 150px; }
.request_invitation .form form .field input[type="submit"] { float:right; }
.request_invitation .form form .instruction { margin:10px 0px; }
#fancybox-content .request_invitation { width:700px; padding: 30px; margin:10px; border:solid 1px silver; }
#fancybox-content .request_invitation h2 { border:none; color:#595454; font-weight: normal; letter-spacing:3px; }
#fancybox-content .request_invitation h3 { color:#595454; font-weight: normal; letter-spacing:3px; }
#fancybox-content .request_invitation .form { padding:0px; color:#595454; }
#fancybox-content .request_invitation a { color:#BF0A57; }
#fancybox-content .request_invitation .form form { border:none; padding:0; }
#fancybox-content .request_invitation .form form input { float:right; }
#fancybox-content .request_invitation .form form input[type="submit"] { font-size:11px; }
#fancybox-content .request_invitation .form form input[type="text"],
#fancybox-content .registration .registration_form form input[type="email"] { 
    width:270px; height: 16px;
    box-shadow: 0 0 10px #666;
    -moz-box-shadow: 0 0 10px #666;
    -webkit-box-shadow: 0 0 10px #666;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #DDD;
    padding: 4px 10px;
    border: none;
    margin-bottom: 15px;
    margin-top: 5px;
}

#fancybox-content .request_invitation .pad-bottom {
    padding-bottom: 20px;
}

#fancybox-content .blink {
    color:#BF0A57;
}

.blog h1 { margin-left: 0px !important; }
.page { width:900px; margin:auto; padding:10px 0px; min-height:550px;}
.page h1 { margin-bottom:5px; padding-bottom:5px; position:relative; font-size:18px; }

.page-content-wrapper {
    width: 520px;
    min-height: 425px;
    float: left;    
}

.page .page-content-wrapper.wide { width: 860px; margin-right: 0;}

/* when mercury is active, we disable jscroll -- w/o setting scroll manually layout breaks */
.page .page-content-wrapper.mercury-active { overflow: scroll; }

.page .page_content {
    background-color:black; 
    color:#D0D0D0;
    padding:20px;
    width: 400px;    
    float: left;
    margin-right: 20px;
}

.page .page-content-wrapper.wide .page_content { width: 840px; }

.page .page-banner { width: 100px; float:right;}
.page .page-banner img { float: right; margin-top: 0;}

/* regardless of which heading user chooses in mercury, we want the same style */
.page .page_content h1,
.page .page_content h2,
.page .page_content h3,
.page .page_content h4 { 
    font-family: 'HelveticaLightRegular', Helvetica, arial, sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
    text-decoration: none;
    border: none;
    font-size: 16px;
}

.page h1 {
    font-family: 'HelveticaLightRegular', Helvetica, arial, sans-serif;
    letter-spacing: 3px;
    font-weight: 100;    
    font-size: 2.5em;
}

.page > h1 {
    margin-top: 50px;
    margin-left: 20px;
}

.page.blog > h1 {
  border:none !important;
}


/* mercury editor puts (some) paragraph content in divs */
.page_content > div, .page_content > p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0px;
}

.made_to_order_logo { width:250px; height:48px; background: black url("/assets/css/made_to_order_logo.png") no-repeat; float:right; margin-top:12px; }

.invitation { padding: 5px; background-color:#C0C0C0; }
.invitation h2 { font-style:italic;text-align:center;color:#454645; font-family:bodoni; font-weight:normal; letter-spacing:4px; }

.invitation .send_invitation_button { width:198px; height:35px; background: url("/assets/css/send_invitation_btn.png") no-repeat; border:0;}

.invitation .new   { width:415px; float:left; padding:0px 10px; margin:0px 15px; min-height:300px;} 
.invitation .new  form input[type="text"] { width:346px; color: #940D38; }
.invitation .new  form textarea  { width:332px; padding:3px; height:322px;padding:10px; color:#454645;}
.invitation .new  form input[type="text"] { height:20px;padding:3px; text-transform:uppercase; letter-spacing:2px; border: solid 1px gray; font-size:14px; font-weight:normal; }
.invitation .new  form input[type="text"], .invitation .new  form textarea  { background-color:#D0D0D0;margin:3px 0px; } 
.invitation .new  form input[type="submit"] { float:right; margin:10px 0px; } 
.invitation .new form label {width:300px;color:#454645; margin:5px 10px;font-size:14px;}

.invitation .index { width:415px; float:right; padding:10px; margin:15px; min-height:300px;} 
.invitation .index h2 {padding:3px;background-color:black;font-style:italic;color:#D0D0D0; margin-top:30px;}
.invitation .index ul { list-style:none; background-color: #454645; padding:5px; margin-top:10px;  } 
.invitation .index ul li { margin:10px 0px; background-color:silver; padding:5px; border:solid 1px gray;  } 
.invitation .index ul li .date { float:left;  } 
.invitation .index ul li .email { margin:auto; width:200px; text-align:center; float:left; display:block;} 
.invitation .index ul li .status { float:right; } 

table.returns { border: solid 1px black; width:100%; border-collapse: collapse; }
table.returns tr td { border: solid 1px black; padding:5px; }

.orders { background:#fff; color:#000; padding:23px 75px 0 75px;  } 
.orders .title {   } 
.orders .title .left { width:400px; padding-left:9px;padding-bottom:10px;  } 
.orders .title .right {width:143px; padding-right:10px;   padding-bottom:10px;  } 
.orders .title .right p a { float:right; display:inline;  } 
.orders .orders-content { border:1px solid #000; } 

.order-number .title h4 { font-size:13px; color:#333333; line-height:29px;  padding-left:10px;  padding-right:9px;border-bottom:1px solid #000;  }
.order-number .title .left { width:407px !important; float:left; display:inline; padding-left:0;  }
.order-number .title .right { width:400px !important; float:right; display:inline;  padding-right:0; border-left:1px solid #000;  }
.order-number .title .right h4 { text-align:right;  }
.order-number .col.left { border-bottom:0;  }
.order-number .col.right { border-bottom:0;  }
.order-number .mini-cols { padding-top:15px;  }
.order-number .mini-cols .col.left { width:59px !important;  padding:0 10px; }
.order-number .mini-cols .col.right { width:300px !important; border-left:0 !important;   }

.orders  h3.black { line-height:31px; background:#333333; color:#fff; font-size:13px; font-family: Helvetica, Arial, sans-serif; padding-left:10px; margin-bottom:10px;   }

.shipping-status table {  }
.shipping-status table tr th { background:#666; line-height:31px; padding-left:12px; color:#fff; border:1px solid #fff; text-align:left;  }
.shipping-status table tr td { background:#d1e1f5; border:1px solid #fff; padding:5px 0 5px 12px; font-size:13px; color:#333333;  line-height:18px; font-size:13px; color:#333333;    }
.shipping-status table tr td a { font-size:13px; color:#608fad;  text-decoration:underline;  }
.shipping-status table tr td a:hover { text-decoration:none;  }
.shipping-status table tr td span { font-family:Georgia, 'Times New Roman', Serif; }
.shipping-status .total { width:270px; margin:0 auto; padding:13px 0;  font-size:13px; line-height:18px;  }
.shipping-status .total span { width:130px; float:left; display:inline; padding-right:20px;  text-align:right;  }
.shipping-status .total em { font-family:Georgia, 'Times New Roman', Serif; font-style:normal;  }

.items .item { border-bottom:1px solid #ccc; margin-bottom:15px; position:relative; }
.items .item h4 {font-size:13px;   }
.items .item h4 a{color:#608fad; padding-left:9px;  text-decoration:underline;  }
.items .item p.location { font-size:13px; color:#999999; padding-left:9px; margin-bottom:7px;    }
.items .item table tr td .buttons { width:auto !important; }
.items .item table tr td .buttons a { text-decoration:none; color:#CCC; }
.items .item table { padding-left:9px; border-bottom:23px solid #fff;   }
.items .item table tr th { line-height:20px; background:#333333; font-size:11px; color:#fff; border-right:15px solid #fff;   }
.items .item table tr th.last { background:none; }
.items .item table tr td { border-top:11px solid #fff; vertical-align:top; }
.items .item table tr td img { }
.items .item table tr td span { display:block; text-align:center; color:#666; font-family:Georgia, 'Times New Roman', Serif;  }
.items .item table tr td a { font-size:13px; color:#608fad;  text-decoration:underline;  }

.items .total { width:210px; margin:0 auto; padding:13px 0;  font-size:13px; line-height:18px;  }
.items .total span { width:90px; float:left; display:inline; padding-right:20px;  text-align:right;  }
.items .total em { font-family:Georgia, 'Times New Roman', Serif; font-style:normal;  }

.items .item .ups_tracking_form { margin:0px 0px 25px 90px; }
.items .item .ups_tracking_form label { width: 100px !important; }
.items .item .ups_tracking_form input[type="text"] { height: 24px; }

p.back { text-align:right; color:#666666; padding:15px 0; }
p.back a { font-size:13px; color:#608fad; text-decoration:underline;  }

/* About */

.about-section { width:680px; padding:10px; background:#fff; margin:0 auto 124px;  }
.about-section .holder {  border:1px solid #ccc; padding:17px 21px 7px 21px; }
h3.big-title { font-size:30px; color:#cccccc; font-family:Georgia, 'Times New Roman', Serif !important; font-weight:normal !important; letter-spacing:2px; padding-top:20px; padding-left:133px;padding-bottom:15px;   }

.left.fixedheight { width:365px; float:left; display:inline;  height:311px; overflow:auto;  }
.left.fixedheight h4 { font-size:16px; color:#252525; font-size:16px; color:#252525; font-family:Georgia, 'Times New Roman', Serif; letter-spacing:2px;   }
.left.fixedheight p { font-size:13px; color:#666666; padding-bottom:12px; font-family:Georgia, 'Times New Roman', Serif; line-height:16px;  }
.about-section img {float:right; display:inline;  }

p.hope { width:357px; height:34px; background:url('/assets/css/we-hope.jpg') no-repeat center 0; margin:12px auto 5px;   font-size: 0; line-height: 0; text-indent: -4000px; text-align:center; }

/* Footer */

.footer {  border-top:1px solid #999; padding-top:10px; padding-bottom:10px; margin-top: 20px; overflow: hidden; /*position: fixed; bottom: 2px;*/ }  
.footer { background: black; position: fixed; bottom: 0px; width: 100%; min-width: 950px; }
.footer .left { width:700px; margin-left: 15px; }  
.footer .left ul { list-style:none; }  
.footer .left ul li { float:left; display:inline; padding-right:15px;  }  
.footer .left ul li a { font-size:10px; color:#cccccc; text-transform:uppercase;   }  

.footer .left ul.social { padding-top:3px; float:left; display:inline;   }
.footer .left ul.social li {  }
.footer .left ul.social li a { width:6px; height:10px; float:left; display:inline;  }
.footer .left ul.social li.facebook a { background:url('/assets/css/face-icon.png') no-repeat 0 0; }
.footer .left ul.social li.twiiter a { background:url('/assets/css/twitter-icon.png') no-repeat 0 0; }
.footer .left ul.social li.pinterest a { background:url('/assets/css/pinterest-icon.png') no-repeat 0 0; width: 10px; }

.footer .right { width:300px; margin-right: 15px; }  
.footer .right p { text-align:right; font-size:10px; color:#cccccc; text-transform:uppercase; letter-spacing:0px; }  

.footer a {  color:#cccccc;  }  
.footer a:hover { color:#be0073 !important; text-decoration:none;  }
.footer a.active { color:#ffffff !important; text-decoration:none;  }

#error_explanation { border:solid 2px red; background-color: white; color:black; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; margin-top: 10px; }
#error_explanation h2 { padding:5px; font-size:14px; letter-spacing: 3px; font-family: 'HelveticaNeueRegular'; text-transform: uppercase; font-weight: normal;}
#error_explanation ul { padding:5px; margin-left:15px;  }
#error_explanation ul li { }

.designer-signup-prompt {
  color: grey;    
  letter-spacing: 4px;
}
#order_shipping_state_id{
  display: none;
}
#style-directory .designer-signup-prompt { margin-bottom: 40px; }
.designer-signup-prompt.designers-page { margin-bottom: 30px; margin-top: -30px; text-align: right;}
.designer-signup-prompt a { color: grey; text-decoration: underline; }


.oembedall-closehide { display: none; }

.video iframe {
  width: 300px;
  height: 169px;
}
  .ui-tooltip-youtube .ui-tooltip-content{
    padding: .75em;
    font-family: "GillSans";
    font-size: 12px;
    background-color: #333;
    width: 650px;
  }

.pagination a {
  color: white;
}

.block {
	float: left;
	width: 260px;
  margin: 0 0 10px;
  visibility: hidden;
}

/* for category product's images' */
.cat-product{
  width: 260px;
  height: 330px;
}
#products .box .product-box{
  width: 260px;
  height: 330px;
  display: block;
  position: relative;
}

#products .box .product-box a{ display: block; width: 100%; height: 100%}
#products .box .product-box a span.link_container{ display: none}

#products .box .product-box a:hover  span.link_container {
  background: #000; display: block; width: 100%; height: 100%;
  opacity: 0.7; position: absolute; top: 0px; left: 0px;
}

#products .box .product-box .prod-info {
  display: none;
}
#products .box .product-box:hover .prod-info {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  display: block;
  color: hsl(0, 0%, 80%);
  font-size: 16px;
}