= form_for(@designer_order) do |f|
  - if @designer_order.errors.any?
    #error_explanation
      h2
        = pluralize(@designer_order.errors.count, "error")
        | prohibited this designer order from being saved:
      ul
        - @designer_order.errors.full_messages.each do |msg|
          li= msg

  .field
    = f.label :ups_tracking
    = f.text_field :ups_tracking

  / .field
  /   = f.label :shipping_status
  /   br/
  /   = f.text_field :shipping_status
  
  = f.submit "Update", class: "button dark"
.cl