- title "#{@designer_order.designer.name}'s Order"
- meta_description "#{@designer_order.designer.name}'s Order description."
- meta_keywords "#{@designer_order.designer.name}'s Order"
h1 Editing designer order
= render 'form'
= link_to 'Show', @designer_order
br
= link_to 'Back', designer_orders_path
