- title "Designer Orders"
- meta_description "Desginer Orders description."
- meta_keywords "Desginer Orders"

h2 Order History
p 
  | Have feedback concerning a particular order? Contact us 
  = link_to "here", contact_us_path
table.dashboard_table
  tr
    th Order Number
    th Date
    th # Items Ordered
    th Order Total
    th Order Detail
  - @designer_orders.each do |designer_order|
      tr
        td= designer_order.order.id
        td= designer_order.order.created_at.to_date.to_formatted_s(:long)
        td
          - designer_order.order_items.each do |o_i| 
            | #{o_i.item.product.name} (#{o_i.quantity})
            br
        td.currency= number_to_currency designer_order.total, separator: '.'
        td= link_to 'View Detail', designer_order
                
- unless @designer_orders.is_a?(Array)
  = paginate @designer_orders, window: 3
  .cl
