- title "Designer Order"
- meta_description "Desginer Order description."
- meta_keywords "Desginer Order"

.orders

  - unless params.include?(:print)
    .title
      .left
        p
          strong Order Detail
        p
          span Have feedback concerning your order? Contact us #{ link_to "here.", contact_us_path(order_id: @designer_order.order.id)}
      .right
        p.buttons
          = link_to "Print", order_path(@designer_order.order, print: true), class: "dark"
      .cl

  .orders-content
    .order-number
      .title
        .left
          h4 Order Number: #{@designer_order.order.id}
          .cl &nbsp;
          .mini-cols
            .col.left
              strong Bill to
            .col.right
              p #{@designer_order.order.billing_fname} #{@designer_order.order.billing_lname}
              p #{@designer_order.order.billing_address1} #{@designer_order.order.billing_address2}
              p #{@designer_order.order.billing_city}, #{!@designer_order.order.billing_state.blank? ? "#{@designer_order.order.billing_state}, " : ""}#{@designer_order.order.billing_zipcode}
              p #{@designer_order.order.billing_country.name unless @designer_order.order.billing_country.blank? }
              p #{@designer_order.order.billing_phone}
            .cl &nbsp;
        .right
          h4 Ordered on #{@designer_order.order.created_at.to_date.to_formatted_s(:long)}
          .cl &nbsp;
          .mini-cols
            .col.left
              strong Ship to
            .col.right
              p #{@designer_order.order.shipping_fname} #{@designer_order.order.shipping_lname}
              p #{@designer_order.order.shipping_address1} #{@designer_order.order.shipping_address2}
              p #{@designer_order.order.shipping_city}, #{!@designer_order.order.shipping_state.blank? ? "#{@designer_order.order.shipping_state}, " : ""}#{@designer_order.order.shipping_zipcode}
              p #{@designer_order.order.shipping_country.name unless @designer_order.order.shipping_country.blank?}
              p #{@designer_order.order.shipping_phone}
            .cl &nbsp;
      .cl &nbsp;

    .items
      h3.black Order Status

      .item
        - unless @designer_order.shipping_status == 0 or @designer_order.shipping_status.nil?
          ' Tracking number: 
          = @designer_order.ups_tracking 
          '  - 
          = link_to "Follow the shipment", ups_tracking_link(@designer_order.ups_tracking), target: "_blank"
        - else
          .ups_tracking_form
            = render 'form'


    .items
      h3.black Order Details

      .item
        h4 = link_to @designer_order.designer.designer_name, designer_path(@designer_order.designer)
        p.location #{@designer_order.designer.designer_city}, #{@designer_order.designer.designer_country.name if @designer_order.designer.designer_country.present? }
        table
          tr
            th width="95" ITEM
            th width="195" PRODUCT INFO
            th width="125" QUANTITY
            th width="125" PRICE
            th width="95" TAX
            th width="135" ITEM TOTAL
          - @designer_order.order_items.each do |order_item|

            tr
              td = image_tag ""
              td
                p = link_to order_item.item.product.name, product_path(order_item.item.product)
                p #{order_item.item.product.short_description}
                p Size: #{order_item.item.size.us_value}

              td
                span #{order_item.quantity}
              td
                span #{number_to_currency order_item.total, separator: '.'}
              td
                span #{number_to_currency order_item.total_tax, separator: '.'}
              td
                span #{number_to_currency order_item.total_with_tax, separator: '.'}


      .total
        p
          span Order Subtotal:
          em #{number_to_currency @designer_order.total , separator: '.'}
        p
          span Taxes:
          em #{number_to_currency @designer_order.total_tax, separator: '.' }
        p
          span 
            strong Order Total:
          strong
            em #{number_to_currency @designer_order.total_with_tax, separator: '.' }

    .items
      h3.black Returns
      .item
        table
          tr
            th width="95" ITEM
            th width="195" PRODUCT INFO
            th width="125" QUANTITY
            th width="125" STATUS
            th width="135" REFUND

          - @designer_order.order_items.collect{|o_i| o_i.returns }.flatten.each do |return_obj|
            - logger.debug return_obj
            tr
              td = image_tag ""
              td
                p = link_to return_obj.order_item.item.product.name, product_path(return_obj.order_item.item.product)
                p #{return_obj.order_item.item.product.short_description}
                p Size: #{return_obj.order_item.item.size.us_value}

              td
                span #{return_obj.quantity}
              td
                span #{return_status_to_string(return_obj.status)}
              td
                span #{number_to_currency return_obj.return_price, separator: '.'}


  - unless params.include?(:print)
    p.back = raw "Back to #{link_to "Manage my Orders", designer_orders_path}"

        
