.edit_category
  = form_for(@category) do |f|
    - if @category.errors.any?
      #error_explanation
        h2
          = pluralize(@category.errors.count, "error")
          | prohibited this category from being saved:
        ul
          - @category.errors.full_messages.each do |msg|
            li= msg
    .field
      = f.label :name
      = f.text_field :name
    .cl

    .field
      = label "switch", "Is Subcategory"
      = check_box_tag("switch", "is_subcat", !@category.category_id.blank?, { :class => 'switch' })
    .cl

    .field.category_id(style="display: #{@category.category_id.blank? ? "none" : "block"}")
      = f.label :category_id
      = f.select :category_id, Category.where(category_id: nil).collect{|c| [c.name, c.id] }, { include_blank: true }
    .cl

    .field.banner(style="display: #{@category.category_id.blank? ? "block" : "none"}")
      = f.label :banner
      = f.file_field :banner
    .cl

    .field.featured-in-style-directory(style="display: #{@category.category_id.blank? ? "block" : "none"}")
      = f.label :featured_in_style_directory
      = f.check_box :featured_in_style_directory
    .cl

    .field.featured-in-style-directory(style="display: #{@category.category_id.blank? ? "block" : "none"}")
      = f.label :style_directory_image
      = f.file_field :style_directory_image
    .cl

    .field.size-chart-man
      = f.label :size_chart_man
      = f.file_field :size_chart_man
    .cl

    .field.size-chart-woman
      = f.label :size_chart_woman
      = f.file_field :size_chart_woman
    .cl

    .field.size-chart-unisex
      = f.label :size_chart_unisex
      = f.file_field :size_chart_unisex
    .cl    

    br
    br
    - if @category.banner.exists?
      .featured-in-style-directory
        em Current Banner
        br
        = image_tag @category.banner(:small)

    - if @category.style_directory_image.exists?
      .featured-in-style-directory
        em Current Style Directory Image
        br
        = image_tag @category.style_directory_image(:small)


    - if @category.size_chart_man.exists?
      .featured-in-style-directory
        em Man Size Chart
        br
        = image_tag @category.size_chart_man

    - if @category.size_chart_woman.exists?
      .featured-in-style-directory
        em Woman Size Chart
        br
        = image_tag @category.size_chart_woman

    - if @category.size_chart_unisex.exists?
      .featured-in-style-directory
        em Unisex Size Chart
        br
        = image_tag @category.size_chart_unisex





    .buttons
      = f.submit "Save", class: "button dark"
  .cl
