- title @category.name
- meta_description "#{@category.name} description."
- meta_keywords @category.name

h1 Editing category
= render 'form'
= link_to 'Show', @category
br
= link_to 'Back', categories_path
