- title "Categories"
- meta_description "admin categories description."
- meta_keywords "Category"
h1.dashboard_index Listing categories
.buttons.dashboard_index
  = link_to 'New Category', new_category_path, class: "button dark"
table.dashboard_table
  tr
    th Name
    th Parent
    th Actions

  - @categories.each do |category|
    tr
      td= category.name
      td= category.category ? category.category.name : ''
      td
        = link_to 'Show', category
        ' 
        = link_to 'Edit', edit_category_path(category)
        ' 
        = link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete
.cl