- title @category.name
- meta_description "#{@category.name} description."
- meta_keywords @category.name

- content_for :admin_menu do
  = render partial: "/shared/add_to_home_page",locals: {entity: @category}

- content_for :javascript_includes do
  javascript:
    $(function(){
      INFINITE_SCROLLING.setup(".loading_area");
    })

- if user_signed_in? and current_user.is_admin?
  - content_for :admin_menu do
    li= link_to 'Edit Category', edit_category_path(@category)


- cache "views_category_show_#{@category_ids}_#{session_gender}" do
  .post
    .image
      = image_tag @parent_category.banner.url(:banner)
      h2.mercury-region#country_name data-type="editable" data-mercury="simple"
        = raw @parent_category.name

  == render partial: "/shared/product_filters", locals: {form_url: category_path(@category), categories: @category.subcategories_with_product(session_gender), designers: @designers, countries: @countries}

  .featured
  	== render partial: "/products/products", locals: {products: @products, id: 'products', no_pagination: true}
  .loading_area style="text-align:center"

