p
  | Welcome #{@resource.email}!
p You can confirm your account email through the link below:

p= link_to 'Confirm my account', user_confirmation_url(:confirmation_token => @resource.confirmation_token)
