div style="padding:0 25px;"
  div style="padding:10px 0;color:#666666;font-size:23px" Reset your password
  div style="border:1px solid #CCCCCC;"
  p style="color:#333333;margin-top:20px;"
    | As you requested, here are your ZIBA Style login details
    br and a link to reset your password
  p style="color:#333333;maring: 5px 0;"
    = "Email: #{@resource.email}"
  p style="color:#3233cc;margin:22px 0;"
    = link_to 'Reset your password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
  div style="border:1px solid #CCCCCC;"
  p style="color:#333333;padding:24px 0 1px;"
    | Still having difficulties?
    br
      | The ZIBA Style customer support team is also available should you have any questions.
      br
        | Please send an email to 
        <a href="mailto:support@ziba-style.com">support@ziba-style.com</a>
        |  or call us at +1-888-730-7720