- if @valid_product and @product.status == Product::STATUS[:pending]
  .product_approval_form
    = form_for(@product) do |f|
      = f.hidden_field :product_request_approval
      p Your product is now ready to submit for approval
      = f.submit "Submit for Approval", class: "button dark"

- if @valid_product and @product.status == Product::STATUS[:approved]
  .product_approval_form
    = form_for(@product) do |f|
      = f.hidden_field :product_back_to_pending
      p Your product is on the store and locked, click the following button to take the product of the store and edit it
      = f.submit "Edit my product", class: "button dark"

- if !@product.new_record? and @product.status == Product::STATUS[:pending_approval]
  .product_approval_form
    p This product is pending for approval

.product_form_nav
  = render "product_form_nav"

.product_form
  = form_for(@product) do |f|
    = hidden_field_tag :view, "edit"
    - if @product.errors.any?
      #error_explanation
        h2
          = pluralize(@product.errors.count, "error")
          '  prohibited this product from being saved:
        ul
          - @product.errors.full_messages.each do |msg|
            li= msg

    .field
      = f.label :gender, "Gender"
      .radio
        - Category::GENDER_TYPES.each do |gender, type|
          = f.label :gender_type, (gender == :both) ? "unisex" : gender
          = radio_button_tag :gender_type, type, (@product.gender_type == type), {name: 'product[gender_type]', disabled: @disable, :class => "form_product_gender_radio"}
    .cl

    /TODO: change selection of categories based on GenderType? - javascript
    .field
      = f.label :primary_category_id, 'Category'
      / = f.grouped_collection_select(:primary_category_id, Category.where{category_id == nil}, :categories, :name, :id, :name, disabled: @disable)
      = f.select :primary_category_id, grouped_options_for_select(Category.where{category_id == nil}.map{ |cat| [cat.name, cat.categories.map{ |c| [c.name, c.id, {'data-gender_type'=>c.gender_type}] } ] }, (@product.primary_category ? @product.primary_category.id : nil)), disabled: @disable, :include_blank => true

    .cl

    / .field
    /   = f.label :other_category_ids, 'Secondary Categories'
    /   .multiple
    /     = f.grouped_collection_select(:other_category_ids, Category.where{category_id == nil}, :categories, :name, :id, :name, {}, :multiple => true, disabled: @disable)
    / .cl

    .field
      = f.label :name
      = f.text_field :name, disabled: @disable
    .cl

    .field
      = f.label :active
      = f.check_box :active
    .cl

    .field
      = f.label :is_custom
      = f.check_box :is_custom
    .cl

    .field
      = f.label :short_description
      = f.text_field :short_description, disabled: @disable
    .cl

    .field
      = f.label :inspiration
      = f.text_area :inspiration, disabled: @disable
    .cl

    .field
      = f.label :materials
      = f.text_area :materials, disabled: @disable
    .cl

    .field
      = f.label :product_measurements
      = f.text_area :product_measurements, disabled: @disable
    .cl

    .field
      = f.label :price
      = f.text_field :price, disabled: @disable
    .cl

    / .field
    /   = f.label :status
    /   br
    /   = f.number_field :status

    = f.fields_for :primary_image do |file|
      .field
        - if file.object and file.object.id and !file.object.attachment.url.include?('missing')
          = image_tag(file.object.attachment.url(:mini))
          = link_to 'crop', file_attachment_path(file.object)
        = file.label :primary_image
        = file.file_field :attachment, disabled: @disable
      .cl

    = f.fields_for :pictures do |file|
      .field
        - if file.object and file.object.id and !file.object.attachment.url.include?('missing')
          = image_tag(file.object.attachment.url(:mini))
          = link_to 'crop', file_attachment_path(file.object)

        = file.label :product_picture
        = file.file_field :attachment, disabled: @disable
      .cl

    = f.fields_for :celebrity_pictures do |file|
      .field
        - if file.object and file.object.id and !file.object.attachment.url.include?('missing')
          = image_tag(file.object.attachment.url(:mini))
          = link_to 'crop', file_attachment_path(file.object)
        = file.label :celebrity_picture
        = file.file_field :attachment, disabled: @disable
      .cl
      .field
        = file.label :meta, 'Celebrity Name'
        = file.text_field :meta, disabled: @disable
      .cl
      br

    - if current_user.is_admin?
      br
      h2 Admin Section
      .field
        = f.label :sale
        = f.check_box :sale
      .cl

      .field
        = f.label :sale_price
        = f.text_field :sale_price
      .cl

      .field
        = f.label :shipping_cost
        = f.text_field :shipping_cost
      .cl


    br
    - unless defined? @disable and @disable and !current_user.is_admin?
      .buttons
        = f.submit "Save", class: "button dark"
    .cl
.cl