/dynamic id because not all of these partials are the "#products" div, e.g. "celebrity pics"
div id=(defined?(id) ? id : "products")
  - active = active.nil? ? true : active
  - products.each_with_index do |product, i|
    = render partial: '/products/product', locals: {product: product, active: active, cssclass: ((i+1) % 3 == 0) ? 'last' : '', celebrity_pics: defined?(celebrity_pics) ? celebrity_pics : false}
.cl &nbsp;

- unless products.is_a?(Array) or (defined? no_pagination and no_pagination)
  #pagination.ajax
   = paginate products, window: 3
.cl


/ very similar to the products/product partial
script id="product-template" type="text/x-handlebars-template"
  .box class="{{cssclass}}"
    p class="product-box"
      = link_to "/products/{{id}}" do
        span.link_container
          span class="prod-info"
            | view detail
        img alt="" src="{{catalog_image}}" class="cat-product"
    p.first
      a href=="/products/{{id}}" {{name}}
    p
      a href=="/designers/{{designer.id}}"
        | {{designer.designer_name}}
        span.country_descriptor
          |  (
          | {{designer.designer_country.name}}
          ' 
          img.flag_icon src='{{designer.designer_country.flag_url}}'
          ' )
    |{{#if sale}}
    p.price-before-sale {{original_price_with_shipping_to_currency}}
    p.sale_price {{sale_price_with_shipping_to_currency}}
    |{{else}}
    p.price {{price_with_shipping_to_currency}}
    |{{/if}}
