.box class="#{cssclass}"
  - if active
    p class="product-box"
      = link_to product_path(product) do
        span.link_container
          span class="prod-info"
            | view detail
        /img alt="" src="/assets/css/featured1.jpg"
        - unless defined?(celebrity_pics) and celebrity_pics
          = image_tag product.primary_image.attachment.url(:catalog), class:"cat-product" unless product.primary_image.blank?
        - else
          = image_tag product.celebrity_pictures.first.attachment.url(:catalog), class:"cat-product" unless product.celebrity_pictures.first.blank?
    p.first
      =' link_to product.name, product_path(product)
      - if defined?(celebrity_pics) and celebrity_pics
        ' ON
        = product.celebrity_pictures.first.meta.upcase

    p
      a href=(designer_path(product.designer))
        = product.designer.designer_name 
        span.country_descriptor
          |  (
          = product.designer.designer_country.name
          ' 
          = image_tag product.designer.designer_country.flag.url(:small), class: "flag_icon"
          ' )
    - if product.sale == true
      p.price-before-sale = number_to_currency(product.original_price_with_shipping, separator: '.')
      p.sale_price = number_to_currency(product.sale_price_with_shipping, separator: '.')
    - else
      p.price = number_to_currency(product.original_price_with_shipping, separator: '.')

  - else
    p class="product-box"
      span
        /img alt="" src="/assets/css/featured1.jpg"
        - unless defined?(celebrity_pics) and celebrity_pics
          = image_tag product.primary_image.attachment.url(:catalog), class:"cat-product" unless product.primary_image.blank?
        - else
          = image_tag product.celebrity_pictures.first.attachment.url(:catalog), class:"cat-product" unless product.celebrity_pictures.first.blank?
    p.first
      span
        =' product.name
        - if defined?(celebrity_pics) and celebrity_pics
          ' ON
          = product.celebrity_pictures.first.meta.upcase
    p
      span
        = product.designer.designer_name 
        span.country_descriptor
          |  (
          = product.designer.designer_country.name
          ' 
          = image_tag product.designer.designer_country.flag.url(:small), class: "flag_icon"
          ' )
    - if product.sale == true
      p.price-before-sale = number_to_currency(product.original_price_with_shipping, separator: '.')
      p.sale_price = number_to_currency(product.sale_price_with_shipping, separator: '.')
    - else
      p.price = number_to_currency(product.original_price_with_shipping, separator: '.')
