ul
  - unless @product.new_record?
    li = link_to 'Show Product', @product
    li = link_to "Product Information", edit_product_path(@product)
    li = link_to "Inventory & Size Information", products_sizes_path(@product)
    li = link_to "Shipping Information", products_shipping_path(@product)
  - else
    li Show Product
    li Product Information
    li Inventory & Size Information
    li Shipping Information 