- title "Product crop studio"
- meta_description "Product crop studio description."
- meta_keywords "Product crop studio"
h2 Crop Studio

h3 Primary Image
= image_tag @product.primary_image.attachment.url(:mini)
