- title "Listing Products"
- meta_description "Listing Products description."
- meta_keywords "Products"
h1.dashboard_index Listing products
.buttons.dashboard_index
  = link_to 'New Product', new_product_path, class: "button dark"
.search
  = form_tag(products_path, method: "GET") do |f|
    = text_field_tag :query, "Search...", {title: "Search...", class: "blink"}
    = submit_tag "Search", class: "button dark"
.cl

.dashboard_filters
  == render partial: "/shared/product_filters", locals: {form_url: products_path, categories: @products.collect{|p| p.categories }.flatten.uniq, designers: [], form_id: "filterFormNoAjax"}

table.dashboard_table
  tr
    th Product Id
    th Number of Items
    th Product Name
    th Category
    th Price
    th Status
    th Date
    th Active
    th Actions
  - @products.each do |product|
    tr
      td= product.id
      td= product.items.count
      td= link_to product.name, product
      td #{product.primary_category.name}
      td= number_to_currency product.price_with_shipping, separator: '.'
      td= product_status_to_string(product.status)
      td= product.created_at.to_date.to_formatted_s(:long)
      td
        = form_for(product, html: {:class => "product_index_active_form"} ) do |f|
          = f.check_box :active, class: :product_index_active_checkbox
          noscript
            = f.submit "Save"

      td
        - if product.status == Product::STATUS[:pending]
          = link_to 'Edit', edit_product_path(product)
        - else
          = link_to 'Edit Sizes', products_sizes_path(product)
        '
        = link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete

- unless @products.is_a?(Array)
  = paginate @products, window: 3
  .cl
.cl
