- title "Share Product"
- meta_description "Share Product description."
- meta_keywords "Share Product"
- content_for :javascript_includes do
  meta property="og:type" content="website"
  meta property="og:title" content="#{@product.name}"
  -  if @product.primary_image
    meta property="og:image" content="#{raw @product.primary_image.attachment.url}"
  meta property="og:description" content="#{@product.short_description}"
  meta property="og:url" content="#{raw share_product_url(@product)}"

script
  | window.location = "#{raw product_path(@product)}";