- title "Share product by email"
- meta_description "Share product by email description."
- meta_keywords "Share product by email"
.request_invitation class="#{(request.xhr?) ? "narrow" : ""}"
  h2 RECOMMEND THIS PRODUCT TO A FRIEND
  .form
    = form_for(@invitation) do |f|
      - if @invitation.errors.any?
        #error_explanation
          h2
            = pluralize(@invitation.errors.count, "error")
            ' prohibited your invitation request from behing sent:
          ul
            - @invitation.errors.full_messages.each do |msg|
              li= msg


      .field
        = f.text_field :email, title: "YOUR FRIEND'S EMAIL ADDRESS *", value: "YOUR FRIEND'S EMAIL ADDRESS *", class: :blink
      .field
        = f.text_area :message, title: "MESSAGE", value: "MESSAGE", class: "designed blink"

      = f.hidden_field :product_id
      .errors style="width: 270px; margin: 0 auto; color:#E02295"
      .field
        = f.submit "SUBMIT", class: "button pink" 
      .cl
    .cl
- if request.xhr?
  script
    | invitiationFormAjax();