- title "Shipping"
- meta_description "Shipping description."
- meta_keywords "Shipping"
.product_form_nav
  = render "product_form_nav"

.product_form
  = form_for(@product) do |f|
    = hidden_field_tag :view, "shipping"
    = hidden_field_tag "product[submitting_shipping_info]", "1"
    - if @product.errors.any?
      #error_explanation
        h2
          = pluralize(@product.errors.count, "error") 
          |  prohibited this product from being saved:
        ul
          - @product.errors.full_messages.each do |msg|
            li= msg

    .field.shipping
      = f.label :weight
      = f.text_field :weight, value: @product.converted_weight, disabled: @disable
      = f.select :weight_type, options_for_select([["kg", "kg"], ["lb", "lb"]], @product[:weight_type]), disabled: @disable
    .cl

    .field.shipping
      = f.label :return_days, 'Return policy'

      .return-policy
        div
          label = 'No Returns'     
          = f.radio_button :return_days_option, '0', checked: (@product.return_days == 0), disabled: @disable
        div
          label = 'Seven Days'
          = f.radio_button :return_days_option, '7', checked: (@product.return_days == 7), disabled: @disable
        div
          label =  'Other: '
          = f.radio_button :return_days_option, 'other', checked: (not [0,7].include? @product.return_days), class: 'other', disabled: @disable
          = f.number_field :return_days, :min => 0, disabled: @disable
      
    .cl

    .field
      = f.label :lead_days
      = f.number_field :lead_days, :min => 0, disabled: @disable
    .cl
      
    .field
      = f.label 'Excluded countries:'
      .multiple
        = f.collection_select(:excluded_country_ids, Country.order{countries.name}.shipping_destinations, :id, :name, {}, :multiple => true, disabled: @disable)
    .cl
    br
    - unless defined? @disable and @disable
      .buttons
        = f.submit "Save", class: "button dark"
    .cl
.cl