- title @product.name
- meta_description "#{@product.name} description."
- meta_keywords @product.name

- content_for :admin_menu do
  = render partial: "/shared/add_to_home_page",locals: {entity: @product}

- if user_signed_in? and current_user.is_admin?
  - content_for :admin_menu do
    li
      = link_to "Edit this product", edit_product_path(@product)
    li
      = link_to "Add this product to editor picks", new_editor_pick_path(product_id: @product.id)

.pre-load-imgs
  - preloaded_images = []
  - if @product.primary_image.attachment?
    - preloaded_images << @product.primary_image.attachment.url(:original)
  - @product.pictures.each do |picture|
    - if picture.attachment?
      - preloaded_images << picture.attachment.url(:original)
      - preloaded_images << picture.attachment.url(:medium)

- cache("views_products_show_#{@product.id}_#{session_gender}") do
  = form_tag shopping_bag_path, id: "cart_form" do
    .product
      .product-left
        .gallery
          p.big-image
            /= link_to "#{image_tag @product.primary_image.attachment.url(:medium)}<span class=\"magnifier\"></span>".html_safe, @product.primary_image.attachment.url(:popup) if !@product.primary_image.blank?
            = link_to (image_tag @product.primary_image.attachment.url(:medium), {:class => "img-zm", 'data-zoom-image'=> "#{@product.primary_image.attachment.url(:original)}"}), @product.primary_image.attachment.url(:popup) if !@product.primary_image.blank?
            = link_to "<span class=\"magnifier\"></span>".html_safe, @product.primary_image.attachment.url(:popup) if !@product.primary_image.blank?
          ul.gallery-nav
            li#gal1
              = product_nav_link @product.primary_image.attachment, 'active' if !@product.primary_image.blank?
              - @product.pictures.each do |picture|
                - unless picture == @product.primary_image
                  = product_nav_link picture.attachment

          .cl &nbsp;

        .product-description.scroll-pane style="#{ @product.is_custom ? "height:330px;" : ""}"
          - unless @product.short_description.blank?
            h5 Description
            p = @product.short_description
          - unless @product.inspiration.blank?
            h5 Inspiration
            p = @product.inspiration
          - unless @product.materials.blank?
            h5 Materials used
            p = @product.materials
          - unless @product.product_measurements.blank?
            h5 Product Measurements
            p = @product.product_measurements

        - if @product.is_custom
          .made_to_order_logo


      .product-right
        .about
          .box
            h5.product_name #{@product.name}
            p.upper #{link_to @product.designer.designer_name, designer_path(@product.designer)} #{!@product.designer.designer_country.blank? ? "(#{@product.designer.designer_country.name})" : ""}
          .box.select-size
            h5
              strong Select Size
              = select :cart, :item_id, @available_items.collect{ |item| [item.size.us_value, item.id] }, { include_blank: 'Select A Size', disabled: @available_items.collect{ |item| item.id if item.is_out_of_stock? }, :selected => 0 }
            .cl &nbsp;
            - unless @product.one_size_is_only_size?
              p (#{ link_to "size chart", @product.get_size_chart.url, class: 'size-chart-link' })

          - if @product.designer.designer_ships_from.present?
            .box
              h5.light This Item Ships From:
              p= @product.designer.designer_ships_from


          .box
            h5.light This Item Ships To:
            p
              | Worldwide
              - unless @product.product_excluded_countries.blank?
                = " (except #{@product.product_excluded_countries.collect{|c| c.excluded_country.name }.join(",")})"


          .box
            h5.light
              | Estimated Shipping/
              br/
              | Delivery Time:
            p = "#{ pluralize(@product.lead_days.to_i + 4, "day") }"


          .box
            h5.light Return Policy:
            p
              - unless @product.return_days == 0
                = "#{ pluralize(@product.return_days, "day")}"
              - else
                | No returns allowed


          .box
            h5.light Shipping Rating
            p
              - unless @product.designer.average_feedback_rating.blank?
                = render partial: "/shared/feedback_stars", locals: {opts: {disabled: :disabled, rating: @product.designer.average_feedback_rating}}
              -else
                | The designer has not been rated yet

          .box.share
            h5.light Share
            - if current_user
              == share_product_by_email_link(@product)
            == share_on_facebook_link(@product)
            = share_on_twitter_link(share_product_url(@product), "#{@product.name} @ZIBASTYLE")
            == share_on_pinterest_link(@product)

          / .box
          /   h5
          /     | Shipping Rating
          /     span.details (details)
          /   p
          /     img alt="" src="/assets/css/stars.png"
          /   .popup
          /     img alt="" src="/assets/css/chart.jpg"


        .product-spec
          .box.price-box
            - if @product.sale == true
              .prices
                span.price-before-sale = number_to_currency(@product.original_price_with_shipping, separator: '.')
                div = number_to_currency(@product.sale_price_with_shipping, separator: '.')
            - else
              p.price-not-on-sale = number_to_currency(@product.original_price_with_shipping, separator: '.')
          .box.quantity
            span Quantity
            br
            = text_field :cart, :quantity, value: 1, style: "width:30px; margin: 44px 0px 0px 10px;"
            .cl &nbsp;
          .box.last
            - if current_user
              a.add-to-bag href="#"
            - else
              a.add-to-bag-blank.login_modal_button href='#general_modal' data-message="We are a members only community. please login to continue on your global shopping trip."
            p.loading-animation style="display:none;text-align:center;margin-top:40px;" =image_tag '/assets/css/ajax-loader.gif'
            noscript
              = submit_tag "Add to Cart"
          .cl &nbsp;
        .cl &nbsp;

      .cl
      .shipping-details
        .ups-logo = image_tag '/assets/we-ship-with-ups.png'
        p.complementary_shipping Complementary shipping on all orders



    .cl &nbsp;

- content_for :inline_javascript do
  script
    | var product_size_quantity_values = #{@quantity_values.html_safe};
    | $(#{raw preloaded_images}).preload();