- title "Product Sizes"
- meta_description "Product sizes description."
- meta_keywords "Product Sizes"

.product_form_nav
  = render "product_form_nav"

.product_form.table
	= form_for(@product) do |f|
		= hidden_field_tag :view, "sizes"
		table.dashboard_table
			tr
				th US size
				th Other sizes
				th Inventory
			= f.fields_for :items do |item|
				tr
					td
						= item.object.size.us_value
					td
						= item.object.size.other_values.collect{|size| "#{size[0]} : #{size[1]}" }.join(" | ")
					td
						- unless @product.is_custom
							= item.label :quantity
							= item.text_field :quantity
						- else
							| No quantity | Make this size available
							'
							= item.check_box :quantity
		br
		.buttons= submit_tag "Save", class: "button dark"
.cl