/ table
/   tr
/     th style="width:100px;font-weight: bold;"
/     - @product.items.each do |item|
/       th style="width:50px;text-align:center;"
/         = item.size.us_value

/   - @product.items.first.size.other_values.each_with_index do |current_size, i|
/     tr
/       td style="width:100px;font-weight: bold;text-align:right"
/         = current_size[0]
/       - @product.items.collect{|i| i.size }.each do |size|
/         td style="width:50px;text-align:center;"
/           = size.other_values[current_size[0]]


/div style="display:block;"
  /p = @product.get_size_chart
  /p = '123'
  = image_tag @product.get_size_chart
  /= image_tag @product.categories.first.try :size_chart_man
