- title "Sale"
- meta_description "Sale description."
- meta_keywords "Sale"
= form_for(@sale) do |f|
  .field.banner
    = f.label :banner
    = f.file_field :banner
  .cl

  .buttons
    = f.submit "Upload", class: "button dark"
