- title "Sales"
- meta_description "Sales description."
- meta_keywords "Sales"
- if user_signed_in? and current_user.is_admin?
  - content_for :admin_menu do
    li= link_to 'Edit page', edit_sale_path(@sale)

- content_for :javascript_includes do
  javascript:
    $(function(){
      INFINITE_SCROLLING.setup(".loading_area");
    })

- cache "views_sales_index_#{session_gender}" do
  .post
    .image
      = image_tag @sale.banner.url(:banner)
      h2.mercury-region#country_name data-type="editable" data-mercury="simple"
        | Sale

  //! Filter
  == render partial: "/shared/product_filters", locals: {form_url: sales_path, categories: @categories, designers: @designers, sizes: @sizes}

  .featured
    == render partial: "/products/products", locals: {products: @products, id: 'products'}
  .loading_area style="text-align:center"
