.footer
  .left
    ul.social
      li.facebook
        = link_to "", "https://www.facebook.com/ZibaStyle", target: "_blank"
      li.twiiter
        = link_to "", "https://twitter.com/#!/ZIBASTYLE", target: "_blank"
      li.pinterest
        = link_to "", "http://pinterest.com/zibastyle/", target: "_blank"
    ul.footer-nav
      li
        = link_to "About", about_path
      li
        = link_to "Style Directory", style_directory_path
      - unless current_user
        li
          = link_to "Blog", blog_path
      li
        = link_to "Privacy", privacy_path
      li
        = link_to "Terms", terms_of_service_path
      - if current_user
        li
          = link_to "Shipping & Returns", shipping_and_returns_path
        li
          = link_to "FAQ", faq_path
      li
        = link_to "Contact", contact_us_path
      - unless current_user
        li
          = link_to "DESIGNERS > APPLY TO BE FEATURED", designer_sign_up_path, class: "italic"

    .cl &nbsp;
  .right
    p &copy; 2012-2013 Ziba Style, inc. All rights reserved.
  .cl &nbsp;
  /! end Footer
