ul.menu
  - if user_signed_in?
    - if current_user.unused_credits.length > 0
      li
        = link_to "Credit: #{number_to_currency current_user.unused_credits.collect{|c| c.amount }.sum, separator: '.'}", "#", onclick: "return false", class: "credit_nav_link"
    - if current_user_is_admin?
      li
        a.hover = link_to "Admin", admin_approve_designers_path
        ul.dd
          li= link_to "dashboard", admin_approve_designers_path
          = content_for :admin_menu
          - if current_user_is_admin?
            = render "/admin/switch_to_designer"
    - if current_user_is_designer? and admin_as_designer?
      = render "/admin/switch_to_admin"
    li
      = link_to "Account", account_path     
    /- if current_user_is_designer? or current_user_is_admin?
    - if current_user_is_confirmed_designer? 
      li
        = link_to 'Boutique', boutique_designers_path
    li
      = link_to 'Logout', destroy_user_session_path, method: :delete
    li
      /  #, class: "cart_link" add this class to the link to open it in a popup
      - cart_class = show_cart_popup_on_page? ? 'cart_link' : ''
      = link_to "<img alt=\"View Cart\" src=\"/assets/css/bag.png\"/><span class=\"#{cart_class}\">(#{current_user.count_cart.to_s})</span>".html_safe, '/shopping_bag'
  - else 
    li.first style="height: 20px"
