#navigation
  / - cache "layout_navigation" do
  
  - category_top_levels = Category.top_levels(session_gender)
  /- width = 530
  /- width += 56 if current_user
  /- width += 114 if category_top_levels.collect(&:name).include?("Objets D'Art")
  /- width += 111 if category_top_levels.collect(&:name).include?("Accessories")

  ul style="width:800px;"
    li
      = link_to 'Countries', countries_path, {class: params[:controller] == "countries" ? 'active' : ''}
      ul.dd.countries-dropdown
        - Country.with_designers.each do |country|
          li
            = link_to country.name, country_path(country), class: 'country-name'

    - category_top_levels.each do |category|
      li
        = link_to category.name, category_path(category), {class: (params[:controller] == "categories" and params[:id].to_i == category.id) ? 'active' : ''}
        - unless "Objets D'Art" == category.name
          ul.dd.countries-dropdown
            - category.subcategories_with_product(session_gender).each do |subcat|
              li
                = link_to subcat.name, category_path([category, subcat])

    li
      = link_to "Editors' Picks", editor_picks_path, {class: params[:controller] == "editor_picks" ? 'active' : ''}
    li
      = link_to 'Designers', designers_path, {class: params[:controller] == "designers" ? 'active' : ''}

    - if current_user
      li
        = link_to 'Sale', sales_path, {class: params[:controller] == "sales" ? 'active' : ''}
      li.last
        = link_to "Blog", blog_path, {class: (params[:controller] == "pages" and params[:action] == "blog") ? 'active' : ''}
    - else
      li.last
        = link_to 'Sale', sales_path, {class: params[:controller] == "sales" ? 'active' : ''}

    
  .sex
    / only display men / women switches on certain pages
    - if gender_switch_enabled(params[:controller], params[:action])
      = link_to 'WOMEN', browsing_gender_path(User::GENDER[:female]), method: :put, class: (current_user_is_browsing_womens? ? 'women active' : 'women')
      = link_to 'MEN', browsing_gender_path(User::GENDER[:male]), method: :put, class: (current_user_is_browsing_mens? ? 'men active' : 'men')
.cl &nbsp;