doctype html
html
  head
    title= title
    /meta name="robots" content="noodp,noydir"
    meta name="robots" content="NOODP"
    meta name="description" content="#{meta_description}"
    meta name="keywords" content="#{meta_keywords}"

    = stylesheet_link_tag   "application", :media => "all"
    = yield(:ready_styles) if content_for?(:ready_styles)
    = csrf_meta_tags
    link href="/favicon.ico" rel="shortcut icon"
  body onload="setupBlocks();"
    .shell.floatting_header_footer.shell_homepage
      #header
        .header-top
          .right
            = render :partial => '/layouts/menu'
          .cl &nbsp;

        h1#logo 
          = link_to 'Ziba', root_path, style: "#{user_signed_in? ? '' : 'left: 50%; margin-left: -60px;'}"
        - if user_signed_in?      
          .header-bottom      
            = render :partial => '/layouts/navigation'      
        - else
          .border style="border-bottom:solid 1px #CCC; margin-top: 10px; height:52px"

      - if !current_user
        .login_subheader
          .login_subheader_bg
          .login_subheader_content
            p.top_description WE TRAVEL THE WORLD TO BRING YOU THE BEST IN LOCALLY INSPIRED LUXURY. 
            .button_row
              a.top_button.login_modal_button href="#login_modal" LOGIN
              a.top_button.login_modal_button style="float: right; " href="#invite_modal" GET INVITED
              .cl
          #login_modal.login_modal_window style="#{@need_log_in ? 'display:block' : ''}"
            = render partial: "devise/sessions/new_modal", layout: "layouts/modal"
          #invite_modal.login_modal_window
            = render partial: "contacts/request_invitation_modal", layout: "layouts/modal"
          #forgot_password_modal.login_modal_window
            = render partial: "devise/passwords/new_modal", layout: "layouts/modal"
          - if @signed_out
            #general_modal.login_modal_window.signed_out_modal style="display:block"
              = render partial: "devise/signed_out_modal", layout: "layouts/modal"
          - else
            #general_modal.login_modal_window
              = render partial: "devise/general_modal", layout: "layouts/modal"

      #main
        - if !notice.blank? or !alert.blank?
          .alert_messages
            - if !notice.blank?
              p.notice= notice
            - if !alert.blank?
              p.alert= alert
            = link_to "X", "#", class: :alert_messages_button



        == content_for?(:content) ? yield(:content) : yield

    = render :partial => '/layouts/footer'
    - unless Rails.env.development?
      = render :partial => '/layouts/google_analytics'
    = javascript_include_tag "application"
    = yield(:javascript_includes) if content_for?(:javascript_includes)
    = yield(:inline_javascript) if content_for?(:inline_javascript)