- content_for :content do
  .tab-nav.admin
    ul
      li = link_to "Approve Designers", admin_authorize_designers_path, class: (params[:controller] == "admin" and params[:action_name] == "authorize_designers")   ? "active" : ""
      li = link_to "Approve Boutiques", admin_approve_designers_path,   class: (params[:controller] == "admin" and params[:action_name] == "approve_designers")     ? "active" : ""
      li = link_to "Approve Products",  admin_approve_products_path,    class: (params[:controller] == "admin" and params[:action_name] == "approve_products")      ? "active" : ""
      li = link_to "Approve Videos",    admin_approve_videos_path,      class: (params[:controller] == "admin" and params[:action_name] == "approve_videos")        ? "active" : ""
      li = link_to "Categories",        categories_path,                class: (params[:controller] == "categories")                                                ? "active" : ""  
      li = link_to "Countries",         countries_path,                 class: (params[:controller] == "countries")                                                 ? "active" : "" 
      li = link_to "Designers Banner",  upload_designers_page_banner_designers_path,   class: (params[:controller] == "designers")                                                 ? "active" : ""
      li = link_to "Editor Picks",      editor_picks_path,              class: (params[:controller] == "editor_picks")                                              ? "active" : ""
      li = link_to "Sales Banner",      sales_path,                     class: (params[:controller] == "sales")                                                     ? "active" : ""
      li = link_to "Orders",            admin_orders_path,              class: (params[:controller] == "orders")                                                    ? "active" : ""
      li = link_to "Users",             users_path,                     class: (params[:controller] == "users")                                                     ? "active" : ""
      li = link_to "Returns",           admin_returns_path,             class: (params[:controller] == "returns")                                                   ? "active" : ""
      li = link_to "Products",          admin_products_path,            class: (params[:controller] == "products")                                                  ? "active" : ""


  .tab-content
    == yield

= render template: 'layouts/application'
