- content_for :content do

  .tab-nav#users-tab-nav
    ul
      - settings_class = ((params[:action] == "edit" || params[:action] == "update") and params[:controller] == "users/registrations" and params[:view] == "account")  ? "active" : ""
      li = link_to "SETTINGS", account_path,             class: settings_class

      li = link_to "SHIPPING INFO", shipping_info_path,  class: ((params[:action] == "edit" || params[:action] == "update") and params[:controller] == "users/registrations" and params[:view] == "shipping") ? "active" : ""
      li = link_to "ORDERS", orders_path,                class: (params[:controller] == "orders")        ? "active" : ""
      li = link_to "RETURNS", returns_path,              class: (params[:controller] == "returns")       ? "active" : ""
      li = link_to "FEEDBACK", review_orders_path,      class: (params[:action] == "customer_index" and params[:controller] == "feedbacks")     ? "active" : ""
      li.last = link_to "INVITATIONS", invitations_path, class: (params[:controller] == "invitations")   ? "active" : ""
  .tab-content
    == yield

= render template: 'layouts/application'