- content_for :content do

  .tab-nav#boutique-tab-nav
    ul
      li = link_to "MY PROFILE",        boutique_designers_path,      class: (params[:action] == "boutique" and params[:controller] == "designers")       ? "active" : ""
      li = link_to "SETTINGS",          settings_designers_path,      class: (params[:controller] == "designers" and params[:action] == "settings")       ? "active" : ""
      li = link_to "MY PRODUCTS",       products_path,                class: (params[:controller] == "products" or params[:controller] == "file_attachments")                                          ? "active" : ""
      li = link_to "MY VIDEOS",         videos_designers_path,        class: ((params[:controller] == "designers" and params[:action] == "videos") or (params[:controller] == "designer_videos" and params[:action] == "new"))      ? "active" : ""
      li = link_to "MY ORDERS",         designer_orders_path,         class: (params[:controller] == "designer_orders")                                   ? "active" : ""
      li = link_to "RETURNS",           designer_returns_path,        class: (params[:controller] == "returns")                                           ? "active" : ""
      li = link_to "FEEDBACK",          designers_feedbacks_path,     class: (params[:action] == "index" and params[:controller] == "feedbacks")          ? "active" : ""
      li.last = link_to "SALES REPORT", sales_report_designers_path,  class: (params[:action] == "sales_report" and params[:controller] == "designers")   ? "active" : ""
  .tab-content.boutique
    == yield

= render template: 'layouts/application'
