<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <title>Mercury Editor</title>
    <%= stylesheet_link_tag    'mercury' %>
    <%= javascript_include_tag 'jquery-1.7', 'mercury' %>
    <script type="text/javascript">

      $(function() {
          $(window).bind('mercury:ready', function() {
              var link = $('#mercury_iframe').contents().find('#edit_link');
              console.log('hi', link);
              Mercury.saveURL = link.data('save-url');
          });
      });

      $(window).bind('mercury:saved', function() {  
          window.location = window.location.href.replace(/\/editor\//i, '/');  
      });  
    </script>
  </head>
  <body>
    <script type="text/javascript">
      // Set to the url that you want to save any given page to, leave null for default handling.
      var saveUrl = null;

      // Instantiate the PageEditor
      new Mercury.PageEditor(saveUrl, {
        saveStyle:  "form", // 'form', or 'json' (default json)
        saveMethod: null, // 'PUT', or 'POST', (create, vs. update -- default PUT)
        visible:    true  // boolean - if the interface should start visible or not
      });
    </script>
  </body>
</html>
