doctype html
html
  head
    title ZIBAStyle
    = stylesheet_link_tag   "application", :media => "all"
    = stylesheet_link_tag   "https://fonts.googleapis.com/css?family=GFS+Didot"
    = javascript_include_tag "application"
    = csrf_meta_tags
    link href="/favicon.ico" rel="shortcut icon"
  body style="background-color:white; color:black; padding:10px;"
    div style="width:700px;"
      == content_for?(:content) ? yield(:content) : yield
